/*--- Avanquest WebEasy Page Style ---*/

.cc122              { /* Common */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	color           : #400000;
	}
.cc123              { /* Common */
	font            : bold 10pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	color           : #972508;
	text-align      : right;
	}
.cc124              { /* Common */
	font            : bold 10pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	color           : #972508;
	text-align      : center;
	}
img#e10             { /* b-norm2.gif */
	position        : absolute;
	left            : 136.50pt;
	top             : 131.25pt;
	width           :  16.50pt;
	height          :  16.50pt;
	}
div#e9              { /* ATM (Problemas de Articu... */
	position        : absolute;
	left            : 159.00pt;
	top             : 134.25pt;
	width           : 259.50pt;
	height          :  17.25pt;
	}
div#e8              { /* Deberian ustedes saber qu... */
	top             : 179.75pt;
	height          : 197.25pt;
	}
span#e7             { /* s7img1.jpg */
	background      : transparent url(../images/s7img1.jpg) no-repeat top left;
	position        : absolute;
	left            : 174.75pt;
	top             : 385.50pt;
	width           : 316.50pt;
	height          : 165.00pt;
	}

/*--- EndOfFile ---*/
