/*--- Avanquest WebEasy Page Style ---*/


.cc38               { /* Common */
	border          :   2.25pt solid #d3c2be;
	}
span#e31            { /* patrodent001012.gif */
	background      : transparent url(../images/patrodent001012.gif) no-repeat top left;
	position        : absolute;
	left            :   1.50pt;
	top             :   0.00pt;
	width           : 103.50pt;
	height          :  23.25pt;
	}
span#e30            { /* patrodent001011.gif */
	clip            : rect(0.00pt,103.50pt,6.75pt,0.00pt);
	background      : transparent url(../images/patrodent001011.gif) no-repeat top left;
	position        : absolute;
	left            :   1.50pt;
	top             :   0.00pt;
	width           : 103.50pt;
	height          :   6.75pt;
	}
span#e29            { /* patrodent001010.gif */
	clip            : rect(0.00pt,459.00pt,6.75pt,0.00pt);
	background      : transparent url(../images/patrodent001010.gif) no-repeat top left;
	position        : absolute;
	left            : 105.00pt;
	top             :   0.00pt;
	width           : 459.00pt;
	height          :   6.75pt;
	}
span#e28            { /* patrodent001009.gif */
	clip            : rect(0.00pt,103.50pt,15.00pt,0.00pt);
	background      : transparent url(../images/patrodent001009.gif) no-repeat top left;
	position        : absolute;
	left            :   1.50pt;
	top             :  96.00pt;
	width           : 103.50pt;
	height          :  15.00pt;
	}
span#e27            { /* patrodent001008.gif */
	clip            : rect(0.00pt,459.00pt,15.00pt,0.00pt);
	background      : transparent url(../images/patrodent001008.gif) no-repeat top left;
	position        : absolute;
	left            : 105.00pt;
	top             :  96.00pt;
	width           : 459.00pt;
	height          :  15.00pt;
	}
div#e25             { /* La clínica esta dotada d... */
    top             : 190.00pt;
    height          : 287.25pt;
    }
div#e32             { /* La clínica esta dotada d... */
    top             : 370.00pt;
    height          : 287.25pt;
    }

span#e24            { /* patrodent2001001.jpg */
	background      : transparent url(../images/patrodent2001001.jpg) no-repeat top left;
	position        : absolute;
	left            :   0.75pt;
	top             :   6.75pt;
	width           : 563.25pt;
	height          :  89.25pt;
	}
span#e10            { /* instala1.jpg */
	background      : transparent url(../images/instala1.jpg) no-repeat top left;
	position        : absolute;
	left            : 194.25pt;
	top             : 256.50pt;
	width           : 274.50pt;
	height          :  96.00pt;
	}
span#e9             { /* patrodent004003.jpg */
	background      : transparent url(../images/patrodent004003.jpg) no-repeat top left;
	position        : absolute;
	left            : 267.75pt;
	top             : 473.25pt;
	width           : 129.00pt;
	height          : 171.75pt;
	}
span#e8             { /* patrodent004002.jpg */
	background      : transparent url(../images/patrodent004002.jpg) no-repeat top left;
	position        : absolute;
	left            : 415.50pt;
	top             : 504.75pt;
	width           : 129.75pt;
	height          :  97.50pt;
	}
span#e7             { /* patrodent004001.jpg */
	background      : transparent url(../images/patrodent004001.jpg) no-repeat top left;
	position        : absolute;
	left            : 117.75pt;
	top             : 504.75pt;
	width           : 130.50pt;
	height          :  97.50pt;
	}
div#page {
    height: 695pt;
}
div.copy {
    top: 675.75pt;
}
div.volver {
    top: 655pt
}


/*--- EndOfFile ---*/
