/*--- Avanquest WebEasy Document Style ---*/

*                   { /* All Elements */
	margin          : 0px;
	padding         : 0px;
	}

body                { /* Page Body */
    background-color: #ffffff;
    text-align      : center;
    overflow        : auto;
    }
br {
    height: 1em;
}
a:link              { /* Document Style */
	color           : #972508;
	text-decoration :none;
	}
a:visited           { /* Document Style */
	color           : #972508;
	text-decoration :none;
	}
a:hover             { /* Document Style */
	color           : #501000;
	text-decoration :none;
	}
a:active            { /* Active Links */
	color           : #501000;
	}
ol,ul               { /* All Lists */
    list-style-type: none;
    }
ol li,ul li              { /* All Lists */
    list-style-type: none;
    }

p                   { /* All Paragraphs */
	margin-bottom   : 1em;
	}
p a                 {
	background-color: transparent;
	border          : 0px;
	padding         : 0px;
	}
a.navigation:link   {
	color           : #dfe5f8;
	}
a.navigation:visited{
	color           : #d0daf4;
	}
a.navigation:hover  {
	color           : #f3f8df;
	}
a.panel:link        {
	color           : #583c54;
	}
a.panel:visited     {
	color           : #800080;
	}
a.panel:hover       {
	color           : #762310;
	}
table.ct07          { /* Document Style */
	color           : #000000;
	background-color: #ffffff;
	}
table.ct07 caption  { /* Document Style */
	color           : #000000;
	font            : bold 10pt Arial, sans-serif;
	}
table.ct07 td       { /* Document Style */
	color           : #000000;
	font            : 10pt Arial, sans-serif;
	}
table.ct07 th       { /* Document Style */
	color           : #000000;
	font            : 10pt Arial, sans-serif;
	background-color: #ffffff;
	}
table.ct07 .ch07 th { /* Document Style */
	color           : #000000;
	font            : 10pt Arial, sans-serif;
	background-color: #ffffff;
	}
.address,address    {
	color           : #000000;
	font            : 10pt Arial, sans-serif;
	}
.citation,cite      {
	color           : #000000;
	font            : italic 10pt Arial, sans-serif;
	}
.code,code          {
	color           : #000000;
	font            : 10pt 'Courier New', monospace;
	}
.deco               {
	color           : #be3918;
	background-color: #be3918;
	}
.emphasis,em        {
	color           : #000000;
	font            : 10pt Arial, sans-serif;
	}
.footer             {
	color           : #000000;
	font            : 8pt Arial, sans-serif;
	text-align      : center;
	}
.footer_box         {
	background-color: #f0f0f0;
	}
.form_button        {
	color           : #000000;
	font            : 10pt Arial, sans-serif;
	background-color: #ffffff;
	}
.form_input         {
	color           : #000000;
	font            : 10pt Arial, sans-serif;
	}
.form_label         {
	color           : #000000;
	font            : 10pt Arial, sans-serif;
	}
.form_legend        {
	color           : #a92508;
	font            : bold 10pt Arial, sans-serif;
	}
.form_set           {
	color           : #000000;
	font            : 10pt Arial, sans-serif;
	background-color: #ffffff;
	}
.header             {
	color           : #a92508;
	font            : 20pt Arial, sans-serif;
	}
.header_box         {
	color           : #ffffff;
	background-color: #ffffff;
	}
.heading1,h1        {
	color           : #000000;
	font            : 22pt Arial, sans-serif;
	}
.heading2,h2        {
	color           : #000000;
	font            : 18pt Arial, sans-serif;
	}
.heading3,h3        {
	color           : #4a4c52;
	font            : 14pt Arial, sans-serif;
	}
.heading4,h4        {
	color           : #000000;
	font            : 12pt Arial, sans-serif;
	}
.heading5,h5        {
	color           : #972508;
	font            : bold 10pt Arial, sans-serif;
	}
.heading6,h6        {
	color           : #000000;
	font            : bold 8pt Arial, sans-serif;
	}
.info               {
	color           : #000000;
	font            : 10pt Arial, sans-serif;
	}
.info_box           {
	background-color: #d8d8d8;
	}
.info_tag           {
	color           : #972508;
	font            : bold 10pt Arial, sans-serif;
	}
.item               {
	color           : #000000;
	font            : 10pt Arial, sans-serif;
	}
.item_box           {
	color           : #d6d6d6;
	background-color: #d6d6d6;
	}
.item_tag           {
	color           : #972508;
	font            : bold 10pt Arial, sans-serif;
	}
.logo               {
	color           : #000000;
	font            : 10pt Arial, sans-serif;
	}
.logo_box           {
	background-color: #f0f0f0;
	}
.logo_tag           {
	color           : #000000;
	font            : bold 10pt Arial, sans-serif;
	}
.navigation         {
	color           : #dfe5f8;
	font            : 10pt Arial, sans-serif;
	}
.navigation_box     {
	color           : #8a8d95;
	background-color: #8a8d95;
	}
.navigation_tag     {
	color           : #dfe5f8;
	font            : bold 10pt Arial, sans-serif;
	}
.news               {
	color           : #000000;
	font            : 8pt Arial, sans-serif;
	}
.news_box           {
	background-color: #cfcfcf;
	}
.news_tag           {
	color           : #97253d;
	font            : bold 8pt Arial, sans-serif;
	}
.page               {
	color           : #000000;
	font            : 10pt Arial, sans-serif;
	background-color: #ffffff;
	}
.page a             {
	background-color: transparent;
	border          : 0px;
	padding         : 0px;
	}
.page_box           {
	background-color: #808080;
	}
.page_tag           {
	color           : #972508;
	font            : 16pt Arial, sans-serif;
	}
.page_tag a         {
	background-color: transparent;
	border          : 0px;
	padding         : 0px;
	}
.panel              {
	color           : #3c3c3c;
	font            : 8pt Arial, sans-serif;
	}
.panel_box          {
	background-color: #d3c2be;
	}
.photo              {
	color           : #000000;
	font            : 10pt Arial, sans-serif;
	}
.photo_box          {
	background-color: #eae8e5;
	}
.photo_tag          {
	color           : #000000;
	font            : 10pt Arial, sans-serif;
	}
.small,small        {
	color           : #000000;
	font            : 8pt Arial, sans-serif;
	}

/* Barra izquierda */

span.header_box            { /* patrodent001012.gif */
    background      : transparent url(../images/patrodent001012.gif) no-repeat top left;
    position        : absolute;
    left            :   1.50pt;
    top             :   0.00pt;
    width           : 103.50pt;
    height          :  23.25pt;
    }
span.deco_superior            { /* patrodent001011.gif */
    clip            : rect(0.00pt,103.50pt,6.75pt,0.00pt);
    background      : transparent url(../images/patrodent001011.gif) no-repeat top left;
    position        : absolute;
    left            :   1.50pt;
    top             :   0.00pt;
    width           : 103.50pt;
    height          :   6.75pt;
    }
span.navigation_box_superior            { /* patrodent001010.gif */
    clip            : rect(0.00pt,459.00pt,6.75pt,0.00pt);
    background      : transparent url(../images/patrodent001010.gif) no-repeat top left;
    position        : absolute;
    left            : 105.00pt;
    top             :   0.00pt;
    width           : 459.00pt;
    height          :   6.75pt;
    }
span.deco_inferior            { /* patrodent001009.gif */
    clip            : rect(0.00pt,103.50pt,15.00pt,0.00pt);
    background      : transparent url(../images/patrodent001009.gif) no-repeat top left;
    position        : absolute;
    left            :   1.50pt;
    top             :  96.00pt;
    width           : 103.50pt;
    height          :  15.00pt;
    }
span.navigation_box_inferior            { /* patrodent001008.gif */
    clip            : rect(0.00pt,459.00pt,15.00pt,0.00pt);
    background      : transparent url(../images/patrodent001008.gif) no-repeat top left;
    position        : absolute;
    left            : 105.00pt;
    top             :  96.00pt;
    width           : 459.00pt;
    height          :  15.00pt;
    }
h1.logo             { /* Patro */
    background      : transparent url(../images/logo_little.png) no-repeat top left;
    position        : absolute;
    left            :  4.50pt;
    top             :  8.25pt;
    width           :  215px;
    height          :  114px;
    font            : bold 30pt 'Bradley Hand ITC';
    color           : #008000;
    }
div.dent             { /* DENT */
    position        : absolute;
    left            :  93.75pt;
    top             :  18.75pt;
    width           :  63.00pt;
    height          :  28.50pt;
    font            : bold 18pt 'Bodoni MT Black';
    color           : #008000;
    }
div.direccion             { /* &nbsp;C/ Marques de Para... */
    position        : absolute;
    left            :   3.00pt;
    top             :  69.75pt;
    width           : 157.50pt;
    height          :  23.25pt;
    font            : 8pt 'Arial', Helvetica, sans-serif;
    color           : #008000;
    text-align      : center;
    }
div.clinica             { /* Clínica Dental\ \PATROCI... */
    position        : absolute;
    left            :   35.00pt;
    top             :  8.25pt;
    width           : 157.50pt;
    height          :  24.75pt;
    font            : bold 9pt 'Arial', Helvetica, sans-serif;
    color           : #008000;
    text-align      : center;
    }
div.horario1             { /* Lunes a Viernes\ \9:30 d... */
    position        : absolute;
    left            :   5.25pt;
    top             : 308.25pt;
    width           :  97.50pt;
    height          :  50.25pt;
    font            : bold 8pt Arial, sans-serif;
    color           : #2c445c;
    text-align      : center;
    }
div.horario2             { /* &nbsp;Lunes a Jueves\ \T... */
    position        : absolute;
    left            :   2.25pt;
    top             : 458.25pt;
    width           : 102.00pt;
    height          :  62.25pt;
    font            : bold 8pt Arial, sans-serif;
    color           : #2c445c;
    text-align      : center;
    }
span.telefono            { /* patrodent001007.gif */
    background      : transparent url(../images/linphone.png) no-repeat top left;
    position        : absolute;
    left            :  20.25pt;
    top             : 126.25pt;
    width           :  76.00pt;
    height          :  64.00pt;
    }
h4.telefono_valor              { /* 954 211 422 */
    font            : bold 14pt Helvetica, sans-serif;
    color           : #2C445C;
    text-align      : center;
    position        : absolute;
    left            :   1.50pt;
    top             : 188.25pt;
    width           : 104.25pt;
    height          :  20.25pt;
    }
span.barra            { /* patrodent001006.gif */
    background      : transparent url(../images/patrodent001006.gif) no-repeat top left;
    position        : absolute;
    left            :  15.00pt;
    top             : 240.75pt;
    width           :  76.50pt;
    height          :   0.75pt;
    }
span.barra2             { /* patrodent001005.gif */
    top             : 390.75pt;
    }
h4.citas              { /* CITAS */
    font            : bold 14pt Arial, sans-serif;
    text-align      : center;
    position        : absolute;
    left            :   9.75pt;
    top             : 270.75pt;
    width           :  85.50pt;
    height          :  20.25pt;
    }
h4.consulta              { /* CONSULTA */
    font            : bold 14pt Arial, sans-serif;
    text-align      : center;
    position        : absolute;
    left            :  11.25pt;
    top             : 420.75pt;
    width           :  85.50pt;
    height          :  20.25pt;
    }

/* Final columna izquierda */

/* Menu */

div.menu {
    color: #972508;
    font: bold 10pt 'Trebuchet MS','Lucida Grande',Arial,sans-serif;
    text-align: center;
    position        : absolute;
    top             :  96.75pt;
    width           :  59.25pt;
    height          :  15.00pt;

}

div.menu.activo a {
    color: #501000;
}
div.indice              { /* SERVICIOS       */
    left            : 129.75pt;
    }

div.quien             { /* QUIEN SOY       */
    left            : 199.00pt;
    }
div.servicios              { /* SERVICIOS       */
    left            : 283.00pt;
    }
div.instalaciones              { /* INSTALACIONES      */
    left            : 368.50pt;
    }
div.contacto              { /* CONTACTO     */
    left            : 470.50pt;
    }

/* Final Menu */

div.copy             { /* COPYRIGHT @ 2009 - PATRO... */
    position        : absolute;
    left            : 105.00pt;
    top             : 627.75pt;
    width           : 456.75pt;
    height          :  12.00pt;
    font            : 7pt 'Lucida Fax', fantasy;
    color           : #808080;
    text-align      : center;
    }
/* layout  */
div#page            { /* Page Holder */
    background-image: url(../images/back_bus21.gif);
    position        : relative;
    width           : 570.00pt;
    height          : 645.00pt;
    text-align      : left;
    margin-left     : auto;
    margin-right    : auto;
    }
div.info             { /* La clínica dental de la ... */
    font            : 11pt Arial, sans-serif;
    text-align      : justify;
    position        : absolute;
    left            : 116.25pt;
    top             : 276.00pt;
    width           : 437.25pt;
    height          : 127.50pt;
    }
span.banner            { /* patrodent2001001.jpg */
    background      : transparent url(../images/patrodent2001001.jpg) no-repeat top left;
    position        : absolute;
    left            :   0.75pt;
    top             :   6.75pt;
    width           : 563.25pt;
    height          :  89.25pt;
    }
div.volver              { /* Volver       */
    position        : absolute;
    left            : 501.75pt;
    top             : 606.00pt;
    width           :  59.25pt;
    height          :  15.75pt;
    font            : bold 10pt Arial, sans-serif;
    color           : #972508;
    text-align      : center;
    }
#titulo2               { 
    top             : 147.75pt;
    }
.titulo2               { /* Plano de Situación */
    font            : bold 14pt Arial, sans-serif;
    text-align      : center;
    position        : absolute;
    left            : 105.00pt;
    width           : 459.00pt;
    height          :  20.25pt;
    }


/*--- EndOfFile ---*/