/*--- Avanquest WebEasy Page Style ---*/

.cc19               { /* Common */
	border          :   2.25pt solid #d3c2be;
	}
.cc20               { /* Common */
	font            : bold 10pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	color           : #972508;
	text-align      : right;
	}
h4#e25              { /* Dra. Patrocinio Gómez Ma... */
	font            : bold 14pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	text-align      : center;
	position        : absolute;
	left            : 105.00pt;
	top             : 150.00pt;
	width           : 459.00pt;
	height          :  20.25pt;
	}
div#e24             { /* La Dra. Patrocinio Gómez... */
	top             : 357.75pt;
	height          : 212.25pt;
	}
span#e23            { /* patrodent2001001.jpg */
	background      : transparent url(../images/patrodent2001001.jpg) no-repeat top left;
	position        : absolute;
	left            :   0.75pt;
	top             :   6.75pt;
	width           : 563.25pt;
	height          :  89.25pt;
	}
span#e9             { /* patrodent002003.jpg */
	background      : transparent url(../images/patrodent002003.jpg) no-repeat top left;
	position        : absolute;
	left            : 277.50pt;
	top             : 193.50pt;
	width           : 103.50pt;
	height          : 138.00pt;
	}
span#e8             { /* patrodent002002.jpg */
	background      : transparent url(../images/patrodent002002.jpg) no-repeat top left;
	position        : absolute;
	left            : 132.75pt;
	top             : 223.50pt;
	width           :  82.50pt;
	height          :  78.75pt;
	}
span#e7             { /* patrodent002001.jpg */
	background      : transparent url(../images/patrodent002001.jpg) no-repeat top left;
	position        : absolute;
	left            : 442.50pt;
	top             : 223.50pt;
	width           :  82.50pt;
	height          :  78.75pt;
	}

/*--- EndOfFile ---*/
