/*--- Avanquest WebEasy Page Style ---*/

.cc48               { /* Common */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	color           : #400000;
	}
span#e41            { /* patrodent001012.gif */
	background      : transparent url(../images/patrodent001012.gif) no-repeat top left;
	position        : absolute;
	left            :   1.50pt;
	top             :   0.00pt;
	width           : 103.50pt;
	height          :  23.25pt;
	}
span#e40            { /* patrodent001011.gif */
	clip            : rect(0.00pt,103.50pt,6.75pt,0.00pt);
	background      : transparent url(../images/patrodent001011.gif) no-repeat top left;
	position        : absolute;
	left            :   1.50pt;
	top             :   0.00pt;
	width           : 103.50pt;
	height          :   6.75pt;
	}
span#e39            { /* patrodent001010.gif */
	clip            : rect(0.00pt,459.00pt,6.75pt,0.00pt);
	background      : transparent url(../images/patrodent001010.gif) no-repeat top left;
	position        : absolute;
	left            : 105.00pt;
	top             :   0.00pt;
	width           : 459.00pt;
	height          :   6.75pt;
	}
span#e38            { /* patrodent001009.gif */
	clip            : rect(0.00pt,103.50pt,15.00pt,0.00pt);
	background      : transparent url(../images/patrodent001009.gif) no-repeat top left;
	position        : absolute;
	left            :   1.50pt;
	top             :  96.00pt;
	width           : 103.50pt;
	height          :  15.00pt;
	}
span#e37            { /* patrodent001008.gif */
	clip            : rect(0.00pt,459.00pt,15.00pt,0.00pt);
	background      : transparent url(../images/patrodent001008.gif) no-repeat top left;
	position        : absolute;
	left            : 105.00pt;
	top             :  96.00pt;
	width           : 459.00pt;
	height          :  15.00pt;
	}
h4#e36              { /* Servicios */
	font            : bold 14pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	text-align      : center;
	position        : absolute;
	left            : 105.00pt;
	top             : 150.00pt;
	width           : 459.00pt;
	height          :  20.25pt;
	}
span#e35            { /* patrodent2001001.jpg */
	background      : transparent url(../images/patrodent2001001.jpg) no-repeat top left;
	position        : absolute;
	left            :   0.75pt;
	top             :   6.75pt;
	width           : 563.25pt;
	height          :  89.25pt;
	}
img#e21             { /* b-norm.gif */
	position        : absolute;
	left            : 136.50pt;
	top             : 415.50pt;
	width           :  16.50pt;
	height          :  16.50pt;
	}
img#e20             { /* b-norm2.gif */
	position        : absolute;
	left            : 136.50pt;
	top             : 415.50pt;
	width           :  16.50pt;
	height          :  16.50pt;
	}
img#e19             { /* b-norm2.gif */
	position        : absolute;
	left            : 136.50pt;
	top             : 209.25pt;
	width           :  16.50pt;
	height          :  16.50pt;
	}
div#e18             { /* ODONTOLOGIA GENERAL */
	position        : absolute;
	left            : 159.00pt;
	top             : 212.25pt;
	width           : 168.00pt;
	height          :  18.75pt;
	}
div#e17             { /* ESTETICA DENTAL. BLANQUE... */
	position        : absolute;
	left            : 159.00pt;
	top             : 336.00pt;
	width           : 244.50pt;
	height          :  22.50pt;
	}
div#e16             { /* ODONTOPEDIATRIA */
	position        : absolute;
	left            : 159.00pt;
	top             : 294.75pt;
	width           : 123.00pt;
	height          :  22.50pt;
	}
div#e15             { /* PERIODONCIA */
	position        : absolute;
	left            : 161.25pt;
	top             : 418.50pt;
	width           :  89.25pt;
	height          :  22.50pt;
	}
img#e14             { /* b-norm2.gif */
	position        : absolute;
	left            : 136.50pt;
	top             : 333.00pt;
	width           :  16.50pt;
	height          :  16.50pt;
	}
img#e13             { /* b-norm2.gif */
	position        : absolute;
	left            : 136.50pt;
	top             : 291.75pt;
	width           :  16.50pt;
	height          :  16.50pt;
	}
img#e12             { /* b-norm2.gif */
	position        : absolute;
	left            : 136.50pt;
	top             : 250.50pt;
	width           :  16.50pt;
	height          :  16.50pt;
	}
div#e11             { /* ORTODONCIA */
	position        : absolute;
	left            : 159.00pt;
	top             : 253.50pt;
	width           :  86.25pt;
	height          :  22.50pt;
	}
div#e10             { /* IMPLANTES */
	position        : absolute;
	left            : 159.00pt;
	top             : 459.75pt;
	width           :  72.75pt;
	height          :  22.50pt;
	}
div#e9              { /* ATM (Problemas de Articu... */
	position        : absolute;
	left            : 159.00pt;
	top             : 377.25pt;
	width           : 198.00pt;
	height          :  22.50pt;
	}
img#e8              { /* b-norm2.gif */
	position        : absolute;
	left            : 136.50pt;
	top             : 456.75pt;
	width           :  16.50pt;
	height          :  16.50pt;
	}
img#e7              { /* b-norm2.gif */
	position        : absolute;
	left            : 136.50pt;
	top             : 374.25pt;
	width           :  16.50pt;
	height          :  16.50pt;
	}

/*--- EndOfFile ---*/
