/*--- Avanquest WebEasy Page Style ---*/

span#e28            { /* patrodent001012.gif */
	background      : transparent url(../images/patrodent001012.gif) no-repeat top left;
	position        : absolute;
	left            :   1.50pt;
	top             :   0.00pt;
	width           : 103.50pt;
	height          :  23.25pt;
	}
span#e27            { /* patrodent001011.gif */
	clip            : rect(0.00pt,103.50pt,6.75pt,0.00pt);
	background      : transparent url(../images/patrodent001011.gif) no-repeat top left;
	position        : absolute;
	left            :   1.50pt;
	top             :   0.00pt;
	width           : 103.50pt;
	height          :   6.75pt;
	}
span#e26            { /* patrodent001010.gif */
	clip            : rect(0.00pt,459.00pt,6.75pt,0.00pt);
	background      : transparent url(../images/patrodent001010.gif) no-repeat top left;
	position        : absolute;
	left            : 105.00pt;
	top             :   0.00pt;
	width           : 459.00pt;
	height          :   6.75pt;
	}
span#e25            { /* patrodent001009.gif */
	clip            : rect(0.00pt,103.50pt,15.00pt,0.00pt);
	background      : transparent url(../images/patrodent001009.gif) no-repeat top left;
	position        : absolute;
	left            :   1.50pt;
	top             :  96.00pt;
	width           : 103.50pt;
	height          :  15.00pt;
	}
span#e24            { /* patrodent001008.gif */
	clip            : rect(0.00pt,459.00pt,15.00pt,0.00pt);
	background      : transparent url(../images/patrodent001008.gif) no-repeat top left;
	position        : absolute;
	left            : 105.00pt;
	top             :  96.00pt;
	width           : 459.00pt;
	height          :  15.00pt;
	}
h4#e23              { /* Plano de Situación */
	font            : bold 14pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	color           : #ffffff;
	text-align      : center;
	position        : absolute;
	left            : 105.00pt;
	top             : 188.25pt;
	width           : 459.00pt;
	height          :  20.25pt;
	}
div#e22             { /* La clínica de la Dra. Pa... */
	top             : 513.00pt;
	height          :  62.25pt;
	}
span#e21            { /* patrodent2001001.jpg */
	background      : transparent url(../images/patrodent2001001.jpg) no-repeat top left;
	position        : absolute;
	left            :   0.75pt;
	top             :   6.75pt;
	width           : 563.25pt;
	height          :  89.25pt;
	}
h4#e1               { /* Plano de Situación */
	font            : bold 14pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	text-align      : center;
	position        : absolute;
	left            : 105.00pt;
	top             : 147.75pt;
	width           : 459.00pt;
	height          :  20.25pt;
	}

/*--- EndOfFile ---*/
