{% extends "templates/base.html" %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.swap-images.js"></script>
    <script type="text/javascript">
        (function($){
            $(document).ready(function () {
                setTimeout(function() {
                    $(".after").swapImages({before: "antes", after: "despues"});
                }, 500);
            });
          })(jQuery);
    </script>
{% endblock %}

{% block class-antes-despues-link %}class="active"{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="alpha prefix_1 grid_22 suffix_8 omega afterAndBeforePage">
            <h2 class="p3">Casos reales de nuestros pacientes</h2>
            <p>
                Creemos que la mejor manera de que creas en nosotros es enseñandote lo que hemos hecho por otros pacientes.
                Aqui puedes ver una recopilación de estos casos.
            </p>
            <p> Pasa el ratón por encima de las imágenes para ver el antes</p>
            <h3>Odontología General</h3>
            {% include "templates/after_before/inc.odontologia.html" %}
            <div class="clear"></div>
            <h3>Ortodoncia</h3>
            {% include "templates/after_before/inc.ortodoncia.html" %}
            <div class="clear"></div>
            <h3>Periodoncia</h3>
            {% include "templates/after_before/inc.periodoncia.html" %}
            <div class="clear"></div>
            <h3>Prótesis</h3>
            {% include "templates/after_before/inc.protesis.html" %}
            <div class="clear"></div>
            <h3>Estética y blanqueamiento dental</h3>
            {% include "templates/after_before/inc.estetica.html" %}
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}
