{% extends "templates/servicio.html" %}

{% block content-title %}Estética dental y blanqueamiento{% endblock %}

{% block content-body %}
    <p>
        La Odontología Estética se encarga de tratar todas aquellas alteraciones y patologías de la morfología bucodental para lograr un canon de belleza que se ajuste al ideal social de hoy en dia.

    </p>
    <p>
        En este contexto, una sonrisa clara y perfecta se ha convertido en un requisito esencial, donde dientes blancos, saludables y alineados son referenciales de una persona atractiva
    </p>
    <p>
        No obstante, más que un mero caso estético, el estado de nuestra boca es una cuestión de salud, al cual debemos estar atentos, por lo que elegimos el material mas adecuado para cada caso en particular.
    </p>
    <p>
        Técnica progresiva en composites (empastes esteticos) asi como las <strong>fundas de porcelana</strong>, el <strong>blanqueamiento dental</strong>, injertos y estética de encías y la <strong>ortodoncia</strong> han sufrido una gran evolución principalmente orientada hacia la estética, para satisfacer las demandas actuales de la población.

    </p>
    <p>
        Hoy en día es posible realizar desde un sencillo blanqueamiento dental, hasta la reposición completa de todos los dientes y la transformación total de una sonrisa. Con éstos tratamientos podemos mejorar la imagen de la persona y su propia autoestima. Actualmente, tener una buena sonrisa es sinónimo de salud y bienestar social.
    </p>
{% endblock %}

{% block before-after %}
    {% include "templates/after_before/inc.estetica.html"%}
{% endblock %}