{% extends "templates/servicio.html" %}

{% block content-title %}Implantes{% endblock %}

{% block content-body %}
    <p>Los implantes dentales son fijaciones de titanio que se colocan en el maxilar o en la mandíbula para sustituir los dientes ausentes.</p>

    <p>Este procedimiento se realiza bajo anestesia local (sin pérdida del conocimiento).</p>

    <p>A veces se puede aprovechar el mismo momento de la extracción del diente deteriorado para colocar el implante en la misma sesión y así se evita el tener que realizar una segunda intervención.</p>

    <p>Los implantes colocados de esta manera se les denomina implantes inmediatos y comportan una gran comodidad y rapidez a la hora de realizar estos tratamientos.</p>
{% endblock %}

{% block before-after-title %}
    <h3 class="margin-bot">XXX</h3>
    <p>XXX</p>
{% endblock %}

{% block before-after %}
    <div class="wrapper indent-bot2">
        <figure class="img-style img-indent"><img src="{{ STATIC_URL }}images/gamiz_panorex.jpg" alt="XXX" title="XXX"/>
            <span class="afterBeforeText">Implante Gamiz panorex</span>
        </figure>
    </div>
{% endblock %}