<li><a href="{% url template_view "odontologia" %}">Odontología General</a></li>
<li><a href="{% url template_view "ortodoncia" %}">Ortodoncia</a></li>
<li><a href="{% url template_view "odontopediatria" %}">Odontopediatría</a></li>
<li><a href="{% url template_view "estetica" %}">Estética dental y blanqueamiento</a></li>
<li><a href="{% url template_view "atm" %}">Problemas de articulación (atm)</a></li>
<li><a href="{% url template_view "periodoncia" %}">Periodoncia</a></li>
<li><a href="{% url template_view "implantes" %}">Implantes</a></li>
