{% extends "templates/base.html" %}

{% block class-patrodent-link %}class="active"{% endblock %}


{% block content %}
    <div class="wrapper">
        <div class="alpha prefix_1 grid_9">
            <div class="border-1">
                <h3 class="margin-bot">Nuestras Instalaciones</h3>
                <div class="wrapper indent-bot2">
                    <figure class="img-style img-indent">
                        <iframe width="300" height="200" src="http://www.youtube.com/embed/BBjFInC26Fo" frameborder="0" allowfullscreen></iframe>
                        <span class="afterBeforeText">Visita nuestras instalaciones interactivamente</span>
                    </figure>
                </div>
                <div class="wrapper indent-bot2">
                    <figure class="img-style img-indent"><img src="{{ STATIC_URL }}images/consulta5.jpg" alt="Gabinete número 1" title="Gabinete número 1"/>
                        <span class="afterBeforeText">Gabinete número 1</span>
                    </figure>
                </div>
            </div>
        </div>
        <div class="grid_13 suffix_1 omega">
            <h2 class="p3">Conoce nuestras instalaciones</h2>
            <h5 class="indent-bot">Nuestro instalaciones han sido totalmente remodeladas</h5>
            La clínica esta dotada de 3 gabinetes completos totalmente informatizados con pantallas de televisión y ordenadores que intercomunican cada gabinete entre si y con los demás departamentos de la clínica.
            </p>
            <p>
            Cada uno de nuestros gabinetes, así como nuestras salas de rayos y de esterilización, se encuentran completamente equipados para poder ofrecer el máximo nivel de calidad y seguridad en todos nuestros tratamientos.
            </p>
            <p>La sala de radiología digital esta completamente aislada e informatizada para la realización de panorex y telerradiografías. Radiología digital intraoral en todos los gabinetes. La radiología digital nos permite obtener radiografías en menor tiempo y reducir en un 80% la dosis de  radiación que reciben nuestros pacientes.</p>
            <p>Una sala de esterilización y limpieza del instrumental, junto con una zona de preparación de modelos de escayola (recortadora de modelos).
            Un despacho para la atención personal con el paciente, la recepción y la sala de espera muy confortable con pantalla de televisión y videos informativos, infantiles  y de recreo completan y amenizan su estancia en la clínica.
            </p>
        </div>
    </div>
{% endblock %}


{% block footergallery %}
    <figure>
        <a href="http://www.youtube.com/v/BBjFInC26Fo" rel="shadowbox[instalaciones]" title="Instalaciones de Patrodent">
            <img src="{{ STATIC_URL }}images/instalaciones.min.jpg" alt="Instalaciones de Patrodent" title="Instalaciones de Patrodent" />
        </a>
    </figure>
    <figure>
        <a href="{{ STATIC_URL }}images/consulta1.jpg" rel="shadowbox[instalaciones]" title="Imágen de la consulta">
            <img src="{{ STATIC_URL }}images/consulta1.min.jpg" alt="Imágen de la consulta" title="Imágen de la consulta" />
        </a>
    </figure>
    <figure>
        <a href="{{ STATIC_URL }}images/consulta2.jpg" rel="shadowbox[instalaciones]" title="Imágen de la consulta">
            <img src="{{ STATIC_URL }}images/consulta2.min.jpg" alt="Imágen de la consulta" title="Imágen de la consulta" />
        </a>
    </figure>
    <figure>
        <a href="{{ STATIC_URL }}images/consulta3.jpg" rel="shadowbox[instalaciones]" title="Sala de espera">
            <img src="{{ STATIC_URL }}images/consulta3.min.jpg" alt="Sala de espera" title="Sala de espera" />
        </a>
    </figure>
    <figure>
        <a href="{{ STATIC_URL }}images/consulta4.jpg" rel="shadowbox[instalaciones]" title="Sala de espera">
            <img src="{{ STATIC_URL }}images/consulta4.min.jpg" alt="Sala de espera" title="Sala de espera" />
        </a>
    </figure>
{% endblock %}