{% extends "base.html" %}

{% block class-patrodent-link %}class="active"{% endblock %}

{% block footergallery %}
    <figure>
        <a href="{{ STATIC_URL }}images/patrocinio_despacho.jpg" rel="shadowbox[quienesSomos]" title="Patrocinio en el despacho">
            <img src="{{ STATIC_URL }}images/patrocinio_despacho.min.jpg" alt="Patrocinio en el despacho" title="Patrocinio en el despacho" />
        </a>
    </figure>
    <figure>
        <a href="{{ STATIC_URL }}images/angela2.jpg" rel="shadowbox[quienesSomos]" title="Angela Martín">
            <img src="{{ STATIC_URL }}images/angela2.min.jpg" alt="Angela Martín" title="Angela Martín" />
        </a>
    </figure>
    <figure>
        <a href="{{ STATIC_URL }}images/equipo_trabajando.jpg" rel="shadowbox[quienesSomos]" title="Equipo trabajando">
            <img src="{{ STATIC_URL }}images/equipo_trabajando.min.jpg" alt="Equipo trabajando" title="Equipo trabajando" />
        </a>
    </figure>
    <figure>
        <a href="{{ STATIC_URL }}images/patrocinio_trabajando.jpg" rel="shadowbox[quienesSomos]" title="Patrocinio trabajando">
            <img src="{{ STATIC_URL }}images/patrocinio_trabajando.min.jpg" alt="Patrocinio trabajando" title="Patrocinio trabajando" />
        </a>
    </figure>
    <figure>
        <a href="{{ STATIC_URL }}images/patrocinio2.jpg" rel="shadowbox[quienesSomos]" title="Patrocinio Gómez">
            <img src="{{ STATIC_URL }}images/patrocinio2.min.jpg" alt="Patrocinio Gómez" title="Patrocinio Gómez" />
        </a>
    </figure>
{% endblock %}


{% block content %}
    <div class="main">
        <div class="container_24">
            <div class="grid_24">
                <div class="top-pad">
                    <div class="content-inner">
                        <div class="wrapper">
                            <div class="alpha prefix_1 grid_7">
                                <div class="border-1">
                                    <h3 class="margin-bot">Director’s Greeting</h3>
                                    <figure class="img-style indent-bot2"><img src="{{ STATIC_URL }}images/patrocinio.jpg" alt="" /></figure>
                                    <div class="clear"></div>
                                    <blockquote>La experiencia y profesionalidad que nos avalan durante más 25 años implica un alto grado de formación que tiene como resultado tratamientos de alta calidad junto con una atención personalizada, de confianza y garantía.</blockquote>
                                    <p class="color-3 it p1">Nuestro personal está altamente cualificado y de experiencia...”</p>
                                    <div class="sign p7">Patrocinio Gomez Martinez</div>
                                </div>
                            </div>
                            <div class="grid_15 suffix_1 omega">
                                <h2 class="p3">Conoce a nuestro equipo</h2>
                                <h5 class="indent-bot">Fusce suscipit vaus mi. Cum sociis natoque penatibus <br />et magnis dis parturient montes.</h5>
                                <p class="indent-bot2">Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida <br />at, cursus nec, luctus a, lorem. </p>
                                <div class="wrapper indent-bot">
                                    <div class="box img-indent">
                                        <figure class="img-style p2"><img src="{{ STATIC_URL }}images/empleada1.jpg" alt="" /></figure>
                                        <strong>Sam Kromstain</strong>
                                        <span class="bl p1">Net casunc odioseas gdaus kerteluctus aloem aecenas.</span>
                                    </div>
                                    <div class="box img-indent">
                                    <figure class="img-style p2"><img src="{{ STATIC_URL }}images/empleada2.jpg" alt="" /></figure>
                                        <strong>Alan Smith</strong>
                                        <span class="bl p1">Net casunc odioseas gdaus kerteluctus aloem aecenas.</span>
                                    </div>
                                    <div class="box">
                                    <figure class="img-style p2"><img src="{{ STATIC_URL }}images/angela.jpg" alt="" /></figure>
                                        <strong>Angela Martín</strong>
                                        <span class="bl p1">Net casunc odioseas gdaus kerteluctus aloem aecenas.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}