{% extends "templates/base.html" %}

{% block class-patrodent-link %}class="active"{% endblock %}

{% block footergallery %}
    <figure>
        <a href="http://www.youtube.com/v/8ufZVHkkGPg" rel="shadowbox[quienSoy]" title="Títulos de Patrocinio Gómez">
            <img src="{{ STATIC_URL }}images/titulos.min.jpg" alt="Títulos de Patrocinio Gómez" title="Títulos de Patrocinio Gómez" />
        </a>
    </figure>
    <figure>
        <a href="{{ STATIC_URL }}images/patrocinio_despacho.jpg" rel="shadowbox[quienSoy]" title="Patrocinio en el despacho">
            <img src="{{ STATIC_URL }}images/patrocinio_despacho.min.jpg" alt="Patrocinio en el despacho" title="Patrocinio en el despacho" />
        </a>
    </figure>
    <figure>
        <a href="{{ STATIC_URL }}images/patrocinio2.jpg" rel="shadowbox[quienSoy]" title="Patrocinio en recepción">
            <img src="{{ STATIC_URL }}images/patrocinio2.min.jpg" alt="Patrocinio en recepción" title="Patrocinio en recepción" />
        </a>
    </figure>
    <figure>
        <a href="{{ STATIC_URL }}images/patrocinio_operando2.jpg" rel="shadowbox[quienSoy]" title="Patrocinio operando">
            <img src="{{ STATIC_URL }}images/patrocinio_operando2.min.jpg" alt="Patrocinio operando" title="Patrocinio operando" />
        </a>
    </figure>
    <figure>
        <a href="{{ STATIC_URL }}images/patrocinio_trabajando.jpg" rel="shadowbox[quienSoy]" title="Patrocinio trabajando">
            <img src="{{ STATIC_URL }}images/patrocinio_trabajando.min.jpg" alt="Patrocinio trabajando" title="Patrocinio trabajando" />
        </a>
    </figure>
{% endblock %}


{% block content %}
    <div class="wrapper">
        <div class="alpha prefix_1 grid_9">
            <div class="border-1">
                <h3 class="margin-bot">Patrocinio Gómez</h3>
                <figure class="img-style indent-bot2"><img src="{{ STATIC_URL }}images/patrocinio4.jpg" alt="" /></figure>
                <div class="clear"></div>
                <div class="wrapper indent-bot2">
                    <figure class="img-style img-indent">
                        <iframe width="300" height="200" src="http://www.youtube.com/embed/8ufZVHkkGPg" frameborder="0" allowfullscreen></iframe>
                        <span class="afterBeforeText">C.V. Interactivo</span>
                    </figure>
                </div>
                <blockquote>Durante todos estos años de experiencia profesional he continuado mi formación con múltiples participaciones y asistencia en cursos y congresos de odontología general y estética, endodoncias, prótesis, odontopediatría, ATM, ortodoncia, periodoncia, implantes, y un largo etc..., hasta hoy día para poder estar actualizada en los mas modernos avances y tecnologías.</blockquote>
                <div class="sign p7">Patrocinio Gomez Martinez</div>
            </div>
        </div>
        <div class="grid_13 suffix_1 omega">
            <h2 class="p3">Conoceme a mi</h2>
            <h5 class="indent-bot">Como mejor se conoce a un profesional es por su C.V.</h5>
            <ul class="curriculum">
                <li>Licenciada por la Universidad de Sevilla en Medicina y Cirugía General, en el año 1980 ( promoción 1974 - 1980 ).</li>
                <li>Especialista en Estomatología por la Escuela de Estomatología de la Universidad de Sevilla en 1992: promoción 1980 - 1982. </li>
                <li>Curso teórico práctico sobre implantes osteointegrados, por los profesores Dr. Luengo y Dr. Santiago ( 1990).</li>
                <li>Curso de Formación avanzada del Paciente Periodontal por el Dr. José Javier Echevarría  (1991)</li>
                <li>Curso anual I sobre terapéutica bioprogresiva en el centro internacional de estudios y clínica de ortodoncia dependiente de la Universidad de Nantes, Francia, dada por el profesor Dr. Duchateaux (1992) superando el examen de aptitud realizado al final del curso</li>
                <li>Curso anual II sobre terapéutica bioprogresiva en el centro internacional de estudios y clínica de ortodoncia dependiente de la Universidad de Nantes, Francia, dada por el profesor Dr. Duchateaux (1993 - 1994). Superando el examen de aptitud realizado al final del curso.</li>
                <li>Curso anual III sobre terapéutica bioprogresiva en el centro internacional de estudios y clínica de ortodoncia dependiente de la Universidad de Nantes, Francia, dada por el profesos Duchateaux (1994 - 1995). Superando el examen de aptitud realizado al final del curso</li>
                <li>DIPLÔME D´UNIVERSITÉ EN ORTHODONTIE por la Universidad de Nantes acreditativo de haber superado los tres cursos anteriores.</li>
                <li>VIII Curso de Formación en Periodóncia e Implantología Clínica. Dr. Rafael Malpartida - Sevilla-oct 2005</li>
            </ul>
            <a href="{{ STATIC_URL }}files/curriculum_vitae.pdf" target="_blank">Ver curriculum completo</a>
        </div>
    </div>
{% endblock %}