{% extends "templates/servicio.html" %}

{% block keywords %}Radiología Digital, Radiología Digital en Sevilla, radiologia 2D, radiologia 3D, panorex, radiografía panorámica, radiografía intraoral, teleradiografía, radiografía de la mano, radiografía carpal{% endblock %}

{% block metadescription %}La radiología digital nos permite obtener radiografías en menor tiempo y reducir en un 80% la dosis de radiación que reciben nuestros pacientes.{% endblock %}

{% block title %}Radiología Digital - {% endblock %}

{% block content-title %}Radiología Digital{% endblock %}

{% block js-after-before %}
{% endblock %}

{% block content-body %}
   <p>
        Nuestra clinica tiene entre sus instalaciones, el departamento de <strong>radiología dental</strong> en el que se pueden hacer tanto <strong>ortopantomografias</strong> (<strong>radiografías</strong> de toda la boca de frente) como <strong>teleradiografías</strong> (radiografías de cráneo laterales, necesarias sobretodo en ortodoncia), <strong>radiografías carpales</strong> (de la mano) para evolución del crecimiento y todo tipo de radiología intraoral.
    </p>
   <p>
        La <strong>radiología digital</strong> nos permite obtener <strong>radiografías</strong> en menor tiempo y reducir en un 80% la dosis de radiación que reciben nuestros pacientes.
    </p>
   <p>
        Actualmente estamos realizando el diagnóstico para implantes con <strong>radiología 3D</strong> (en tres dimensiones), tecnología de última generación en la Tomografía Volumétrica Digital de haz cónico (CBCT - Cone Beam Computed Tomography), una modalidad de alto valor diagnóstico que ofrece representaciones tridimensionales precisas y de alta calidad de los elementos óseos en el complejo maxilofacial, dando comienzo así a una nueva dimensión del radiodiagnóstico.
    </p>
{% endblock %}

{% block before-after-title %}
    <h4 class="margin-bot">Imágenes de radiología</h4>
{% endblock %}

{% block before-after %}
    <div class="wrapper indent-bot2">
        <figure class="img-style img-indent"><img src="{{ STATIC_URL }}images/aparato_radiologia.jpg" alt="Aparato radiología" title="Aparato radiología"/>
            <span class="afterBeforeText">Aparato radiología</span>
        </figure>
    </div>
    <div class="wrapper indent-bot2">
        <figure class="img-style img-indent"><img src="{{ STATIC_URL }}images/radiologia_digital.jpg" alt="Radiología digital" title="Radiología digital"/>
            <span class="afterBeforeText">Radiología digital</span>
        </figure>
    </div>
{% endblock %}
