{% extends "base.html" %}

{% block class-servicios-link %}class="active"{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="alpha prefix_1 grid_22 suffix_1 omega">
            <div class="important-block">
                <div class="wrapper">
                    <div class="alpha grid_7">
                        <div class="indent-l">
                            <div class="border">
                                <div class="title">Servicios</div>
                                <ul class="list-1">
                                    {% include "inc.servicios.html" %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="grid_8">
                        <div class="border">
                            <div class="title">Porcelain Veneers</div>
                            <span class="bl indent-bot">Moleie laceneait musrtasu kertyades eduscasunc odioseas gravdaus neleratses ctus alorem aecenas tristue orcidertaf <br />da nec sit amet er orem ipsum.</span>
                            <a class="button" href="#">read more</a>
                        </div>
                    </div>
                    <div class="grid_6 suffix_1 omega">
                        <div class="title">Lumineers</div>
                        <span class="bl indent-bot">Naert casunc odioseas graus kert yadeneluctus alorem aecenas tristo ertas kaersda nec sit amet er lore ipsunerty lasetaseas.</span>
                        <a class="button" href="#">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="alpha prefix_1 grid_15">
            <div class="border-1">
                <h3 class="p3">Performing Cosmetic Dentistry Miracles</h3>
                <p class="p7">Aliquam erat volutpat. Praesent vel tempus mi. Etiam tellus mi, ornare imperdiet varius vel, feugiat pulvinar purus! Duis nec nisi augue. Nunc id risus ac ipsum venenatis tincidunt. Proin nulla urna, porttitor nec accumsan eu, laoreet eu lects. Ut consectetur imperdiet malesuada. Nulla auctor, erat vitae lacinia lacinia, ipsum quam consectetur libero, sit amet suscipit enim lacus a justo. Nullam nec risus euism.</p>
                <div class="wrapper">
                    <figure class="img-style img-indent"><img src="{{ STATIC_URL }}images/page4-img1.jpg" alt="" /></figure>
                    <div class="extra-wrap">
                        <h3 class="indent-bot2">A Combination of art and <span>Science to Optimally Improve</span> <span>Dental Health</span> </h3>
                        Praesent vestibulum molestie lacus. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridicu- lus mus. Nulla dui. Fusce feugiat malesuada <br />odio. Morbi nunc odio, ravida.
                    </div>
                </div>
            </div>
        </div>
        <div class="grid_7 suffix_1 omega">
            <h3 class="margin-bot">Before and After's</h3>
            <div class="wrapper indent-bot2">
                <figure class="img-style img-indent"><img src="{{ STATIC_URL }}images/page4-img2.jpg" alt="" /><span>BEFORE</span></figure>
                <figure class="img-style"><img src="{{ STATIC_URL }}images/page4-img3.jpg" alt="" /><span>AFTER</span></figure>
            </div>
            <div class="wrapper indent-bot2">
                <figure class="img-style img-indent"><img src="{{ STATIC_URL }}images/page4-img4.jpg" alt="" /><span>BEFORE</span></figure>
                <figure class="img-style"><img src="{{ STATIC_URL }}images/page4-img5.jpg" alt="" /><span>AFTER</span></figure>
            </div>
            <a class="button" href="#">all archives</a>
        </div>
    </div>
{% endblock %}
