{% extends "templates/base.html" %}

{% load static %}

{% block metadescription %}Análisis anatomopatológico de muestras orales{% endblock %}

{% block meta %}
<meta property="og:title" content="Análisis anatomopatológico de muestras orales" />
<meta property="og:url" content="http{% if request.is_secure %}{% endif %}://{% url 'template_view' 'analisis-anatomopatologico-muestras-orales' %}">
<meta property="og:description" content="En Patrodent, tenemos como rutina realizar en cada revisión un estudio minucioso de todas las mucosas orales para anticiparnos a cualquier adversidad. ">
<meta property="og:type" content="image/jpeg" />
<meta property="og:image" content="http{% if request.is_secure %}{% endif %}://{% static 'images/patrocinio_y_angela.jpg' %}" />
{% endblock %}


{% block class-patrodent-link %} active{% endblock %}

{% block title %}Análisis anatomopatológico de muestras orales - {% endblock %}

{% block pageclass %}anatomopatologico{% endblock %}

{% block footergallery %}
    <figure>
        <a href="https://www.youtube.com/watch?v=gt4ECC3SROg"  title="Títulos de Patrocinio Gómez" target="_blank">
            <img src="{% static 'images/titulos.min.jpg' %}" alt="Títulos de Patrocinio Gómez" title="Títulos de Patrocinio Gómez" />
        </a>
    </figure>
    <figure>
        <a href="{% static 'images/patrocinio_despacho.jpg' %}" rel="shadowbox[quienSoy]" title="Patrocinio en el despacho">
            <img src="{% static 'images/patrocinio_despacho.min.jpg' %}" alt="Patrocinio en el despacho" title="Patrocinio en el despacho" />
        </a>
    </figure>
    <figure>
        <a href="{% static 'images/figurita.jpg' %}" rel="shadowbox[quienSoy]" title="Figurita mujer estudiando">
            <img src="{% static 'images/figurita.min.jpg' %}" alt="Patrocinio trabajando" title="Figurita mujer estudiando" />
        </a>
    </figure>
    <figure>
        <a href="{% static 'images/patrocinio_operando2.jpg' %}" rel="shadowbox[quienSoy]" title="Patrocinio operando">
            <img src="{% static 'images/patrocinio_operando2.min.jpg' %}" alt="Patrocinio operando" title="Patrocinio operando" />
        </a>
    </figure>
    <figure>
        <a href="{% static 'images/patrocinio_trabajando.jpg' %}" rel="shadowbox[quienSoy]" title="Patrocinio trabajando">
            <img src="{% static 'images/patrocinio_trabajando.min.jpg' %}" alt="Patrocinio trabajando" title="Patrocinio trabajando" />
        </a>
    </figure>
{% endblock %}


{% block content %}
    <div class="wrapper">
        <div class="alpha prefix_1 suffix_1">
            <h2 class="p3">Análisis anatomopatológico de muestras orales</h2>
            <p>
                Actualmente, son muchos los casos de distintas enfermedades que son diagnosticadas de primera instancia por lesiones que aparecen en la mucosa oral.
            </p>
            <p>En Patrodent, tenemos como rutina realizar en cada revisión un estudio minucioso de todas las mucosas orales para anticiparnos a cualquier adversidad.
            </p>
            <p>Realizamos la extirpación de todas las lesiones orales que sean necesarias y contamos con los servicios de un Laboratorio de Análisis Anatomopatológico para tener la certeza de diganóstico definitivo de los diferentes casos mediante un informe que será entregado también al paciente que lo solicite.</p>
        </div>
    </div>
{% endblock %}
