{% extends "templates/base.html" %}

{% load static %}

{% block title %}Contacta con nosotros - {% endblock %}

{% block metadescription %}Como contactar con la Clínica Dental Patrocinio Gómez Martínez (Patrodent){% endblock %}

{% block meta %}
<meta property="og:title" content="Contacto" />
<meta property="og:url" content="https://patrodent.com{% url 'template_view' 'contacto' %}">
<meta property="og:description" content="Como contactar con la Clínica Dental Patrocinio Gómez Martínez (Patrodent">
{% endblock %}

{% block pageclass %}contact{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="alpha prefix_1 grid_14">
            <div class="border-1">
                <h2 class="p3">Cómo Encontrarnos</h2>
                <div class="wrapper">
                    <figure class="img-style img-indent">
                        <div id="map_canvas"></div>
                    </figure>
                    <div class="clear"></div>
                    <div class="map-margin">
                     <p>Nuestra clínica se encuentra en pleno centro de Sevilla. En la calle Marqués de Paradas frente al ambulatorio de la Seguridad Social. A 100 metros se encuentra el centro comercial Plaza de Armas en el cual hay un aparcamiento público abierto las 24 horas. A 150 metros está situada la Estación de Autobuses Plaza de Armas de donde parten autobuses para la parte norte y oeste de la provincia de Sevilla, así como a Madrid y otras rutas importantes.</p>
                    <p>Para llegar y volver en autobús pueden coger las líneas: B2 ,B5, C3, C4, 43, 40</p>
                    <p>Para volver en taxi puede cogerlo en una parada de taxis a 30 metros de la clínica en la misma acera</p>
                    <p>Muy cerca de nosotros se encuentra el Corte Inglés de la Magdalena así como numerosas tiendas de moda.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid_8 suffix_1 omega">
            <!-- 123ContactForm.com script begins here -->
            {% include "templates/formulario-contacto.html" %}
        </div>
    </div>
{% endblock %}

{% block extracontent %}
    <div id="address_info" style="display:none">
        <div class="info" style="float: left">
            <h5> Clínica dental Patrodent </h5>
            <a href="https://maps.google.es/maps?f=q&source=s_q&hl=es&geocode=&q=sevilla,+marques+de+paradas,+22&sll=40.396764,-3.713379&sspn=10.586993,23.203125&ie=UTF8&view=map" style="width: 220px; float:left">
                Calle Marqués de Paradas, 22
                41001 Sevilla, Andalucía
            </a>
        </div>
    </div>
{% endblock %}


{% block footergallery %}
    <figure>
        <a href="{% static 'images/recepcion1.jpg' %}" rel="shadowbox[index]" title="Recepción">
            <img src="{% static 'images/recepcion1.min.jpg' %}" alt="Recepción" title="Recepción" />
        </a>
    </figure>
    <figure>
        <a href="{% static 'images/recepcion2.jpg' %}" rel="shadowbox[index]" title="Recepción">
            <img src="{% static 'images/recepcion2.min.jpg' %}" alt="Recepción" title="Recepción" />
        </a>
    </figure>
    <figure>
        <a href="{% static 'images/reloj.jpg' %}" rel="shadowbox[index]" title="Reloj">
            <img src="{% static 'images/reloj.min.jpg' %}" alt="Reloj" title="Reloj" />
        </a>
    </figure>
    <figure>
        <a href="{% static 'images/pasillo.jpg' %}" rel="shadowbox[index]" title="Pasillo de la consulta">
            <img src="{% static 'images/pasillo.min.jpg' %}" alt="Pasillo de la consulta" title="Pasillo de la consulta" />
        </a>
    </figure>
    <figure>
        <a href="{% static 'images/despacho.jpg' %}" rel="shadowbox[index]" title="Despacho">
            <img src="{% static 'images/despacho.min.jpg' %}" alt="Despacho" title="Despacho" />
        </a>
    </figure>
{% endblock %}


{% block footerjs %}
    {{ block.super }}
    <!-- 123ContactForm.com script begins here -->

    <!-- formalign -->

    <script type="text/javascript">
        (function($){
            $(document).ready(function () {
                $("form.form a.button").click(function(){
                    $(this).parents("form").submit();
                });
            });
        })(jQuery);
    </script>
    <script type="text/javascript">
        var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
        document.write(unescape("%3Cscript src='" + cfJsHost + "www.123contactform.com/includes/interactive123cf.js?2480' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script src="{% static 'js/jquery.googlemaps1.01.js' %}" type="text/javascript"></script>
    <script src="https://maps.google.com/maps?file=api&amp;v=3&amp;hl=es&amp;sensor=true&amp;key=AIzaSyAgfMglec3JH1xa-E_M13YolNAeM6N2p1s" type="text/javascript"></script>
<!--     <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.9&sensor=true"></script> -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#map_canvas').googleMaps({
                hl: 'es',
                latitude: 37.406045,
                longitude: -5.993344,
                markers: {
                        latitude:   37.390045,
                        longitude: -6.001344,
                        icon: {
                            image: '{{ STATIC_URL }}images/gmap_patrodent.png'
                        },
                        info: {
                            popup: true,
                            layer: '#address_info'
                        },
                    }
                });
            if (document.referrer == "https://www.123formbuilder.com/form-283841/Patrodent" || document.location.href.indexOf("sucess") != -1) {
                alert("Email enviado con exito, nos pondremos en contacto lo más rapidamente posible")
            }
        });
    </script>
    <script type="text/javascript">
        $(window).load(function(){
            $('#contact-form').forms({
                ownerEmail:'#'
            })
        })
	</script>
{% endblock %}
