{% extends "templates/tratamiento.html" %}

{% block metadescription %}Software de diseño de sonrisa digital.{% endblock %}

{% block title %}Endodoncia - {% endblock %}

{% block js-after-before %}
{% endblock %}

{% block content-body-wrapper %}
    <div class="alpha prefix_1 grid_22">
        <h2 class="p3">{% block content-title %}Endodoncia{% endblock %}</h2>
        {% block content-body %}
            <p>
                La endodoncia consiste en la desvitalización de la pieza dentaria. La vitalidad del diente la da lo que denominamos <strong>pulpa</strong>. Se localiza en su interior. Cuando ésta se inflama se produce una <strong>pulpitis</strong>. Ésta puede ser reversible o irreversible.
                <ol class="levels">
                    <li>La <strong>pulpitis reversible</strong>, como su propio nombre indica, suele remitir cuando eliminamos el agente causal que lo produce (una caries, un contacto anómalo de la pieza contra el antagonista...). El <strong>dolor</strong> se manifiesta sólo cuando la pieza está en contacto con el agente causal; una vez que se remite el agente causal, el dolor desaparece.</li>
                    <li>La <strong>pulpitis irreversible</strong> se manifiesta como un dolor continuo o espontáneo. Este tipo de pulpitis agudas son muy dolorosas. El tratamiento para este tipo de pulpitis sería la endodoncia (desvitalización de la pieza). </li>
                    <li>También puede ocurrir que la pieza esté <strong>necrótica</strong> y no tenga ningún tipo de dolor ni sensibilidad. Esto significa que la lesión ya es crónica; aún así esa pieza hay que tratarla ya que esta infectada, y el tratamiento es también la endodoncia.</li>
                </ol>
            </p>
            <p>
                El tratamiento consiste en eliminar todo el material infeccioso del interior de la pieza. Se pasan una serie de <strong>limas</strong> de diferentes longitudes y anchuras para poder eliminar bien  todo el material infectado del interior de las raíces. Se irriga el interior con un líquido desinfectante y se seca. Por último, se sella el interior de las raíces con un material biocompatible y finalmente se realiza la obturación definitiva. 
            </p>
            <p>
                Dependiendo del caso, habrá veces que el tratamiento se terminará en una misma sesión, o bien, serán necesario dos sesiones.
            </p>
            <p>
                Una vez realizado el tratamiento, la infección irá desapareciendo al cabo del tiempo.
            </p>
        {% endblock %}
    </div>
{% endblock %}

{% block before-after-title-wrapper %}{% endblock %}
