{% extends "templates/tratamiento.html" %}

{% block keywords %}Estética dental, Estética dental Sevilla, Blanqueamiento dental, Blanqueamiento dental Sevilla, empastes esteticos, fundas de porcelana{% endblock %}

{% block metadescription %}La Odontología Estética se encarga de tratar todas aquellas alteraciones y patologías de la morfología bucodental para lograr un canon de belleza{% endblock %}
{% block meta %}
<meta property="og:title" content="Estética dental y blanqueamiento " />
<meta property="og:url" content="https://patrodent.com{% url 'template_view' 'estetica' %}">
<meta property="og:description" content="La Odontología Estética se encarga de tratar todas aquellas alteraciones y patologías de la morfología bucodental para lograr un canon de belleza">
{% endblock %}
{% block title %}Estética dental y blanqueamiento - {% endblock %}


{% block content-title %}Estética dental y blanqueamiento{% endblock %}

{% block content-body %}
    <p>
        La <strong>Odontología Estética</strong> se encarga de tratar todas aquellas alteraciones y patologías de la morfología bucodental para lograr un canon de <strong>belleza</strong> que se ajuste al ideal social de hoy en dia.
    </p>
    <p>
        En este contexto, una sonrisa clara y perfecta se ha convertido en un requisito esencial, donde <strong>dientes blancos</strong>, saludables y <strong>alineados</strong> son referenciales de una <strong>persona atractiva</strong>.
    </p>
    <p>
        No obstante, más que un mero caso estético, el estado de nuestra boca es una cuestión de salud, al cual debemos estar atentos, por lo que elegimos el material mas adecuado para cada caso en particular.
    </p>
    <p>
        <strong>Los empastes estéticos</strong>, las <strong>Carillas y coronas de porcelana</strong>, <strong>el blanqueamiento dental</strong>,  la <strong>ortodoncia</strong>, así como, los injertos de encías,  han sufrido una gran evolución principalmente orientada hacia la estética, para satisfacer las demandas actuales de la población.

    </p>
    <p>
        La auténtica revolución de la odontología estética ha sido dada gracias al <strong>software de diseño digital de la sonrisa</strong>. Esta técnica permite ver el resultado final de la sonrisa del paciente, como también, mejorar la precisión de los tratamientos que se deben realizar y que el paciente pueda <strong>valorar el resultado final </strong>de su sonrisa antes de empezar con el tratamiento.
    </p>
{% endblock %}

{% block before-after %}
    {% include "templates/after_before/inc.estetica.html"%}
{% endblock %}
