{% extends "templates/servicio.html" %}

{% block metadescription %}Financiación a tu medida sin intereses{% endblock %}

{% block meta %}
<meta property="og:title" content="Financiación a tu medida sin intereses" />
<meta property="og:url" content="http{% if request.is_secure %}{% endif %}://{% url 'template_view' 'financiación' %}">
<meta property="og:description" content="Financiación a tu medida sin intereses">
{% endblock %}

{% block title %}Financiación a tu medida sin intereses - {% endblock %}


{% block content-body-wrapper %}
    <div class="alpha prefix_1 grid_22">
        <h2 class="p3">{% block content-title %}Financiación a tu medida sin intereses{% endblock %}</h2>
        {% block content-body %}
            <p>
                Nuestro servicio de <strong>financiación</strong> le permite acceder al tratamiento médico que requiere de una manera rápida, directa y con <strong>muy buenas condiciones</strong>, ya que es un servicio personalizado a las necesidades de los pacientes. 
            </p>
            <p>
                Contamos con un sistema de <strong>financiación</strong>, que le será totalmente de su agrado. Dado el carácter particular de cada paciente no es posible dar un presupuesto estándar sin estudiar detenidamente el tratamiento  individual de cada paciente. Por ello le invitamos a visitar nuestra clínica para concertar una cita o déjenos sus datos y nosotros le llamaremos.
            </p>
        {% endblock %}
    </div>
{% endblock %}
{% block before-after-title-wrapper %}{% endblock %}