<!-- 123ContactForm.com script begins here -->

<!-- formalign --><center>

<script type="text/javascript">
<!--
var formrules=new Array(0);
    
//-->
</script>
<script type="text/javascript">
var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
document.write(unescape("%3Cscript src='" + cfJsHost + "www.123contactform.com/includes/interactive123cf.js?2480' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
<!--
var selectedfield='';
var multiPageCurent=1;
var multiPageTotal=1;
function InputActions(field,id) {
    var textcolor='#000000';
    var hltextcolor='#000000';

    if (id==selectedfield) { /* alert('do nothing'); */ }
    else
        {
        // first we unhighlight the previous field, if any
        if (selectedfield!='')
            {
            lid=selectedfield;
            lidsec=lid.replace('row','rowsec');
            
            // reparam culoare textlabels
            var tr=document.getElementById(lid);
    
            if (document.getElementsByClassName) 
                {
            var textlabels = tr.getElementsByClassName('class123-label');
            for (j=0;j<textlabels.length;j++)
                textlabels[j].style.color=textcolor;
                }
                else
                {
                var textlabels=tr.getElementsByTagName('label');
                for (j=0;j<textlabels.length;j++)
                    if (textlabels[j].className.indexOf('class123-label')>-1) textlabels[j].style.color=textcolor;
                }
            var oldbg='';
            if (document.getElementById('errorflag'+lid)!=null)
                oldbg=document.getElementById('errorflag'+lid).value;
                
            // reparam culoare bg td
            var tds = tr.getElementsByTagName('div');
            for (j=0;j<tds.length;j++)
                tds[j].parentNode.parentNode.style.background=oldbg;
            
            // reparam culoare bg td sec
            if (document.getElementById(lidsec) != null)
                {
                var trsec=document.getElementById(lidsec);
                tds = trsec.getElementsByTagName('div');
                for (j=0;j<tds.length;j++)  
                    tds[j].parentNode.parentNode.style.background=oldbg;
                }
            }
        // then we highlight the new one
        selectedfield=id;
        
        lid=id;
        lidsec=lid.replace('row','rowsec');

        // modificam culoare textlabels
        var tr=document.getElementById(lid);
        if (document.getElementsByClassName) 
            {       
        var textlabels = tr.getElementsByClassName('class123-label');
        for (j=0;j<textlabels.length;j++)
            textlabels[j].style.color=hltextcolor;
            }
            else
            {
            var textlabels=tr.getElementsByTagName('label');
            for (j=0;j<textlabels.length;j++)
                if (textlabels[j].className.indexOf('class123-label')>-1) textlabels[j].style.color=hltextcolor;
            }

        // modificam culoare bg td
        var tds = tr.getElementsByTagName('div');
        for (j=0;j<tds.length;j++)
            tds[j].parentNode.parentNode.style.background='#FEF1C1';
        
        // modificam culoare bg td sec
        if (document.getElementById(lidsec) != null)
            {
            var trsec=document.getElementById(lidsec);
            tds = trsec.getElementsByTagName('div');
            for (j=0;j<tds.length;j++)  
                tds[j].parentNode.parentNode.style.background='#FEF1C1';
            }
        }

    // now the field rules
    
    InputRules('beginning');    
}
function IsFullDateEntered(c_id) {
if  ((document.getElementById('id123-control'+c_id+'-1').value!='')&&(document.getElementById('id123-control'+c_id+'-2').value!='')&&(document.getElementById('id123-control'+c_id+'-3').value!=''))
    document.getElementById('id123-control'+c_id).value=document.getElementById('id123-control'+c_id+'-1').value+'/'+document.getElementById('id123-control'+c_id+'-2').value+'/'+document.getElementById('id123-control'+c_id+'-3').value;
}
//-->
</script>
<form  id="contact-form" onsubmit="RefreshFrameHeight(1); return true;" action="http://www.123contactform.com/form-283841/Patrodent" id="mainform123" method="post" enctype="multipart/form-data">
<input type="hidden" name="action" value="verify"/><input type="hidden" name="special_autoresponder" id="special_autoresponder" value=""/><input type="hidden" name="language" value="en"/><input type="hidden" name="languageChanged" value="no"/><div class="class123_maintable maintable_centered" style="min-width: 250px; " >

<!-- Form headline begins -->
<div class='optionscontainer headline'><div><font size="5">Formulario de Contacto</font></div></div>
<!-- Form headline ends -->

<!-- fieldcontainer -->
<div class="fieldcontainer currentPage1 currentPageActive  fieldwidth100 " style=" ">
<div id="row1" class="currentPage1 currentPageActive">
<div class="rowleft"  style="text-align:left; ">
<label class="class123-label class123-fieldname fontbold  requiredfield " id="id123-title1735479" for="id123-control1735479">Nombre</label><!--[if lte IE 7]><span class="requiredspan">*</span><![endif]--><br/><label class="class123-labelinfo" id="id123-titlemic1735479">Escribe tu nombre completo</label></div>
<div class="rowright" align="left" style=""><input type="hidden" id="errorflagrow1" value=""/><input id="id123-control1735479" name="control1735479"  onclick="InputActions(this,'row1');" onkeyup="InputActions(this,'row1'); " onchange="InputRules(1735479); ;  " type="text" value="" style="width:280px; max-width:96% !important;" />
</div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div class="fieldcontainer currentPage1 currentPageActive  fieldwidth100 " style=" ">
<div id="row2" class="currentPage1 currentPageActive">
<div class="rowleft"  style="text-align:left; ">
<label class="class123-label class123-fieldname fontbold  requiredfield " id="id123-title1735480" for="id123-control1735480">Email</label><!--[if lte IE 7]><span class="requiredspan">*</span><![endif]--><br/><label class="class123-labelinfo" id="id123-titlemic1735480">Escribe tu email para poder contactar contigo</label></div>
<div class="rowright" align="left" style=""><input type="hidden" id="errorflagrow2" value=""/><input id="id123-control1735480" name="control1735480"  onclick="InputActions(this,'row2');" onkeyup="InputActions(this,'row2'); " onchange="InputRules(1735480); ;  " type="text" value="" style="width:280px; max-width:96% !important;" />
</div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div class="fieldcontainer currentPage1 currentPageActive  fieldwidth100 " style=" ">
<div id="row3" class="currentPage1 currentPageActive">
<div class="rowleft"  style="text-align:left; ">
<label class="class123-label class123-fieldname fontbold  requiredfield " id="id123-title1735481" for="id123-control1735481">Mensaje</label><!--[if lte IE 7]><span class="requiredspan">*</span><![endif]--><br/><label class="class123-labelinfo" id="id123-titlemic1735481">Escribe cual es tu consulta, y te atenderemos lo antes posible</label></div>
<div class="rowright" align="left" style=""><input type="hidden" id="errorflagrow3" value=""/><textarea id="id123-control1735481" name="control1735481" onclick="InputActions(this,'row3');" onkeyup="InputActions(this,'row3'); " onchange="InputRules(1735481); ;  " rows="4" style="width:280px; max-width:96% !important;"></textarea>
</div></div>
</div>
<!-- fieldcontainer ends -->


<!-- Buttons begin here -->
<div class='fieldcontainer thebuttons'>
<div class="currentPage1 currentPageActive"><div class='rowleft'> </div><div class='rowright' align="left"><input type="submit"  class="formdefaultbut" style="background:#C80042;" id="id123-button-send" value="Contactar con nosotros"/> </div></div>
</div>
<!-- fieldcontainer ends -->
<!-- Buttons end here -->
</div>
<div style="height:1px; display: none; visibility: hidden;">
<input type="text" name="email"/>
</div>

        <input type="hidden" name="hiddenfields" id="hiddenfields" value=""/>
        <input type="hidden" name="hiddenfields_pages" id="hiddenfields_pages" value=""/>
        <input type="hidden" name="activepage" id="activepage" value="1"/>      
        <input type="hidden" name="totalpages" id="totalpages" value="1"/>      
        <input type="hidden" name="nextpagenr" id="nextpagenr" value="2"/>
        <input type="hidden" name="prevpagenr" id="prevpagenr" value="0"/>      
        <script type="text/javascript">
        InputRules('firsttime');
        </script><input type="hidden" name="usage" value="e"/>
</form>
<p align='center' style='float:left; width:100%'><font size="1" face="verdana" color="#000000"><a href="http://www.123contactform.com">HTML forms</a> generated by 123ContactForm</font></p></center><!-- formalign ends -->
<script type="text/javascript">multiPageTotal=1;</script>
<p style='clear:both'></p>

<!-- 123ContactForm.com script ends here -->
