{% extends "templates/base.html" %}
{% load static %}

{% block meta %}
<meta property="og:title" content="Clínica Dental Patrodent" />
<meta property="og:url" content="http{% if request.is_secure %}{% endif %}://{{ request.get_host }}{% url 'template_view' 'index' %}">
<meta property="og:description" content="Clínica Dental Patrocinio Gómez Martínez C/ Marques de Paradas nº 22 1 º dcha Sevilla (junto a plaza de armas)">
<meta property="og:type" content="image/jpeg" />
<meta property="og:image" content="http{% if request.is_secure %}{% endif %}://{{ request.get_host }}{% static 'images/sala_de_esperas.jpg' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/tms-0.3.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/tms_presets.js' %}" type="text/javascript"></script>
{% endblock %}

{% block pageclass %}index{% endblock %}

{% block class-patrodent-link %} active{% endblock %}

{% block content %}
    <div class="slider-bottom p5">
        <div class="wrapper bot-pad">
            <div class="alpha prefix_1 grid_9">
                <h2>Clínica Dental Patrodent</h2>
                <h3 class="p2">Bienvenidos a tu clinica</h3>
                <p class="text-1 text-left-index">
                    La Clínica Dental Patrodent es una consulta de odontología integral, que le permitirá resolver todos los problemas de salud y estética buco-dental de una manera sencilla, cómoda y eficaz.
                </p>
                <p class="text-1 text-left-index">
                    Ofrece todo tipo de especialidades con un personal altamente cualificado: Odontología general, Estética dental y Blanqueamiento, Ortodoncia, Odontopediatría, Periodoncia, Endodoncia, Cirugía oral e Implantología, Prótesis dental y Rehabilitación implantoprotésica.
                </p>
                <p class="text-1 text-left-index">
                    Ven y confía en nosotros
                </p>
            </div>
            <div class="grid_14 omega">
                <div class="slider-wrapper">
                    <div class="slider">
                        <ul class="items">
                            <li><img src="{% static 'images/logo-galeria.png' %}" alt=""></li>
                            <li><img src="{% static 'images/patrocinio_y_angela.jpg' %}" alt=""></li>
                            <li><img src="{% static 'images/sala_de_esperas.jpg' %}" alt=""></li>
                            <li><img src="{% static 'images/recepcion3.jpg' %}" alt=""></li>
                            <li><img src="{% static 'images/cristal.jpg' %}" alt=""></li>
                            <li><img src="{% static 'images/patrocinio_y_angela2.jpg' %}" alt=""></li>
                            <li><img src="{% static 'images/equipo.jpg' %}" alt=""></li>
                        </ul>
                        <ul class="pagination">
                            <li><a href="#"><span>1</span></a></li>
                            <li><a href="#"><span>2</span></a></li>
                            <li><a href="#"><span>3</span></a></li>
                            <li><a href="#"><span>4</span></a></li>
                            <li><a href="#"><span>5</span></a></li>
                            <li><a href="#"><span>6</span></a></li>
                            <li><a href="#"><span>7</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="alpha prefix_1 grid_65 suffix_1">
            <h4 class="p3">Financiación</h4>
            <p class="p3">Contamos con un sistema de financiación, que le será totalmente de su agrado. Dado el carácter particular de cada paciente no es posible dar un presupuesto estándar sin estudiar detenidamente el tratamiento individual de cada paciente. Por ello le invitamos a visitar nuestra clínica para concertar una cita o déjenos sus datos y nosotros le llamaremos.</p>
        </div>
        <div class="grid_6 grid_65 suffix_1">
            <h4 class="p3"><a href="{% url 'template_view' "tratamientos" %}">Nuestros Tratamientos</a></h4>
            <ul class="list-1 p3">
                {% include "templates/inc.tratamientos.html" %}
            </ul>
        </div>
        <div class="grid_7 suffix_1 omega">
            <h4 class="p3">Renovandonos por ti...</h4>
            <blockquote><p>Nuestra vocación es ofrecer un excelente servicio y atención a nuestros pacientes para que queden totalmente satisfechos. Por ello, nos renovamos día a día intentando superarnos en nuestros logros; renovando la imágen de <a href="{% url 'template_view' "instalaciones" %}"> nuestra clínica</a> que le invitamos a conocer.</p>
            <p>Nuestro <a href="{% url 'template_view' "quienes-somos" %}">equipo humano</a> muy cualificado está a su disposición para ayudarle a resolver todas sus consultas en cualquier momento.”</p></blockquote>
        </div>
    </div>
{% endblock %}

{% block footergallery %}
    <figure>
        <a href="{% static 'images/equipo-trabajando2.jpg' %}" rel="shadowbox[index]" title="Equipo trabajando">
            <img src="{% static 'images/equipo-trabajando2.min.jpg' %}" alt="Equipo trabajando" title="Equipo trabajando" />
        </a>
    </figure>
    <figure>
        <a href="{% static 'images/consulta1.jpg' %}" rel="shadowbox[index]" title="Imágen de la consulta">
            <img src="{% static 'images/consulta1.min.jpg' %}" alt="Imágen de la consulta" title="Imágen de la consulta" />
        </a>
    </figure>
    <figure>
        <a href="{% static 'images/patrocinio-tv.jpg' %}" rel="shadowbox[index]" title="Patrocinio diagnosticando">
            <img src="{% static 'images/patrocinio-tv.min.jpg' %}" alt="Patrocinio diagnosticando" title="Patrocinio diagnosticando" />
        </a>
    </figure>
    <figure>
        <a href="{% static 'images/consulta2.jpg' %}" rel="shadowbox[index]" title="Imágen de la consulta">
            <img src="{% static 'images/consulta2.min.jpg' %}" alt="Imágen de la consulta" title="Imágen de la consulta" />
        </a>
    </figure>
    <figure>
        <a href="https://www.youtube.com/watch?v=5-JuMRmbmXo" target="_blank" title="Instalaciones de Patrodent">
            <img src="{% static 'images/instalaciones.min.jpg' %}" alt="Instalaciones de Patrodent" title="Instalaciones de Patrodent" />
        </a>
    </figure>
{% endblock %}


{% block footerjs %}
    {{ block.super }}
    <script type="text/javascript">
    $(window).load(function(){
        $('.slider')._TMS({
            duration:800,
            easing:'easeOutQuad',
            preset:'zabor',
            pagination:'.pagination',
            slideshow:3000,
            banners:'fade',
            waitBannerAnimation:false,
            pauseOnHover:true
        })
    });
    </script>
{% endblock %}
