{% extends "templates/base.html" %}

{% load static %}

{% block content %}
    <div class="wrapper">
        <div class="alpha prefix_1 grid_7">
            <div class="border-1">
                <h3 class="p3">Cosmetic Dentistry</h3>
                <div class="border-2">
                    <div class="wrapper">
                        <figure class="img-indent3"><img src="{% static 'images/pic1.png' %}" alt="" /></figure>
                        <div class="extra-wrap">
                            <strong class="style-2">Composite Fillings</strong>
                            Aliquam erat volutpat. In ullamcorper, ligula obortis susc.
                        </div>
                    </div>
                </div>
                <div class="border-2">
                    <div class="wrapper">
                        <figure class="img-indent3"><img src="{% static 'images/pic2.png' %}" alt="" /></figure>
                        <div class="extra-wrap">
                            <strong class="style-2">Porcelain Crowns</strong>
                            In ulamcorper, ligula lobortis suscipit liber feugiat nunc.
                        </div>
                    </div>
                </div>
                <div class="wrapper indent-bot2">
                    <figure class="img-indent3"><img src="{% static 'images/pic3.png' %}" alt="" /></figure>
                    <div class="extra-wrap">
                        <strong class="style-2">Dental Implants</strong>
                        Feugiat nunc, a cona equat tellus nibh eges proin ut tinc.
                    </div>
                </div>
                <div class="indent-bot4">
                    <a class="button" href="#">read more</a>
                </div>
                <h3 class="p3">Services</h3>
                <ul class="list-1">
                    <li><a href="#">Smile Design</a></li>
                    <li><a href="#">Porcelain Veneers</a></li>
                    <li><a href="#">Dental Implants</a></li>
                    <li><a href="#">Dental Bridge</a></li>
                    <li><a href="#">Zoom Whitening</a></li>
                    <li><a href="#">Invisalign</a></li>
                    <li><a href="#">Laser Dentistry</a></li>
                    <li><a href="#">Tooth Bonding</a></li>
                    <li><a href="#">Porcelain Crowns</a></li>
                    <li><a href="#">White Fillings</a></li>
                    <li><a href="#">Teeth Whitening</a></li>
                </ul>
            </div>
        </div>
        <div class="grid_15 suffix_1 omega">
            <h3 class="p3">Computerized Smile Design</h3>
            <div class="wrapper p8">
                <figure class="img-style img-indent2"><img src="{% static 'images/page3-img1.jpg' %}" alt="" /></figure>
                <div class="extra-wrap">
                    <h5 class="indent-bot">Fusce suscipit vaus mi, Cunsow ciis parturient montes.</h5>
                    Praesent vestibulum molestie lacus. Aenean nonumy hendrerit mauris. Phasellus porta. Fusce suscipit <br />varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, <br />ravida at, cursus nec, luctus.
                </div>
            </div>
            <h3 class="margin-bot">Full Range of Cosmetic Dentistry Treatment </h3>
            <div class="wrapper">
                <div class="col-1 indent-r">
                    <figure class="img-style p3"><img src="{% static 'images/page3-img2.jpg' %}" alt="" /></figure>
                    <p>Praesent vestibulum molest ie lacus. Aenean nonumy hendrerit mauris. Phasellus porta. Fusce suscipit varius</p>
                    <p>Cum sociis natoque penat ibus et magnis dis parturient ridiculus mus. Nulla dui fusce feugia.</p>
                    <a class="button" href="#">read more</a>
                </div>
                <div class="col-2 indent-r">
                <figure class="img-style p3"><img src="{% static 'images/page3-img3.jpg' %}" alt="" /></figure>
                    <p>Nulla vel lacus a ipsum male Proin dictum tincidunt diam, eu tempus sapien vehic.</p>
                    <p>Aliquam ac purus quis ipsum m malesuada fermentum. In hac habitasse platea ictu- mst. Integer eu commodo justo ntesque laoreet.</p>
                    <a class="button" href="#">read more</a>
                </div>
                <div class="col-3">
                <figure class="img-style p3"><img src="{% static 'images/page3-img4.jpg' %}" alt="" /></figure>
                    <p>Imperdiet varius vel, feugiat pulvinar purus! Duis nec nisi augue. Nunc id risus ac.</p>
                    <p>Ipsum venenatis tincidunt. Proin nulla urna, porttitor nei accumsan eu, laoreet eu imperdiet malesuada. Nulla auctor, erat vitae.</p>
                    <a class="button" href="#">read more</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}