{% extends "templates/base.html" %}
{% load static %}

{% block meta %}
<meta property="og:title" content="Clínica Dental Patrodent, C/ Marques de Paradas, Sevilla" />
<meta property="og:url" content="http{% if request.is_secure %}{% endif %}://patrodent.com{% url 'template_view' 'index' %}">
<meta property="og:description" content="Clínica Dental Patrocinio Gómez Martínez C/ Marques de Paradas nº 22 1 º dcha Sevilla (junto a plaza de armas)">
<meta property="og:type" content="image/jpeg" />
<meta property="og:image" content="http{% if request.is_secure %}{% endif %}://patrodent.com/{% static 'images/sala_de_esperas.jpg' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/tms-0.3.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/tms_presets.js' %}" type="text/javascript"></script>
{% endblock %}

{% block pageclass %}index{% endblock %}

{% block class-patrodent-link %} active{% endblock %}

{% block content %}
    <div class="slider-bottom p5">
        <div class="wrapper bot-pad">
            <div class="alpha prefix_1 grid_9">
                <h2>Clínica Dental Patrodent</h2>
                <h3 class="p2">Bienvenidos a tu clinica</h3>
                <p class="text-1 text-left-index">
                    La Clínica Dental PATRODENT es una consulta de Odontología Avanzada con más de 35 años de experiencia. Está situada en el centro de Sevilla y ofrece todos los servicios e innovaciones de la odontología actual.
                </p>
                <p class="text-1 text-left-index">
                    Buscamos la excelencia en el trato y en el servicio, es por ello que ofrecemos una atención personalizada y exclusiva durante todo el tratamiento.
                </p>
                <p class="text-1 text-left-index">
                    Nuestras instalaciones cuentan con todas las comodidades para ofrecer un diagnóstico avanzado de todos nuestros casos.
                </p>
            </div>
            <div class="grid_14 omega">
                <div class="slider-wrapper">
                    <div class="slider">
                        <ul class="items">
                            <li><img src="{% static 'images/logo-galeria.png' %}" alt=""></li>
                            <li><img src="{% static 'images/patrocinio_y_angela.jpg' %}" alt=""></li>
                            <li><img src="{% static 'images/sala_de_esperas.jpg' %}" alt=""></li>
                            <li><img src="{% static 'images/recepcion3.jpg' %}" alt=""></li>
                            <li><img src="{% static 'images/cristal.jpg' %}" alt=""></li>
                            <li><img src="{% static 'images/patrocinio_y_angela2.jpg' %}" alt=""></li>
                            <li><img src="{% static 'images/equipo.jpg' %}" alt=""></li>
                        </ul>
                        <ul class="pagination">
                            <li><a href="#"><span>1</span></a></li>
                            <li><a href="#"><span>2</span></a></li>
                            <li><a href="#"><span>3</span></a></li>
                            <li><a href="#"><span>4</span></a></li>
                            <li><a href="#"><span>5</span></a></li>
                            <li><a href="#"><span>6</span></a></li>
                            <li><a href="#"><span>7</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper home3colums">
        <div class="grid_7">
            <img src="{% static 'images/logo_1982_green.png' %}" class="tip-logo" alt="1982">
            <h4 class="p3"><a href="{% url 'template_view' "nuestra-historia" %}">Tu clínica de confianza desde 1982</a></h4>
            <p>Creemos en la tradición del trato cercano y la excelencia clínica.</p>
        </div>
        <div class="grid_7 center">
            <img src="{% static 'images/logo_finanza_green.png' %}" alt="Finanzciación">
            <h4 class="p3"><a href="{% url 'template_view' "financiacion" %}">Financiación a tu medida</a></h4>
            <p class="p3">Contamos con un sistema de financiación, que le será totalmente de su agrado. </p>
        </div>

        <div class="grid_7">
            <img src="{% static 'images/logo_materiales_premium.png' %}" class="tip-logo" alt="materiales premium">
            <h4 class="p3">Solo materiales Premium</h4>
            <p class="p3">Trabajamos con materiales de alta gama, así como con laboratorios de prótesis dental de primer nivel.</p>
        </div>
    </div>
{% endblock %}

{% block footergallery %}
    <figure>
        <a href="{% static 'images/equipo-trabajando2.jpg' %}" rel="shadowbox[index]" title="Equipo trabajando">
            <img src="{% static 'images/equipo-trabajando2.min.jpg' %}" alt="Equipo trabajando" title="Equipo trabajando" />
        </a>
    </figure>
    <figure>
        <a href="{% static 'images/consulta1.jpg' %}" rel="shadowbox[index]" title="Imágen de la consulta">
            <img src="{% static 'images/consulta1.min.jpg' %}" alt="Imágen de la consulta" title="Imágen de la consulta" />
        </a>
    </figure>
    <figure>
        <a href="{% static 'images/patrocinio-tv.jpg' %}" rel="shadowbox[index]" title="Patrocinio diagnosticando">
            <img src="{% static 'images/patrocinio-tv.min.jpg' %}" alt="Patrocinio diagnosticando" title="Patrocinio diagnosticando" />
        </a>
    </figure>
    <figure>
        <a href="{% static 'images/consulta2.jpg' %}" rel="shadowbox[index]" title="Imágen de la consulta">
            <img src="{% static 'images/consulta2.min.jpg' %}" alt="Imágen de la consulta" title="Imágen de la consulta" />
        </a>
    </figure>
    <figure>
        <a href="https://www.youtube.com/watch?v=5-JuMRmbmXo" target="_blank" title="Instalaciones de Patrodent">
            <img src="{% static 'images/instalaciones.min.jpg' %}" alt="Instalaciones de Patrodent" title="Instalaciones de Patrodent" />
        </a>
    </figure>
{% endblock %}


{% block footerjs %}
    {{ block.super }}
    <script type="text/javascript">
    $(window).load(function(){
        $('.slider')._TMS({
            duration:800,
            easing:'easeOutQuad',
            preset:'zabor',
            pagination:'.pagination',
            slideshow:3000,
            banners:'fade',
            waitBannerAnimation:false,
            pauseOnHover:true
        })
    });
    </script>
{% endblock %}
