{% extends "templates/base.html" %}

{% load static %}

{% block metadescription %}Instalaciones de la Clínica Dental Patrocinio Gómez Martínez (Patrodent){% endblock %}


{% block meta %}
<meta property="og:title" content="Nuestras Instalaciones" />
<meta property="og:url" content="http{% if request.is_secure %}{% endif %}://{% url 'template_view' 'instalaciones' %}">
<meta property="og:description" content="Instalaciones de la Clínica Dental Patrocinio Gómez Martínez (Patrodent)">
<meta property="og:type" content="image/jpeg" />
<meta property="og:image" content="http{% if request.is_secure %}{% endif %}://{% static 'images/consulta5.jpg' %}" />
{% endblock %}

{% block class-clinica-link %}active{% endblock %}

{% block title %}Instalaciones - {% endblock %}

{% block pageclass %}Place{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="alpha prefix_1 grid_9">
            <div class="border-1">
                <h4 class="margin-bot">Nuestras Instalaciones</h4>
                <div class="wrapper indent-bot2">
                    <figure class="img-style img-indent">
                        <iframe width="300" height="200" src="https://www.youtube.com/embed/5-JuMRmbmXo?autoplay=1" frameborder="0" allowfullscreen></iframe>
                        <span class="afterBeforeText">Visita nuestras instalaciones interactivamente</span>
                    </figure>
                </div>
                <div class="wrapper indent-bot2">
                    <figure class="img-style img-indent"><img src="{% static 'images/consulta5.jpg' %}" alt="Gabinete número 1" title="Gabinete número 1"/>
                        <span class="afterBeforeText">Gabinete número 1</span>
                    </figure>
                </div>
            </div>
        </div>
        <div class="grid_13 suffix_1 omega">
            <h2 class="p3">Conoce nuestras instalaciones</h2>
            <h5 class="indent-bot">Nuestro instalaciones han sido totalmente remodeladas</h5>
            La clínica esta dotada de 3 <strong>gabinetes</strong> completos totalmente informatizados con pantallas de televisión y ordenadores que intercomunican cada gabinete entre si y con los demás departamentos de la clínica.
            </p>
            <p>
            Cada uno de nuestros <strong>gabinetes</strong>, así como nuestras salas de rayos y de esterilización, se encuentran completamente equipados para poder ofrecer el máximo nivel de calidad y seguridad en todos nuestros tratamientos.
            </p>
            <p>La sala de <strong>radiología digital</strong> está completamente <strong>aislada</strong> e <strong>informatizada</strong> para la realización de radiografías extraorales 2D (panorex y teleradiografías), así como 3D (TAC). La radiología digital intraoral se realiza en todos los gabinetes. La radiología digital nos permite obtener radiografías en menor tiempo y reducir en un 80% la dosis de radiación que reciben nuestros pacientes.</p>
            <p>Una <strong>sala de esterilización y limpieza del instrumental</strong>, junto con una zona de <strong>preparación de modelos de escayola</strong> (recortadora de modelos).
            Un <strong>despacho para la atención personal</strong> con el paciente, la recepción y la sala de espera muy confortable con pantalla de televisión y videos informativos, infantiles  y de recreo completan y amenizan su estancia en la clínica.
            </p>
        </div>
    </div>
{% endblock %}


{% block footergallery %}
    <figure>
        <a href="https://www.youtube.com/watch?v=5-JuMRmbmXo" target="_blank" title="Instalaciones de Patrodent">
            <img src="{% static 'images/instalaciones.min.jpg' %}" alt="Instalaciones de Patrodent" title="Instalaciones de Patrodent" />
        </a>
    </figure>
    <figure>
        <a href="{% static 'images/consulta1.jpg' %}" rel="shadowbox[instalaciones]" title="Imágen de la consulta">
            <img src="{% static 'images/consulta1.min.jpg' %}" alt="Imágen de la consulta" title="Imágen de la consulta" />
        </a>
    </figure>
    <figure>
        <a href="{% static 'images/consulta2.jpg' %}" rel="shadowbox[instalaciones]" title="Imágen de la consulta">
            <img src="{% static 'images/consulta2.min.jpg' %}" alt="Imágen de la consulta" title="Imágen de la consulta" />
        </a>
    </figure>
    <figure>
        <a href="{% static 'images/consulta3.jpg' %}" rel="shadowbox[instalaciones]" title="Sala de espera">
            <img src="{% static 'images/consulta3.min.jpg' %}" alt="Sala de espera" title="Sala de espera" />
        </a>
    </figure>
    <figure>
        <a href="{% static 'images/consulta4.jpg' %}" rel="shadowbox[instalaciones]" title="Sala de espera">
            <img src="{% static 'images/consulta4.min.jpg' %}" alt="Sala de espera" title="Sala de espera" />
        </a>
    </figure>
{% endblock %}
