{% extends "templates/tratamiento.html" %}

{% block keywords %}Odontología general, Odontología general en Sevilla, endodoncia, endodoncia Sevilla, quitar el nervio, matar el nervio, desvitalizar, Odontopediatría: Pulpotomía, tratamientos infantiles, control de habitos, logopedia{% endblock %}

{% block metadescription %}La odontología conservadora y restauradora nos permite prevenir, detener y curar las caries dentales{% endblock %}

{% block meta %}
<meta property="og:title" content="Odontología General / Estética " />
<meta property="og:url" content="https://patrodent.com{% url 'template_view' 'odontologia' %}">
<meta property="og:description" content="La odontología conservadora y restauradora nos permite prevenir, detener y curar las caries dentales">
{% endblock %}

{% block title %}Odontología General / Estética - {% endblock %}

{% block content-title %}Odontología General - Estética{% endblock %}

{% block content-body %}
   <p>
       Es la manera más natural de sustituir <strong>dientes perdidos</strong>. Los <strong>implantes dentales</strong> son fijaciones de <strong>titanio</strong> que se colocan en el maxilar o en la mandíbula para sustituir los <strong>dientes ausentes</strong>.
    </p>
   <p>
        Los <strong>implantes</strong> se intentan colocar en donde estaban las raíces de los dientes (son raíces artificiales). Sobre ellos colocaremos las <strong>coronas de cerámica</strong> para imitar los dientes naturales. De esta forma no tocamos los dientes vecinos a la zona desdentada con puentes convencionales, ni tenemos los inconvenientes de las prótesis removibles. Con los implantes dentales podemos sustituir desde dientes aislados hasta arcadas completamente desdentadas.
    </p>
   <p>
        A veces se puede aprovechar el mismo momento de la extracción del diente deteriorado para colocar el implante en la misma sesión y así se evita el tener que realizar una segunda intervención. Los implantes colocados de esta manera se les denomina implantes inmediatos.
        Este procedimiento se realiza bajo <strong>anestesia local</strong> (sin pérdida del conocimiento). La colocación de implantes no es dolorosa. En algunos casos puede generarse una pequeña inflamación de la zona que suele remitir en <strong>24-48 horas</strong>.
    </p>
{% endblock %}

{% block before-after %}
    {% include "templates/after_before/inc.odontologia.html" %}
{% endblock %}

{% block before-after-title %}
    <div class="wrapper indent-bot2">
        <figure class="img-style img-indent">
            <iframe width="250" height="156" src="https://www.youtube.com/embed/sftZ6TXTO_o?autoplay=1" frameborder="0" allowfullscreen></iframe>
            <span class="afterBeforeText"></span>
        </figure>
    </div>
    {{block.super}}
{% endblock %}

