{% extends "templates/servicio.html" %}

{% block metadescription %}Plan de Salud Bucodental de la Junta de Andalucía{% endblock %}

{% block meta %}
<meta property="og:title" content="Plan de Salud Bucodental de la Junta de Andalucía" />
<meta property="og:url" content="http{% if request.is_secure %}{% endif %}://{{ request.get_host }}{% url 'template_view' 'plan-salud' %}">
<meta property="og:description" content="Plan de Salud Bucodental de la Junta de Andalucía">
{% endblock %}

{% block title %}Plan de Salud Bucodental de la Junta de Andalucía - {% endblock %}

{% block content-body-wrapper %}
    <div class="alpha prefix_1 grid_22">
        <h2 class="p3">{% block content-title %}Plan de Salud Bucodental de la Junta de Andalucía{% endblock %}</h2>
        {% block content-body %}
            <p>
                Nuestra clínica pertenece al plan de <strong>Salud Bucodental</strong> de la Junta de Andalucía, el cual con la Tarjeta Sanitaria Individual, <strong>los niños entre 6-16 años</strong> nos eligen como su dentista de cabecera durante un año. Ofrecemos la atención individualizada de cada niño y sus <strong>revisiones gratuitas cada 6 meses.</strong>
            </p>
        {% endblock %}
    </div>
{% endblock %}
{% block before-after-title-wrapper %}{% endblock %}