{% extends "preguntas-frecuentes.html" %}

{% block faqcontent %}
<h2 class="p3">Estética dental y blanqueamientos</h2>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Qué es el blanqueamiento dental?</h4>
    <div class="answer">
        <p>El blanqueamiento dental está indicado para todas aquellas personas que hayan notado una pérdida del color natural de sus dientes ya sea por causas genéticas o factores externos como el tabaco, café, té o ciertos medicamentos.</p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Todo el mundo puede realizarse un blanqueamiento dental?</h4>
    <div class="answer">
        <ul class="enum">
            <li>Para poder realizar el tratamiento es necesario que el paciente tenga una buena salud bucal en lo que se refiere a caries o problemas periodontales o gingivales. </li>
            <li>También puede realizarse en pacientes que tengan sensibilidad dental, pero siendo siempre supervisada por el profesional y llevando a cabo unas pautas especiales. </li>
        </ul>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Qué efectos adversos puede tener el blanqueamiento dental?</h4>
    <div class="answer">
        <p>Es posible cierta sensibilidad durante el tratamiento. En caso de ser así, el paciente llevará unas pautas para ello, así como un teléfono para contactarnos para cualquier cuestión. Esta sensibilidad suele ser transitoria, más o menos de 2 a 4 días. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Cuánto dura un blanqueamiento dental?</h4>
    <div class="answer">
        <p>La duración de los resultados dependerá de los cuidados que realice el paciente, así como de factores extrínsecos como el vino tinto, café, tabaco… No obstante, el paciente tendrá por escrito todas las indicaciones para el cuidado óptimo de sus dientes tras el blanqueamiento. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿El blanqueamiento dental es doloroso?</h4>
    <div class="answer">
        <p>Es un procedimiento indoloro. Consiste en colocar un gel blanqueador sobre los dientes del paciente y luego activar el producto mediante una luz de lámpara LED de última generación. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Funciona el blanqueamiento si llevo fundas o empastes?</h4>
    <div class="answer">
        <p>El blanqueamiento sólo hace efecto en diente natural. Los empastes y las fundas no se tiñen. En caso de que el paciente los lleve, habrá que valorar si cambiarlos o realizar el tratamiento más indicado según cada caso. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Qué cuidados debo tener posterior a un blanqueamiento dental?</h4>
    <div class="answer">
        <ul class="enum">
            <li>Mantener una correcta higiene bucal y acudir a las revisiones indicadas por el profesional</li>
            <li>No ingerir alimentos con colorantes y evitar bebidas como vino tinto, café o té.</li>
            <li>Evitar fumar durante el tratamiento. </li>
        </ul>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Qué son las carillas dentales estéticas?</h4>
    <div class="answer">
        <p>Las carillas dentales son unas finas láminas, ya sea de composite o de porcelana, que se colocan cementadas encima de los dientes para mejorar su estética, tanto en forma, color y tamaño. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Todo el mundo puede ponerse carillas estéticas?</h4>
    <div class="answer">
        <p>No todo el mundo tiene esa posibilidad pues hay ciertas excepciones como son un hábito fuerte de rechinamiento o apretamiento, o un color del diente demasiado oscuro. En estos casos hay otras alternativas también muy estéticas. En PATRODENT estudiamos cada caso individualmente; y a todo se le encuentra una solución. </p>
    </div>
</div>
{% endblock %}