{% extends "preguntas-frecuentes.html" %}

{% block faqcontent %}
<h2 class="p3">Periodoncia</h2>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Qué es la enfermedad periodontal?</h4>
    <div class="answer">
        <p>La periodoncia engloba la ciencia que estudia las patologías del periodonto, es decir, el tejido que sostiene el diente.</p>
        <p>Las enfermedades periodontales son patologías infecciosas causadas por bacterias y, cuando las encías se inflaman y se tornan enrojecidas, como consecuencia de una mala higiene oral debido al ataque de esas bacterias, ocurre un proceso reversible denominado <strong>gingivitis</strong>.</p>
        <p>Cuando esta inflamación es crónica y además es concomitante con otros factores, como el tabaco o la diabetes, puede producirse una pérdida progresiva del hueso alveolar irreversible que denominamos <strong>periodontitis</strong>. Ésta tiene una predisposición genética importante, por lo que hay que tener siempre en cuenta los antecedentes en la familia del paciente.</p>
        <p>Debido a esta pérdida de hueso, se forma una bolsa alrededor del diente, ya que la encía se mantiene y el hueso se pierde. Esta bolsa se convierte en un reservorio de comida importante, por lo que es necesario una higiene más exhaustiva, además de las frecuentes visitas al profesional para hacer los mantenimientos de la zona.</p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Cuál es el origen de la enfermedad periodontal?</h4>
    <div class="answer">
        <p>La enfermedad periodontal tiene una predisposición genética importante, y esto no se puede modificar. Si bien, hay factores que lo agravan y sí se pueden evitar (tabaco, mala higiene oral, etc.). Si un paciente tiene antecedentes de enfermedad periodontal, es importante que acuda a sus revisiones odontológicas a menudo para que lo detectemos a tiempo y tomemos las medidas pertinentes. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Cuál es el tratamiento de la enfermedad periodontal?</h4>
    <div class="answer">
        <p>El tratamiento periodontal consiste en el raspado y alisado de la superficie radicular. Para el diagnóstico de la enfermedad periodontal, hacemos una serie radiográfica, además de un sondaje selectivo de cada zona del diente en el que medimos la distancia desde el borde gingival hasta el hueso alveolar circundante a la pieza, para evaluar la pérdida de hueso individualizada de cada zona.</p>
        <p>La distancia fisiológica desde el borde gingival hasta el hueso es de 2-3mm. Cuando esta distancia es superior, hablamos de enfermedad periodontal. Como es lógico pensar, a mayor distancia, mayor gravedad de la enfermedad.</p>
        <p>Así pues, el tratamiento periodontal consta de dos fases:</p>
        <ul class="list">
            <li><strong>1º Fase</strong>: Consiste en limpiar y alisar exhaustivamente la superficie de la pieza adyacente a la bolsa que se forma, tanto para eliminar la placa de su interior como para evitar su fácil adhesión posterior. Éste se realiza por cuadrantes (dividimos la boca en 4 partes) y con anestesia local, es decir, en cada cita se realizará un cuadrante. Tras el tratamiento, se deja la bolsa totalmente limpia y la superficie de la pieza alisada, lo cual disminuye la acumulación de comida por haber eliminado la retención.</li>
            <li><strong>2º Fase</strong>: Es lo que denominamos tratamiento quirúrgico. No siempre es necesario (sólo en casos más graves). Tras la primera fase del tratamiento se hace una reevaluación al mes y comprobamos si ha habido mejoría, o si por lo contrario todo se mantiene igual. Si éste es el caso, el paciente tendrá que ser sometido al tratamiento quirúrgico, el cual consiste en elevar y despegar levemente sus encías tanto por vestibular y palatino de la zona a tratar, limpiamos y desinfectamos profusamente la zona y posteriormente suturamos recolocando los colgajos.</li>
        </ul>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Tengo que tener algún cuidado especial?</h4>
    <div class="answer">
        <p>Durante el post operatorio se aconseja que los primeros días no se cepillen bruscamente por la zona donde hay suturas, y que no escupan ni se enjuaguen bruscamente durante las primeras 24h.</p>
        <p>La enfermedad periodontal tiene la peculiaridad de que el paciente que la padece necesita un mantenimiento para evitar una pérdida de hueso adicional, que ya ha sido tratado y detenido. Es fundamental revisiones de un máximo de seis meses, en las que el paciente acude a nuestra consulta para realizarse sus mantenimientos periodontales. Es necesario individualizar cada caso, ya que no todos los pacientes periodontales tienen la misma gravedad de su enfermedad.</p>
        <p>Normalmente, los pacientes que se someten a tratamiento periodontal suelen referir que sus dientes tienen un aspecto más largo. Esto es debido a que cuando las encías están sanas se retraen (suben) hacia una posición más cercana al hueso de soporte, ya que el fin del tratamiento es disminuir esta bolsa y mantener una buena salud periodontal. </p>
        <p>Esta condición también le facilita al paciente su higiene. Recomendamos siempre el uso del cepillo eléctrico, seda dental, así como de los cepillos interproximales.</p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿La enfermedad periodontal se trasmite?</h4>
    <div class="answer">
        <p>Hay estudios que sugieren que las bacterias causantes de la enfermedad periodontal pueden trasmitirse a través de la saliva, y en pacientes que tengan una predisposición genética a ello, pueden padecerla.</p>
    </div>
</div>
{% endblock %}