{% extends "preguntas-frecuentes.html" %}

{% block faqcontent %}
<h2 class="p3">Endodoncia</h2>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Qué es una endodoncia?</h4>
    <div class="answer">
        <p>La endodoncia consiste en la desvitalización de la pieza dentaria. La vitalidad del diente la da lo que denominamos pulpa. Se localiza en su interior. Cuando ésta se inflama se produce una pulpitis. Ésta puede ser reversible o irreversible. </p>
        <ul class="enum">
            <li>La <strong>pulpitis reversible</strong>, como su propio nombre indica, suele remitir cuando eliminamos el agente causal que lo produce (una caries, un contacto anómalo de la pieza contra el antagonista…). El dolor se manifiesta sólo cuando la pieza está en contacto con el agente causal; una vez que se remite el agente causal, el dolor desaparece.</li>
            <li>La <strong>pulpitis irreversible</strong> se manifiesta como un dolor continuo o espontáneo. Este tipo de pulpitis agudas son muy dolorosas. El tratamiento para este tipo de pulpitis sería la endodoncia (desvitalización de la pieza). </li>
            <li>También puede ocurrir que la pieza esté <strong>necrótica</strong> y no tenga ningún tipo de dolor ni sensibilidad. Esto significa que la lesión ya es crónica; aún así esa pieza hay que tratarla ya que esta infectada, y el tratamiento es también la endodoncia.</li>
        </ul>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Cuándo está indicado realizar una endodoncia?</h4>
    <div class="answer">
        <p>Tal y como se ha explicado en la pregunta anterior, estaría indicado en caso de pulpitis irreversible o necrosis de la pulpa. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Es un procedimiento doloroso?</h4>
    <div class="answer">
        <p>NO tiene por qué serlo; pero si el paciente llega a la clínica con dolor; éste no remitirá hasta que pongamos anestesia dentro de la cámara pulpar; posteriormente a ésto, el paciente no sentirá nada durante todo el procedimiento. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿En qué consiste el procedimiento?</h4>
    <div class="answer">
        <p>El tratamiento consiste en eliminar todo el material infeccioso del interior de la pieza. Se pasan una serie de limas de diferentes longitudes y anchuras para poder eliminar bien todo el material infectado del interior de las raíces. Se lava el interior con un líquido desinfectante y se seca. Por último, se sella el interior de las raíces con un material biocompatible y finalmente se realiza la reconstrucción definitiva de diente.</p>
        <p>Dependiendo del caso, habrá veces que el tratamiento se terminará en una misma sesión, o bien, serán necesarias varias sesiones.</p>
        <p>Una vez realizado el tratamiento, la infección irá desapareciendo al cabo del tiempo.</p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Debemos tener algún cuidado especial posterior a una endodoncia?</h4>
    <div class="answer">
        <p>Normalmente, las piezas que se han sometido a este tratamiento quedan con muy poco soporte dentario, además de que el propio tratamiento en sí debilita la pieza; por lo que es importante que, una vez comprobada la remisión de la infección, se le coloque una corona/funda. </p>
        <p>En otros casos, donde la destrucción del diente es mayor, es necesario colocar unos pernos o postes en el interior del diente para que proporcionen sujeción y estabilidad a la corona que irá sobre el diente.</p>
        <p>Tras el tratamiento endodóncico es normal que el paciente experimente:</p>
        <ol class="olnum">
            <li>Molestas al masticar e inflamación en la zona debido a la manipulación mecánica de los tejidos circundantes</li>
            <li>Ligero malestar en las articulaciones de la mandíbula</li>
            <li>Dificultad al abrir la boca</li>
        </ol>
        <p>Es importante que el paciente:</p>
        <ol class="olnum">
            <li>Mantenga una higiene correcta, ya que la endodoncia no previene la caries ni la enfermedad periodontal</li>
            <li>Evite sobrecargas </li>
            <li>Siga las revisiones periódicas que le indiquemos aunque no sienta dolor</li>
        </ol>
        <p>El diente endodonciado podrá sufrir cambios en la coloración con el tiempo. Si es así, se recomienda un blanqueamiento interno u otro tipo de tratamiento estético.</p>
    </div>
</div>
{% endblock %}