{% extends "preguntas-frecuentes.html" %}

{% block faqcontent %}
<h2 class="p3">Ortodoncia invisible</h2>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿En qué consiste el Invisalign?</h4>
    <div class="answer">
        <p>El invisalign es un novedoso sistema de ortodoncia invisible que consiste en una serie de alineadores hechos a medida y removibles. Cada alineador es ligeramente diferente al anterior. Y estos deben cambiarse cada semana. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Cuánto tiempo dura el tratamiento con Invisalign?</h4>
    <div class="answer">
        <p>La duración de tratamiento depende de diferentes factores como son la complejidad del caso y de la colaboración de paciente. Si bien, la duración es aproximadamente igual que un caso de brackets.</p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Es doloroso el Invisalign?</h4>
    <div class="answer">
        <p>NO. Si bien, al igual que con la ortodoncia convencional es normal sentir ligera presión, la cual se corresponde al movimiento de los dientes. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Se puede colocar el Invisalign a cualquier edad?</h4>
    <div class="answer">
        <p>Sí. Si bien, cada caso hay que estudiarlo individualmente para valorar ventajas e inconvenientes de cada opción terapéutica y mejor solución para cada caso. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Se puede fumar con los alineadores puestos?</h4>
    <div class="answer">
        <p>No es conveniente. Pues el material del que están confeccionados se tiñe, y pierde toda la estética. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Se puede comer con los alineadores?</h4>
    <div class="answer">
        <p>NO. Los alineadores deben llevarse durante las 24h del día, exceptuando para comer y lavarse los dientes. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Se puede mascar chicle con los alineadores puestos?</h4>
    <div class="answer">
        <p>No se recomienda mascar chicle con los alineadores puestos, pues el chicle se puede pegar a ellos y desinsertarlos o desajustarlos. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Afectan los alineadores a la forma de hablar?</h4>
    <div class="answer">
        <p>Es muy raro que se refiera dificultad al hablar. Si bien, como cualquier aparato de ortodoncia requiere unos días de adaptación. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Qué debo hacer si se me ha roto o perdido un alineador?</h4>
    <div class="answer">
        <p>Si se te ha roto o perdido un alineador de Invisalign y faltan pocos días para cambiar al siguiente alineador, intenta colocarte este último. No obstante, debes llamar a la consulta para valorarte.  </p>
    </div>
</div>
{% endblock %}