{% extends "preguntas-frecuentes.html" %}

{% block faqcontent %}
<h2 class="p3">Cirugía bucal</h2>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Puedo colocarme implantes si NO tengo suficiente hueso?</h4>
    <div class="answer">
        <p>Dependiendo del déficit de hueso que haya. Cada caso es individualmente analizado. Hay casos en los que no hay suficiente hueso pero podemos colocar los implantes el mismo día que se hace el procedimiento de aumento óseo. En cambio, hay otras situaciones más graves donde se tendrán que hacer tratamientos en dos fases y el tiempo de espera será superior. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿En qué consiste una elevación de seno?</h4>
    <div class="answer">
        <p>El seno maxilar es una cavidad de aire que presentamos en el cráneo, en comunicación con la fosa nasal y muy en contacto también con los dientes superiores posteriores, también llamados antrales.</p>
        <p>Cuando existe una pérdida de un diente posterior, esta cavidad de aire aumenta su tamaño al no tener el límite dentario que tenía previamente a la pérdida. Ésto provoca que la altura ósea que queda remanente muchas veces no sea suficiente para poder colocar un implante; y es por ello que es necesario realizar este tipo de intervención. </p>
        <p>Consiste en elevar la membrana limítrofe de esa cavidad para dar cabida en altura a la colocación de un implante. Hay dos maneras de hacerlo:</p>
        <ul class="enum">
            <li><strong>Abordaje lateral</strong>: Mediante una ventana en la parte lateral ósea. Hay veces que se puede colocar simultáneamente el implante y otras veces no.</li>
            <li><strong>Abordaje crestal</strong>: Cuando el déficit de hueso no es tan extremo podemos hacer la elevación de esa membrana en el mismo lecho que se prepara para la colocación del implante. Esta técnica es menos invasiva, si bien, no se puede realizar en todos los casos. </li>
        </ul>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Tengo que tener algún cuidado especial tras una elevación de seno?</h4>
    <div class="answer">
        <p>Al ser una cavidad de aire que ha sido manipulada, es muy importante no realizar ningún acto que provoque presión negativa en el seno maxilar, sobre todo durante el primer mes. Estas recomendaciones son:</p>
        <ul class="enum">
            <li>No subir a una montaña</li>
            <li>No bucear</li>
            <li>Estornudar con la boca abierta</li>
            <li>No sonarse la nariz fuerte</li>
        </ul>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Cómo es el postoperatorio tras una regeneración de hueso?</h4>
    <div class="answer">
        <p>El postoperatorio variará según el paciente y la técnica quirúrgica. Hay muchos factores que influyen: como son la duración de la intervención y cantidad de hueso a regenerar. Es previsible cierta inflamación así como hematomas, sobre todo los primeros días. Es importante que el paciente siga bien todas las pautas que le indique el profesional para no tener complicaciones. </p>
    </div>
</div>

<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Puedo hacerme regeneración de hueso si soy fumador/a?</h4>
    <div class="answer">
        <p>El porcentaje de éxito de una regeneración ósea en pacientes fumadores disminuye considerablemente. Es preferible que el paciente deje de fumar para tener asegurada una intervención de éxito. </p>
    </div>
</div>
{% endblock %}