{% extends "preguntas-frecuentes.html" %}

{% block faqcontent %}
<h2 class="p3">Odontopediatría</h2>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿A qué edad debo de llevar a mi hijo por primera vez al dentista?</h4>
    <div class="answer">
        <p>Con dos años y medio el niño tiene la dentición de leche completa en boca. Sería recomendable revisarle por primera vez con esa edad, y posteriormente determinaremos la regularidad de las revisiones según cada caso. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Debo de cepillar los dientes a mi bebé?</h4>
    <div class="answer">
        <p>Sí. Aunque no tenga dientes debes mantener su boca limpia de restos de leche; y desde que le salga el primer diente utilizar el cepillo. Más abajo se detalla el protocolo. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Cuándo debo iniciar el cepillado a mi hijo?</h4>
    <div class="answer">
        <p>Desde que le sale el primer diente. Abajo en la siguiente pregunta se detalla el protocolo según edad.</p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Protocolo de higiene oral en bebés/niños?</h4>
    <div class="answer">
        <ul class="enum">
            <li><strong>Menos de 6 meses</strong>: Retira los restos de leche con una gasa humedecida o un dedal de silicona. Mínimo una vez/día. Lo ideal es hacerlo después de dar el pecho o el biberón para evitar su fermentación</li>
            <li><strong>6 meses o más</strong>: Empiezan a salir los dientes  mismo procedimiento en encías, dientes, lengua y paladar. Dos veces/día</li>
            <li><strong>Más de 1 año</strong>: Empieza el cepillado. Usa un cepillo de dientes pequeño suave mojado con agua. No es necesario utilizar dentífrico; lo importante es el arrastre de placa bacteriana mediante una buena técnica de cepillado.</li>
            <li><strong>2 años y medio</strong>: Ya tienen dentición definitiva completa y sería recomendable que los niños comiencen a manejar el cepillo ellos mismos; siempre con supervisión de los padres. 	Nosotras solemos recomendar igual que en los adultos el cepillo eléctrico, pues la higiene es muy superior. 	</li>
        </ul>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Qué debo hacer ante un traumatismo de un diente de mi hijo? </h4>
    <div class="answer">
        <ul class="enum">
            <li>
                <p><strong>Si el diente HA SALIDO DE BOCA</strong>: ACTÚA RAPIDO! Las mayores posibilidades para salvar el diente son en los primeros 20min</p>
                <ol class="olnum">
                    <li>Encuentra el diente</li>
                    <li>Coge el diente por la corona. No toques la raíz</li>
                    <li>Acláralo con agua e inmediatamente, colocalo en su lugar (habrá un hueco en la encía a pesar del sangrado que pueda existir</li>
                    <li>Para mantener el diente en su lugar, es necesario que el niño cierre la boca mordiendo una gasa o pañuelo limpio entre los dientes superiores e inferiores</li>
                    <li>Si no puedes colocar el diente en su lugar, colócalo en leche fría inmediatamente! (leche desnatada preferiblemente)</li>
                    <li>Acude inmediatamente al dentista. </li>
                </ol>
                <p><strong>Atención</strong>: las recomendaciones anteriormente detalladas con para dientes permanentes. NUNCA coloques un diente de leche de vuelta en boca.</p>
            </li>
            <li>
                <p>Si el diente está <strong>DESPLAZADO</strong></p>
                <ol class="olnum">
                    <li>Se trata de una emergencia y necesita atención inmediata de un dentista.</li>
                    <li>Intenta colocar el diente con suavidad en su posición original</li>
                    <li>El niño debe cerrar la boca con una gasa, pañuelo limpio o servilleta entre los dientes superiores e inferiores.</li>
                    <li>Visítanos lo antes posible! Las primeras horas son críticas. </li>
                </ol>
            </li>
            <li>
                <p>Si el diente está <strong>INTRUIDO</strong>: </p>
                <ol class="olnum">
                    <li>Esta lesión necesita tratamiento lo antes posible.</li>
                    <li>El diente está impactado dentro de las encías y el hueso. En algunos casos, puede ser que el diente no sea visible. </li>
                    <li>El niño debe cerrar la boca con una gasa, pañuelo limpio o servilleta entre los dientes superiores e inferiores.</li>
                    <li>Visítanos lo antes posible! Las primeras horas son críticas. </li>
                </ol>
            </li>
            <li>
                <p>Si el diente tiene <strong>MOVILIDAD</strong>:</p>
                <ol class="olnum">
                    <li>Esta lesión necesita tratamiento lo antes posible.</li>
                    <li>Intenta colocar el diente con suavidad en su posición original</li>
                    <li>El niño debe cerrar la boca con una gasa, pañuelo limpio o servilleta entre los dientes superiores e inferiores.</li>
                    <li>Visítanos lo antes posible! Las primeras horas son críticas. </li>
                </ol>
            </li>
            <li>
                <p>Si el diente está <strong>ROTO</strong>:</p>
                <ol class="olnum">
                    <li>No se trata de una emergencia pero necesita tratamiento</li>
                    <li>Intenta encontrar el trozo y consérvalo en agua o leche (no lo mantengas seco)</li>
                    <li>El dentista puede pegarlo nuevamente. Visítanos lo antes posible</li>
                </ol>
            </li>
            <li>
                <p>Si <strong>HERIDAS EN LABIOS Y TEJIDOS BLANDOS</strong>:</p>
                <ol class="olnum">
                    <li>Los tejidos blandos se lesionan con frecuencia en estos accidentes</li>
                    <li>Los más frecuentes son cortes y hematomas.</li>
                    <li>Estas lesiones pueden estar dentro o fuera de la boca y deben ser limpiadas lo antes posible.</li>
                    <li>El sangrado de los tejidos blandos debe ser controlado aplicando presión</li>
                    <li>Busca asistencia médica/dental dependiendo de la gravedad de la lesión</li>
                </ol>
            </li>
            <li>
                <p>Si <strong>LESIONES EN MANDÍBULA Y ARTICULACIÓN</strong>:</p>
                 <ol class="olnum">
                     <li>Se trata de una emergencia y necesita tratamiento</li>
                     <li>Llama a los servicios de emergencias por teléfono en caso de lesiones severas o si el paciente es incapaz de respirar con normalidad o está desorientado.</li>
                     <li>Si el paciente está inconsciente, colócalo en posición de seguridad (de lado). Asegúrate que es capaz de respirar y no está afixiándose. </li>
                     <li>Sujeta la mandíbula suavemente con tus manos o un vendaje mientras vas de camino a urgencias</li>
                     <li>El vendaje debe ser fácil de retirar en caso de que el paciente necesite vomitar.</li>
                     <li>Ve inmediatamente al hospital más cercano o servicio de urgencias. </li>
                 </ol>
            </li>
        </ul>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Es malo que use chupete?</h4>
    <div class="answer">
        <p>El uso de chupete de manera prolongada provoca que el niño crezca con malformaciones como paladar ovijal o mordida abierta. Siempre recomendamos que a los 2 años, fuera chupete!</p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Es perjudicial para el niño los hábitos como el chuparse el dedo?</h4>
    <div class="answer">
        <p>El hábito de chuparse el dedo cuando el niño ya tiene dientes en boca es muy perjudicial para su oclusión pues provoca abanicamiento anterior de los dientes anterosuperiores y mordidas abiertas. Es preferible evitar este hábito pues el aspecto facial del niño se deteriora mucho. </p>
    </div>
</div>
{% endblock %}