{%  extends "preguntas-frecuentes.html" %}

{% block faqcontent %}
<h2 clas="p3">Implantes</h2>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Qué son los implantes dentales?</h4>
    <div class="answer">
        <p>Los implantes dentales constituyen la manera más natural de reponer los dientes ausentes.  Consisten en tornillos de titanio que se colocan en el hueso de las zonas donde no hay dientes y sirven para soportar los nuevos dientes.</p>
        <p>Los dientes implantados producen las mismas sensaciones de firmeza y confort que nuestros propios dientes.</p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿En qué situaciones están indicados los implantes?</h4>
    <div class="answer">
        <p>Siempre que exista la ausencia de unas o más piezas dentales, no habiendo ningún límite de edad para colocarlos, por lo que es posible incluso rehabilitar a personas mayores que tradicionalmente se veían obligados a llevar una dentadura completa si perdían sus dientes.</p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Cuáles son sus ventajas de los implantes respecto a otros tratamientos?</h4>
    <div class="answer">
        <p>En caso de que le fallen todos los dientes:</p>
        <ul class="enum">
            <li>Posibilidad de tener de nuevo una dentadura fija.</li>
            <li>Mayor comodidad y potencia masticatoria</li>
        </ul>
        <p>En caso de que le falte solo uno o varios dientes:</p>
        <ul class="enum">
            <li>No hay que dañar tus dientes adyacentes a la ausencia (prótesis)</li>
            <li>No hay que apoyarse en los dientes vecinos ya que los implantes actúan como si fueran nuevas raíces dentarias (mejor distribución de fuerzas)</li>
        </ul>
        <p>Por eso los implantes, además de proporcionarle nuevos dientes, contribuirán a que el resto de su dentición dure más tiempo.
        En cualquier caso, los implantes tienen una tasa de éxito alta, que oscila entre un 95% y 99%.</p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Es más complejo reponer mis dientes cuando ya me faltan muchos dientes?</h4>
    <div class="answer">
        <p>En principio NO. Simplemente habrá que colocar mayor número de implantes.</p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Cuáles son mis opciones cuando me faltan TODOS los dientes?</h4>
    <div class="answer">
        <p>Le podemos explicar las distintas posibilidades en función de sus necesidades.</p>
        <p>Una persona sin dientes puede optar entre muchas opciones, la más sencilla consiste en una prótesis removible apoyada sobre DOS implantes que incrementan enormemente  la retención  de su dentadura. La opción más sofisticada consiste en una dentadura FIJA apoyada sobre 6-8 implantes que le ofrecerá las mismas sensaciones que una dentición natural. Existen otras opciones intermedias que podemos explicarle. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Cuánto tiempo dura el tratamiento?</h4>
    <div class="answer">
        <p>Generalmente después de colocar los implantes hay que esperar 2-3 meses antes de confeccionar los dientes definitivos.  Durante ese tiempo es posible llevar provisionales, ya sea fijos o de quitar y poner.</p>
        <p>En algunos casos es necesario esperar algo más de tiempo si no hay una adecuada calidad ósea o, si se han empleado técnicas para regenerar el hueso. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Cuánto he de esperar después de una extracción dentaria para colocarme implantes?</h4>
    <div class="answer">
        <p>NADA. Es posible colocar los implantes en el mismo acto en el que se extraen los dientes.</p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Qué es la carga inmediata?</h4>
    <div class="answer">
        <p>Consiste en la colocación de una prótesis FIJA (generalmente provisional) sobre los implantes el mismo día que se colocan los mismos. Igualmente si fuera necesario, es posible realizar las extracciones dentales, colocación de implantes  y colocación de prótesis fija simultáneamente el mismo día.</p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Es la colocación de implantes una intervención dolorosa?</h4>
    <div class="answer">
        <p>Los implantes dentales se colocan mediante la utilización de anestesia local, por lo que no es una intervención dolorosa sino que se puede considerar como un tratamiento dental más.</p>
        <p>En casos de cirugía avanzada o colocación de múltiples implantes podemos ofrecerle una sedación intravenosa realizada y controlada por una anestesista para su mayor comodidad.</p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Cuáles son los cuidados postoperatorios?</h4>
    <div class="answer">
        <p>Pueden producirse unas ligeras molestias postoperatorias durante dos o tres días que generalmente se controlan perfectamente con un analgésico convencional.</p>
        <p>Si el caso es más complejo o se han colocado muchos implantes en un mismo acto las molestias pueden ser ligeramente mayores; pero todo controlable mediante medicación. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Y cuáles son los cuidados de los implantes a largo plazo?</h4>
    <div class="answer">
        <p>Los mismos que los dientes naturales, cepillado diario y controles periódicos en su dentista. Los implantes no podrán tener caries pero tienen elementos que se pueden dañar y necesitan ser revisados periódicamente.</p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Es posible que haya rechazo a los implantes?</h4>
    <div class="answer">
        <p>Los implantes dentales están fabricados de titanio. Es muy poco probable que este material produzca reacciones alérgicas. </p>
        <p>Lo que sí puede ocurrir es una falta de osteointegración del implante en el hueso. Esto puede ser debido a diferentes factores como una mala higiene oral, tabaco, enfermedad periodontal activa o no acudir a los mantenimientos/revisiones pertinentes.</p>
        <p>La tasa de fracaso en la osteointegración de los implantes es inferior al 1%.  Por lo tanto, es rarísimo que ocurra este hecho si el paciente es colaborador y sigue nuestras indicaciones.</p>
        <p>En PATRODENT trabajamos con implantes de alta gama que tienen garantía de por vida; si bien, como hemos detallado anteriormente, también es necesario la colaboración del paciente para obtener un tratamiento de éxito. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Se pueden colocar implantes si tengo enfermedad periodontal?</h4>
    <div class="answer">
        <p>NO es una contraindicación ser paciente periodontal para colocar implantes; si bien, es necesario que la enfermedad esté controlada (no activa) y se hayan hecho los correspondientes tratamiento y mantenimiento periodontal.</p>
    </div>
</div>
{% endblock %}