{% extends "preguntas-frecuentes.html" %}

{% block faqcontent %}
<h2 class="p3">Prevención de caries e higiene</h2>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Cada cuánto tiempo es necesario realizarse una limpieza dental?</h4>
    <div class="answer">
        <p>En PATRODENT recomendamos realizar una limpieza cada 6 meses. Pues lo ideal es mantener una salud bucal y no llegar al extremo de tener sarro (no es suficiente 1 al año); si bien, todo depende de cada caso individual. Solemos valorar cada caso e indicar una pauta de higiene según cada persona. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Es mejor el cepillo manual o el eléctrico?</h4>
    <div class="answer">
        <p>En PATRODENT siempre recomendamos cepillo eléctrico pues la higiene es mucho más superior. A cada paciente le enseñamos la manera de cepillarse desde la primera visita, pues es la clave del éxito en su boca.</p>
    </div>
</div>
{% endblock %}