{% extends "preguntas-frecuentes.html" %}

{% block faqcontent %}
<h2 class="p3">Cordales o muelas del juicio</h2>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Todo el mundo tiene muelas del juicio?</h4>
    <div class="answer">
        <p>Entre un 85-98% de pacientes jóvenes adultos presentan agenesia de terceros molares o muelas del juicio, esto es, la ausencia de éstos. </p>
        <p>Este especial comportamiento del tercer molar es debido a un problema de adaptación del aparato masticatorio a nuestros hábitos, donde la evolución cultural tiene un papel predominante por encima de la biológica. </p>
        <p>Con esto anteriormente dicho, nos referimos a que nuestra dieta actual es mucho más blanda que la dieta salvaje del hombre primitivo, por tanto, nos hemos adaptado a ésta y como consecuencia de ello, el espacio hábil de hueso para habitar los dientes se reduce en mayor proporción que el tamaño dentario, lo cual induce la aparición del apiñamiento dentario. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Deben extraerse siempre las muelas del juicio?</h4>
    <div class="answer">
        <p>NO SIEMPRE ES ASÍ.</p>
        <p>Las muelas del juicio pueden estar situadas en diferentes posiciones tanto en profundidad como angulación dentro del hueso, las cuales ayudarán a la decisión de actitud terapéutica o abstención.</p>
        <p>Es necesaria una planificación minuciosa previa para tomar una decisión acertada respecto al plan de tratamiento. </p>
        <p>Así pues, además de un buen estudio radiográfico, será necesario valorar diferentes aspectos como la edad, sintomatología, antecedentes médicos y quirúrgicos, así como la realización de una correcta anamnesis basada en la exploración intra y extraoral.</p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Cuál es la edad ideal para extraer las muelas del juicio?</h4>
    <div class="answer">
        <p>No existe una edad ideal, si bien es un parámetro importante.</p>
        <p>Está demostrado que por encima de los 25 años la tasa de complicaciones aumenta de forma notable.</p>
        <p>Sin embargo, si comparamos grupos de edad entre 9 y 17 años, y entre 17 y 24 años, la tasa de complicaciones es prácticamente la misma.</p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Las muelas del juicio mueven los dientes cuando salen?</h4>
    <div class="answer">
        <p>El debate a favor o en contra de la extracción profiláctica de los terceros molares inferiores en impedir la aparición o incremento del apiñamiento dentario anteroinferior ha tenido mucha controversia.</p>
        <p>Hay autores que defienden que las muelas del juicio “ejercen una presión desde atrás”, y a la misma vez sostienen que el desarrollo del apiñamiento postpuberal es multifactorial, es decir, que no justifican la extracción profiláctica generalizada de dichos dientes ya que su papel no es excesivamente importante.</p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Cómo es el postoperatorio tras una cirugía de una muela del juicio?</h4>
    <div class="answer">
        <p>El postoperatorio es muy versátil. Depende de diversos factores como son la edad del paciente, la posición e inclinación del cordal, patología asociada, técnica quirúrgica, medicación que tome el paciente, enfermedades concomitantes…</p>
        <p>Por lo tanto, el postoperatorio variará según el paciente y la técnica quirúrgica, sabiendo además que el dolor es un síntoma totalmente subjetivo.</p>
        <p>Es totalmente normal que la herida sangre ligeramente durante las primeras 24h, pudiendo aparecer la saliva teñida.</p>
        <p>También es previsible cierto dolor, inflamación y dificultad de apertura bucal.</p>
        <p>NO debe alarmarse si la cara aparece hinchada al día siguiente, pudiendo incluso estar normal y presentarse mayor inflamación a los 3 días de la intervención.</p>
        <p>El paciente debe advertir ante cualquier circunstancia que se salga de lo anterior comentado como normal, y debe ponerse en contacto con nosotros.</p>
    </div>
</div>
{% endblock %}