{% extends "preguntas-frecuentes.html" %}

{% block faqcontent %}
<h2 class="p3">Ortodoncia</h2>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Qué es la Ortodoncia?</h4>
    <div class="answer">
        <p>Es importante diferenciar el concepto de ortodoncia y ortopedia, pues muchos pacientes tienden a confundirlos. La mayoría de pacientes llaman ortodoncia a todo lo que sea colocar un aparato en boca, y no es así. Existen aparatos específicos que se utilizan cuando <strong>el niño está en crecimiento</strong>, es decir, cuando el objetivo es <strong>movilizar el hueso</strong>. Esto es lo que llamamos ortopedia.</p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Cuál es la edad ideal para colocarse Ortodoncia?</h4>
    <div class="answer">
        <p>No existe una edad ideal si bien, si el problema del niño es una descoordinación de sus bases óseas (superior e inferior), lo ideal es hacerlo en crecimiento.</p>
        <ul>
            <li>Si el paciente tiene la mandíbula en posición más retrasada que el maxilar superior (clase II ósea), será necesario que éste lleve un aparato de ortopedia de avance mandibular para conseguir la armonía entre ambos huesos (maxilar y mandíbula), y así corregir esa descompensación. Lo ideal es llevarlo en el máximo pico de crecimiento, que normalmente es de 9 a 13 años en niñas; y de 10 a 14 años en niños.</li>
            <li>Si por el contrario, esta descompensación ocurre estando el maxilar superior más retrasado que la mandíbula (clase III ósea), para este tipo de pacientes será necesario un aparato de ortopedia cuya función es la tracción hacia adelante del maxilar superior, para así conseguir el equilibrio entre ambos huesos (superior e inferior). En este caso, se debe tratar al niño cuánto más pequeño mejor; lo ideal desde los 6 a los 8 años. </li>
        </ul>
        <p>Sin embargo, la <strong>ortodoncia</strong> es un tratamiento que puede llevarse a cabo a cualquier edad, ya que su finalidad es mover dientes y, en este caso, no es necesario que el paciente esté en crecimiento. Consiste pues, en el tradicional tratamiento con <strong>brackets</strong>. </p>
        <p>La mayoría de las veces, los niños suelen pasar por una fase previa de ortopedia y, una vez terminada ésta, se le coloca la ortodoncia (brackets). En otras ocasiones, sólo es necesario el tratamiento multibrackets, por lo que no habría prisa a la hora de empezar el tratamiento.</p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Pueden llevar ortodoncia los adultos?</h4>
    <div class="answer">
        <p>Por supuesto. Y cada vez tenemos más casos de adultos con ortodoncia. Siempre es un buen momento para mejorar tanto estética como función de una boca. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Es doloroso el tratamiento de ortodoncia?</h4>
    <div class="answer">
        <p>NO es doloroso, si bien, hay ciertas ocasiones que puede ocasionar ligeras molestias los primeros días. En PATRODENT trabajamos con un sistema de brackets de última gama que tienen muy baja fricción y permiten un movimiento muy suave de manera que el paciente no nota prácticamente que los lleva puestos.  </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Puedo llevar ortodoncia si tengo enfermedad periodontal?</h4>
    <div class="answer">
        <p>Sí, pero es importante que esta enfermedad esté controlada. La ortodoncia en muchos casos mejora mucho la situación periodontal. </p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Los brackets dañan los dientes?</h4>
    <div class="answer">
        <p>NO. El bracket va a adherido al diente y lo mantiene intacto. Si bien es necesario una higiene oral más exhaustiva que de manera normal, pues los pacientes portadores de brackets suelen acumular más placa dental, y si la higiene no es correcta dará lugar a inflamación de las encías y a caries.</p>
    </div>
</div>
<div class="question">
    <h4><i class="fa fa-plus"></i> <i class="fa fa-minus hidden"></i>¿Qué cuidados debo tener durante y posterior a un tratamiento de Ortodoncia?</h4>
    <div class="answer">
        <p>El paciente llevará un retenedor fijo de por vida, así como unos retenedores (férulas de retención) transparentes removibles. Es necesario que mantenga sus revisiones rutinarias para controlar que todo se mantiene igual.</p>
    </div>
</div>

{% endblock %}