{% extends "templates/base.html" %}

{% block class-patrodent-link %}class="active"{% endblock %}

{% block footergallery %}
    <figure>
        <a href="{{ STATIC_URL }}images/patrocinio_despacho.jpg" rel="shadowbox[quienesSomos]" title="Patrocinio en el despacho">
            <img src="{{ STATIC_URL }}images/patrocinio_despacho.min.jpg" alt="Patrocinio en el despacho" title="Patrocinio en el despacho" />
        </a>
    </figure>
    <figure>
        <a href="{{ STATIC_URL }}images/angela2.jpg" rel="shadowbox[quienesSomos]" title="Angela Martín">
            <img src="{{ STATIC_URL }}images/angela2.min.jpg" alt="Angela Martín" title="Angela Martín" />
        </a>
    </figure>
    <figure>
        <a href="{{ STATIC_URL }}images/equipo_trabajando.jpg" rel="shadowbox[quienesSomos]" title="Equipo trabajando">
            <img src="{{ STATIC_URL }}images/equipo_trabajando.min.jpg" alt="Equipo trabajando" title="Equipo trabajando" />
        </a>
    </figure>
    <figure>
        <a href="{{ STATIC_URL }}images/patrocinio_trabajando.jpg" rel="shadowbox[quienesSomos]" title="Patrocinio trabajando">
            <img src="{{ STATIC_URL }}images/patrocinio_trabajando.min.jpg" alt="Patrocinio trabajando" title="Patrocinio trabajando" />
        </a>
    </figure>
    <figure>
        <a href="http://www.youtube.com/v/8ufZVHkkGPg" rel="shadowbox[quienesSomos]" title="Títulos de Patrocinio Gómez">
            <img src="{{ STATIC_URL }}images/titulos.min.jpg" alt="Títulos de Patrocinio Gómez" title="Títulos de Patrocinio Gómez" />
        </a>
    </figure>
{% endblock %}


{% block content %}
    <div class="wrapper">
        <div class="alpha prefix_1 grid_7">
            <div class="border-1">
                <h3 class="margin-bot">Médico estomatólogo</h3>
                <figure class="img-style indent-bot2"><img src="{{ STATIC_URL }}images/patrocinio.jpg" alt="" /></figure>
                <div class="clear"></div>
                <blockquote>La experiencia y profesionalidad que nos avalan durante más 25 años implica un alto grado de formación que tiene como resultado tratamientos de alta calidad junto con una atención personalizada, de confianza y garantía.</blockquote>
                <p class="color-3 it p1">Nuestro personal está altamente cualificado y de experiencia...”</p>
                <div class="sign p7">Patrocinio Gomez Martinez</div>
            </div>
        </div>
        <div class="grid_15 suffix_1 omega">
            <h2 class="p3">Conoce a nuestro equipo</h2>
            <h5 class="indent-bot">Nuestro personal está altamente cualificado</h5>
            <p class="indent-bot2">Les presentamos a nuestro personal, de la clínica, </p>
            <div class="wrapper indent-bot">
                <div class="box img-indent">
                    <figure class="img-style p2"><img src="{{ STATIC_URL }}images/empleada2.jpg" alt="" /></figure>
                    <strong>Rosario Fernández</strong>
                    <span class="bl p1">Higienista dental</span>
                </div>
                <div class="box img-indent">
                    <figure class="img-style p2"><img src="{{ STATIC_URL }}images/empleada1.jpg" alt="" /></figure>
                    <strong>Lina Álvarez</strong>
                    <span class="bl p1">Higienista dental</span>
                </div>
                <div class="box">
                <figure class="img-style p2"><img src="{{ STATIC_URL }}images/angela.jpg" alt="" /></figure>
                    <strong>Angela Martín</strong>
                    <span class="bl p1">Estudiante de Odontologia</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}