{% extends "templates/base.html" %}

{% load static %}

{% block metadescription %}¿Quienes forman Patrodent? ¿Cual es nuestro equipo?{% endblock %}

{% block meta %}
<meta property="og:title" content="Nuestro Equipo" />
<meta property="og:url" content="https://patrodent.com{{ request.get_host }}{% url 'template_view' 'quienes-somos' %}">
<meta property="og:description" content="¿Quienes forman Patrodent? ¿Cual es nuestro equipo?">
<meta property="og:type" content="image/jpeg" />
<meta property="og:image" content="https://patrodent.com{{ request.get_host }}{% static 'images/equipo.jpg' %}" />
{% endblock %}

{% block class-patrodent-link %} active{% endblock %}

{% block title %}Quienes somos - {% endblock %}

{% block pageclass %}whoWeAre{% endblock %}

{% block footergallery %}
<div class="jcarousel-wrapper">
    <div class="jcarousel" data-jcarousel="true">
        <ul class="gallery" itemscope="" itemtype="http://schema.org/ImageGallery" style="left: 0px; top: 0px;" data-pswp-uid="1">
                <li class="photo-item">
                    <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
                        <a class="image" href="{% static 'images/patrocinio_despacho.jpg' %}" itemprop="contentUrl">
                            <img src="{% static 'images/patrocinio_despacho.jpg' %}" alt="Patrocinio en el despacho" title="Patrocinio en el despacho" onerror="$(this).parents('.photo-item').remove()">
                        </a>
                    </figure>
                </li>
                <li class="photo-item">
                    <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
                        <a class="image" href="{% static 'images/equipo-trabajando.jpg' %}" itemprop="contentUrl">
                            <img src="{% static 'images/equipo-trabajando.jpg' %}" alt="Equipo trabajando" title="Equipo trabajando" onerror="$(this).parents('.photo-item').remove()">
                        </a>
                    </figure>

                </li>
                <li class="photo-item">
                    <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
                        <a class="image" href="{% static 'images/titulos.jpg' %}" itemprop="contentUrl">
                            <img src="{% static 'images/titulos.jpg' %}" alt="Títulos de Patrocinio Gómez" title="Títulos de Patrocinio Gómez"  onerror="$(this).parents('.photo-item').remove()">
                        </a>
                    </figure>
                </li>
        </ul>
        <span class="jcarousel-control-prev" data-jcarouselcontrol="true"><i class="fas fa-chevron-left"></i></span>
        <span class="jcarousel-control-next" data-jcarouselcontrol="true"><i class="fas fa-chevron-right"></i></span>
    </div>
</div>
{% endblock %}


{% block content %}
    <div class="wrapper">
        <div class="alpha prefix_1 grid_22 suffix_8 omega">
            <h2 class="p3">Conoce a nuestro equipo</h2>
            <table class="profile">
                <tr>
                    <td>
                        <div>
                            <img src="{% static 'images/angela_perfil.jpg' %}" alt="Fotografia de la doctora ángela martín" />
                        </div>
                    </td>
                    <td>
                        <h3>Dra. Ángela Martín Gómez <a class="linkedin" href="https://www.linkedin.com/in/angelamartingom" target="_blank"><i class="fab fa-linkedin"></i></a></h3>
                        <p>Directora médica. CIRUGÍA BUCAL E IMPLANTES - ORTODONCIA Y ORTOPEDIA DENTOFACIAL - ESTÉTICA DENTAL</p>
                        <ul class="enum">
                            <li>Graduada en Odontología. Universidad Europea de Madrid</li>
                            <li>Especialización en Cirugía y Rehabilitación Implantológica. Universidad de Sevilla</li>
                            <li>Máster propio en Cirugía Bucal. Universidad de Sevilla</li>
                            <li>Máster propio en Cirugía Bucal Avanzada. Universidad de Sevilla</li>
                            <li>Máster Europeo en Ortodoncia y Ortopedia Dentofacial. Universidad Católica de Murcia</li>
                            <li>Miembro de la Sociedad Española de Cirugía Bucal (SECIB)</li>
                            <li>Miembro de la Sociedad Española de Prótesis Estomatológica (SEPES)</li>
                            <li>Comunicaciones orales en congresos y publicaciones en revistas científicas</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <img src="{% static 'images/pablo.jpg' %}" alt="Fotográfia del anestesista Pablo Herrera">
                        </div>
                    </td>
                    <td>
                        <h3>Dr. Pablo Herrera </h3>
                        <p>ANESTESIA Y SEDACIÓN CONSCIENTE</p>
                        <ul class="enum">
                            <li>Licenciado en Medicina. Universidad de Sevilla</li>
                            <li>Médico Especialista en Anestesiología, Reanimación y Terapéutica del Dolor. H.U.V. Rocío Sevilla</li>
                            <li>Adjunto Especialista Anestesiología Hospital Traumatología y Rehabilitación H.U.V. Rocío Sevilla</li>
                            <li>Doctorado por la Universidad de Sevilla</li>
                            <li>Miembro de la Sociedad Española de Anestesiología, Reanimación y Terapéutica del Dolor (SEDAR</li>
                            <li>Miembro de la Sociedad Andaluza-Extremeña Anestesiología (AAEAR)</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="little">
                            <img src="{% static 'images/empleada2.jpg' %}" alt="" />
                        </div>
                    </td>
                    <td>
                        <h3>Rosario Fernández Torrejón</h3>
                        <p>Higienista dental</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="little">
                            <img src="{% static 'images/empleada1.png' %}" alt="" />
                        </div>
                    </td>
                    <td>
                        <h3>María Fernández Fernández</h3>
                        <p>Higienista dental</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
