{% extends "templates/base.html" %}

{% load static %}

{% block metadescription %}¿Quienes forman Patrodent? ¿Cual es nuestro equipo?{% endblock %}

{% block meta %}
<meta property="og:title" content="Nuestro Equipo" />
<meta property="og:url" content="https://patrodent.com{{ request.get_host }}{% url 'template_view' 'quienes-somos' %}">
<meta property="og:description" content="¿Quienes forman Patrodent? ¿Cual es nuestro equipo?">
<meta property="og:type" content="image/jpeg" />
<meta property="og:image" content="https://patrodent.com{{ request.get_host }}{% static 'images/equipo.jpg' %}" />
{% endblock %}

{% block class-patrodent-link %} active{% endblock %}

{% block title %}Quienes somos - {% endblock %}

{% block pageclass %}whoWeAre{% endblock %}

{% block footergallery %}
<div class="jcarousel-wrapper">
    <div class="jcarousel" data-jcarousel="true">
        <ul class="gallery" itemscope="" itemtype="http://schema.org/ImageGallery" style="left: 0px; top: 0px;" data-pswp-uid="1">
                <li class="photo-item">
                    <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
                        <a class="image" href="{% static 'images/patrocinio_despacho.jpg' %}" itemprop="contentUrl">
                            <img src="{% static 'images/patrocinio_despacho.jpg' %}" alt="Patrocinio en el despacho" title="Patrocinio en el despacho" onerror="$(this).parents('.photo-item').remove()">
                        </a>
                    </figure>
                </li>
                <li class="photo-item">
                    <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
                        <a class="image" href="{% static 'images/equipo-trabajando.jpg' %}" itemprop="contentUrl">
                            <img src="{% static 'images/equipo-trabajando.jpg' %}" alt="Equipo trabajando" title="Equipo trabajando" onerror="$(this).parents('.photo-item').remove()">
                        </a>
                    </figure>

                </li>
                <li class="photo-item">
                    <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
                        <a class="image" href="{% static 'images/titulos.jpg' %}" itemprop="contentUrl">
                            <img src="{% static 'images/titulos.jpg' %}" alt="Títulos de Patrocinio Gómez" title="Títulos de Patrocinio Gómez"  onerror="$(this).parents('.photo-item').remove()">
                        </a>
                    </figure>
                </li>
        </ul>
        <span class="jcarousel-control-prev" data-jcarouselcontrol="true"><i class="fas fa-chevron-right"></i></span>
        <span class="jcarousel-control-next" data-jcarouselcontrol="true"><i class="fas fa-chevron-right"></i></span>
    </div>
</div>
{% endblock %}


{% block content %}
    <div class="wrapper">
        <div class="alpha prefix_1 grid_22 suffix_8 omega">
            <h2 class="p3">Conoce a nuestro equipo</h2>
            <h5 class="indent-bot">Nuestro personal está altamente cualificado</h5>
            <p class="indent-bot2">Les presentamos a nuestro personal, de la clínica, </p>
            <div class="wrapper indent-bot center">
                <div class="imgwrapper">
                    <div class="box box-big img-indent">
                        <figure class="img-style p2"><img src="{% static 'images/patrocinio.jpg' %}" alt="" /></figure>
                        <strong>Dra. Patrocinio Gómez Martínez</strong>
                        <span class="bl p1">Médico. Estomatólogo. Especialista en Ortodoncia</span>
                    </div>
                </div>
                <div class="imgwrapper">
                    <div class="box box-big img-indent">
                        <figure class="img-style p2"><img src="{% static 'images/angela.jpg' %}" alt="" /></figure>
                        <strong>Dra. Ángela Martín Gómez</strong>
                        <span class="bl p1">Odontóloga. Especialista en Cirugía Bucal</span>
                    </div>
                </div>
            </div>
            <div class="wrapper indent-bot center2">
                <div class="imgwrapper">
                    <div class="box img-indent">
                        <figure class="img-style p2"><img src="{% static 'images/empleada2.jpg' %}" alt="" /></figure>
                        <strong>Rosario Fernández Torrejón</strong>
                        <span class="bl p1">Higienista dental</span>
                    </div>
                </div>
                <div class="imgwrapper">
                    <div class="box">
                        <figure class="img-style p2"><img src="{% static 'images/empleada1.jpg' %}" alt="" /></figure>
                        <strong>Alba Lozano Pavón</strong>
                        <span class="bl p1">Higienista dental</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
