{% extends "templates/base.html" %}

{% block metadescription %}¿Quienes forman Patrodent? ¿Cual es nuestro equipo?{% endblock %}

{% block class-patrodent-link %} active{% endblock %}

{% block title %}Quienes somos - {% endblock %}

{% block pageclass %}whoWeAre{% endblock %}

{% block footergallery %}
    <figure>
        <a href="{{ STATIC_URL }}images/patrocinio_despacho.jpg" rel="shadowbox[quienesSomos]" title="Patrocinio en el despacho">
            <img src="{{ STATIC_URL }}images/patrocinio_despacho.min.jpg" alt="Patrocinio en el despacho" title="Patrocinio en el despacho" />
        </a>
    </figure>
    <figure>
        <a href="{{ STATIC_URL }}images/angela2.jpg" rel="shadowbox[quienesSomos]" title="Angela Martín">
            <img src="{{ STATIC_URL }}images/angela2.min.jpg" alt="Angela Martín" title="Angela Martín" />
        </a>
    </figure>
    <figure>
        <a href="{{ STATIC_URL }}images/equipo_trabajando.jpg" rel="shadowbox[quienesSomos]" title="Equipo trabajando">
            <img src="{{ STATIC_URL }}images/equipo_trabajando.min.jpg" alt="Equipo trabajando" title="Equipo trabajando" />
        </a>
    </figure>
    <figure>
        <a href="{{ STATIC_URL }}images/patrocinio_trabajando.jpg" rel="shadowbox[quienesSomos]" title="Patrocinio trabajando">
            <img src="{{ STATIC_URL }}images/patrocinio_trabajando.min.jpg" alt="Patrocinio trabajando" title="Patrocinio trabajando" />
        </a>
    </figure>
    <figure>
        <a href="http://www.youtube.com/v/gt4ECC3SROg?autoplay=1" rel="shadowbox[quienesSomos]" title="Títulos de Patrocinio Gómez">
            <img src="{{ STATIC_URL }}images/titulos.min.jpg" alt="Títulos de Patrocinio Gómez" title="Títulos de Patrocinio Gómez" />
        </a>
    </figure>
{% endblock %}


{% block content %}
    <div class="wrapper">
        <div class="alpha prefix_1 grid_22 suffix_8 omega">
            <h2 class="p3">Conoce a nuestro equipo</h2>
            <h5 class="indent-bot">Nuestro personal está altamente cualificado</h5>
            <p class="indent-bot2">Les presentamos a nuestro personal, de la clínica, </p>
            <div class="wrapper indent-bot center">
                <div class="imgwrapper">
                    <div class="box box-big img-indent">
                        <figure class="img-style p2"><img src="{{ STATIC_URL }}images/patrocinio.jpg" alt="" /></figure>
                        <strong>Dra. Patrocinio Gómez Martínez</strong>
                        <span class="bl p1">Médico. Estomatólogo. Especialista en Ortodoncia</span>
                    </div>
                </div>
                <div class="imgwrapper">
                    <div class="box box-big img-indent">
                        <figure class="img-style p2"><img src="{{ STATIC_URL }}images/angela.jpg" alt="" /></figure>
                        <strong>Dra. Ángela Martín Gómez</strong>
                        <span class="bl p1">Odontóloga. Especialista en Cirugía Bucal</span>
                    </div>
                </div>
            </div>
            <div class="wrapper indent-bot center2">
                <div class="imgwrapper">
                    <div class="box img-indent">
                        <figure class="img-style p2"><img src="{{ STATIC_URL }}images/empleada2.jpg" alt="" /></figure>
                        <strong>Rosario Fernández Torrejón</strong>
                        <span class="bl p1">Higienista dental</span>
                    </div>
                </div>
                <div class="imgwrapper">
                    <div class="box">
                        <figure class="img-style p2"><img src="{{ STATIC_URL }}images/empleada1.jpg" alt="" /></figure>
                        <strong>Alba Lozano Pavón</strong>
                        <span class="bl p1">Higienista dental</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
