{% extends "templates/servicio.html" %}

{% load static %}

{% block metadescription %}La sedación consciente en odontología permite conseguir un estado de relajación y tranquilidad para el paciente{% endblock %}

{% block meta %}
<meta property="og:title" content="Sedación Consciente" />
<meta property="og:url" content="https://patrodent.com{% url 'template_view' 'sedacion-consciente' %}">
<meta property="og:description" content="La sedación consciente en odontología permite conseguir un estado de relajación y tranquilidad para el paciente.">
<meta property="og:type" content="image/jpeg" />
<meta property="og:image" content="https://patrodent.com{% static 'images/sala_de_esperas.jpg' %}" />
{% endblock %}

{% block title %}Sedación consciente - {% endblock %}

{% block content-body-wrapper %}
    <div class="wrapper">
        <div class="alpha prefix_1 grid_22">
            <h2 class="p3">Sedación Consciente</h2>
            <p>
                Las personas que padecen fobia al dentista, padecen estrés y ansiedad ante cualquier visita, ya sea para el tratamiento que sea.
            </p>
            <p>La sedación consciente en odontología permite conseguir un estado de relajación y tranquilidad para el paciente, pero además tiene otras ventajas:
            </p>
            <ul class="default">
                <li>Disminución de la ansiedad del paciente</li>
                <li>Mayor seguridad en la consulta</li>
                <li>Más facilidad para la realización de tratamientos en una sóla sesión</li>
                <li>Mejor recuperación y postoperatorio. </li>
            </ul>
            <p>En Patrodent contamos con los servicios de un Médico - Anestesista cuando el paciente lo demande, para hacer de su visita lo más placentera posible. </p>
        </div>
    </div>
{% endblock %}
{% block before-after-title-wrapper %}{% endblock %}