{% extends "templates/servicio.html" %}

{% block class-servicios-link %} active{% endblock %}

{% block js-after-before %}
{% endblock %}
{% block meta %}
<meta property="og:title" content="Servicios" />
<meta property="og:url" content="https://patrodent.com{{ request.get_host }}{% url 'template_view' 'servicios' %}">
<meta property="og:description" content="Servicios que ofrece la Clínica Dental Patrocinio Gómez Martínez (Patrodent)">
{% endblock %}
{% block title %}Servicios - {% endblock %}

{% block pageclass %}services{% endblock %}

{% block metadescription %}Servicios que ofrece la Clínica Dental Patrocinio Gómez Martínez (Patrodent){% endblock %}

{% block before-after-title-wrapper %}
{% endblock %}

{% block content-body-wrapper %}
{% endblock %}

{% block content %}
    {{ block.super }}
{% endblock %}
