{% extends "templates/servicio.html" %}

{% block class-servicios-link %}class="active"{% endblock %}

{% block js-after-before %}
{% endblock %}

{% block before-after-title-wrapper %}
{% endblock %}

{% block content-body-wrapper %}
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="wrapper">
        <div class="alpha prefix_1 grid_22 suffix_1 omega">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque laoreet risus sit amet sapien sodales gravida nec et nisi. Vestibulum nec eleifend purus. Suspendisse bibendum mi ut augue scelerisque at laoreet mauris semper. Nullam nulla lectus, lobortis dignissim auctor in, imperdiet in mauris. Praesent facilisis venenatis diam, non fermentum elit condimentum non. Sed sodales sapien et purus ultrices placerat. Sed tempus tortor ut risus tincidunt blandit sit amet nec felis. Nam scelerisque placerat velit, sit amet lobortis ligula iaculis sit amet.
            </p>
            <p>
            Donec convallis, nisl ac porttitor lobortis, libero libero interdum ipsum, nec tincidunt nulla est sit amet lacus. Proin mollis, lorem eget sodales accumsan, nisl lorem tempus magna, pretium suscipit nunc tortor at dolor. Nulla consequat luctus magna ac tincidunt. Aenean turpis nibh, euismod sed condimentum ut, elementum ut mi. Donec varius tellus non diam tincidunt commodo gravida mi auctor. Aliquam tincidunt lacinia arcu, sit amet condimentum lacus vehicula eu. Pellentesque vitae suscipit est. Integer pharetra, elit eget venenatis vestibulum, augue justo accumsan lectus, sit amet cursus nisl dui id eros. Vestibulum elit orci, semper eget facilisis a, pellentesque eget enim. Vivamus auctor malesuada auctor.
            </p>
        </div>
    </div>
{% endblock %}
