{% extends "templates/servicio.html" %}


{% block metadescription %}Software digital de ortodoncia.{% endblock %}

{% block title %}Software digital de ortodoncia - {% endblock %}

{% block content-title %}Software digital de ortodoncia{% endblock %}

{% block js-after-before %}
{% endblock %}

{% block content-body %}
   <p>
        Hace más de 20 años que contamos con un <strong>software digital de ortodoncia</strong>, para el diagnóstico de los diferentes planes de tratamiento (NemoCeph).
    </p>
   <p>
        De manera digital realizamos todas las medidas necesarias para estudiar cada caso individualmente. El paciente además puede valorar antes del comienzo del tratamiento el resultado final de su perfil en casos donde es necesaria la <strong>ortopedia</strong> (niños). 
    </p>
   <p>
        En nuestra clínica concertamos una cita específicamente para la explicación del <strong>estudio de ortodoncia</strong> y mostramos cada caso de manera individualizada.
    </p>
{% endblock %}

{% block before-after-title %}
    <h4 class="margin-bot">Diseño de sonrisa digital</h4>
{% endblock %}

{% block before-after %}
    <div class="wrapper indent-bot2">
        <figure class="img-style img-indent"><img src="{{ STATIC_URL }}images/digital_ortodoncia.png" alt="Software digital de ortodoncia" title="Software digital de ortodoncia"/>
            <span class="afterBeforeText">Software digital de ortodoncia</span>
        </figure>
    </div>
{% endblock %}
