{% extends "templates/tratamiento.html" %}

{% block class-tratamientos-link %} active{% endblock %}

{% block js-after-before %}
{% endblock %}
{% block meta %}
<meta property="og:title" content="Tratamientos" />
<meta property="og:url" content="https://patrodent.com{{ request.get_host }}{% url 'template_view' 'tratamientos' %}">
<meta property="og:description" content="Tratamientos que ofrece la Clínica Dental Patrocinio Gómez Martínez (Patrodent)">
{% endblock %}
{% block title %}Tratamientos - {% endblock %}

{% block pageclass %}treatments{% endblock %}

{% block metadescription %}Tratamientos que ofrece la Clínica Dental Patrocinio Gómez Martínez (Patrodent){% endblock %}

{% block before-after-title-wrapper %}
{% endblock %}

{% block content-body-wrapper %}
{% endblock %}

{% block content %}
    {{ block.super }}
{% endblock %}
