/*--- Avanquest WebEasy Page Style ---*/

.cc112              { /* Common */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	color           : #400000;
	}
.cc113              { /* Common */
	font            : bold 10pt Arial, sans-serif;
	color           : #972508;
	text-align      : right;
	}
.cc114              { /* Common */
	font            : bold 10pt Arial, sans-serif;
	color           : #972508;
	text-align      : center;
	}
img#e11             { /* b-norm2.gif */
	position        : absolute;
	left            : 136.50pt;
	top             : 131.25pt;
	width           :  16.50pt;
	height          :  16.50pt;
	}
div#e10             { /* IMPLANTES */
	position        : absolute;
	left            : 159.00pt;
	top             : 134.25pt;
	width           : 259.50pt;
	height          :  17.25pt;
	}
div#e9              { /* Los implantes dentales s... */
	top             : 185.75pt;
	height          : 167.25pt;
	}
span#e8             { /* patrodent011002.jpg */
	background      : transparent url(../images/patrodent011002.jpg) no-repeat top left;
	position        : absolute;
	left            : 390.75pt;
	top             : 399.75pt;
	width           : 129.75pt;
	height          : 129.00pt;
	}
span#e7             { /* patrodent011001.jpg */
	background      : transparent url(../images/patrodent011001.jpg) no-repeat top left;
	position        : absolute;
	left            : 140.25pt;
	top             : 353.25pt;
	width           : 194.25pt;
	height          : 246.00pt;
	}
/*--- EndOfFile ---*/
