/*--- Avanquest WebEasy Page Style ---*/


.cc80               { /* Common */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	color           : #400000;
	}
.cc81 {
    border: 2.25pt solid #D3C2BE;
}

img#e10             { /* b-norm2.gif */
	position        : absolute;
	left            : 136.50pt;
	top             : 131.25pt;
	width           :  16.50pt;
	height          :  16.50pt;
	}
div#e9              { /* ODONTOPEDIATRIA */
	position        : absolute;
	left            : 159.00pt;
	top             : 134.25pt;
	width           : 259.50pt;
	height          :  17.25pt;
	}
div#e8              { /* La odontología infantil ... */
	top             : 186.50pt;
	height          : 152.25pt;
	}
span#e7             { /* patrodent008001.jpg */
	background      : transparent url(../images/patrodent008001.jpg) no-repeat top left;
	position        : absolute;
	left            : 257.25pt;
	top             : 346.50pt;
	width           : 148.50pt;
	height          : 253.50pt;
	}
/*--- EndOfFile ---*/
