/*--- Avanquest WebEasy Page Style ---*/

.cc58               { /* Common */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	color           : #400000;
	}
.cc59               { /* Common */
	border          :   2.25pt solid #d3c2be;
	}
.cc60               { /* Common */
	font            : bold 10pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	color           : #972508;
	text-align      : right;
	}
.cc61               { /* Common */
	font            : bold 10pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	color           : #972508;
	text-align      : center;
	}
img#e16             { /* b-norm2.gif */
	position        : absolute;
	left            : 136.50pt;
	top             : 131.25pt;
	width           :  16.50pt;
	height          :  16.50pt;
	}
div#e15             { /* ODONTOLOGIA GENERAL */
	position        : absolute;
	left            : 159.00pt;
	top             : 134.25pt;
	width           : 158.25pt;
	height          :  18.75pt;
	}
div#e14             { /* La Clínica de la Dra. Pa... */
	top             : 188.00pt;
	height          :  62.25pt;
	}
h4#e13              { /* Consejos y Normas en Hig... */
	font            : bold 12pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	text-align      : center;
	position        : absolute;
	left            : 105.00pt;
	top             : 261.00pt;
	width           : 459.00pt;
	height          :  20.25pt;
	}
div#e12             { /* El cepillado de dientes ... */
	top             : 293.50pt;
	height          : 107.25pt;
	}
h4#e11              { /* Técnica para un Cepillad... */
	font            : bold 12pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	text-align      : center;
	position        : absolute;
	left            : 105.75pt;
	top             : 388.00pt;
	width           : 459.00pt;
	height          :  18.75pt;
	}
div#e10             { /* Es necesario que el cepi... */
	top             : 430.75pt;
	height          : 107.25pt;
	}
span#e9             { /* patrodent006003.jpg */
	background      : transparent url(../images/patrodent006003.jpg) no-repeat top left;
	position        : absolute;
	left            : 168.00pt;
	top             : 522.75pt;
	width           :  75.00pt;
	height          :  60.00pt;
	}
span#e8             { /* patrodent006002.jpg */
	background      : transparent url(../images/patrodent006002.jpg) no-repeat top left;
	position        : absolute;
	left            : 412.50pt;
	top             : 522.75pt;
	width           :  75.00pt;
	height          :  56.25pt;
	}
span#e7             { /* patrodent006001.gif */
	background      : transparent url(../images/patrodent006001.gif) no-repeat top left;
	position        : absolute;
	left            : 294.00pt;
	top             : 510.00pt;
	width           :  72.00pt;
	height          :  92.25pt;
	}


/*--- EndOfFile ---*/
