/*--- Avanquest WebEasy Page Style ---*/



.cc101              { /* Common */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	color           : #400000;
	}
.cc102              { /* Common */
	border          :   2.25pt solid #d3c2be;
	}
img#e12             { /* b-norm2.gif */
	position        : absolute;
	left            : 136.50pt;
	top             : 131.25pt;
	width           :  16.50pt;
	height          :  16.50pt;
	}
div#e11             { /* ORTODONCIA */
	position        : absolute;
	left            : 159.00pt;
	top             : 134.25pt;
	width           : 259.50pt;
	height          :  17.25pt;
	}
div#e10             { /* La ortodoncia es una esp... */
	top             : 177.75pt;
	height          : 452.25pt;
	}
span#e9             { /* patrodent010003.jpg */
	background      : url(../images/patrodent010003.jpg) no-repeat top left transparent;
	position        : absolute;
	left            : 00.00pt;
	top             : 144.75pt;
	width           : 132.75pt;
	height          : 127.50pt;
	}
span#e8             { /* patrodent010002.jpg */
	background      : url(../images/patrodent010002.jpg) no-repeat top left transparent;
	position        : absolute;
	left            : 149.00pt;
    top             : 144.75pt;
	width           : 132.75pt;
	height          : 127.50pt;
	}
span#e7             { /* patrodent010001.jpg */
	background      : url(../images/patrodent010001.jpg) no-repeat top left transparent;
	position        : absolute;
	left            : 297.50pt;
    top             : 144.75pt;
	width           : 132.75pt;
	height          : 127.50pt;
	}
div.parrafos1 p,
div.parrafos2 p {
    margin: 0pt;
}
div.info div.parrafos2 {
    position        : relative; 
    top             : 165pt;
}
div#page {
    height          : 700pt;
}
div.volver {
    top             : 630pt;
}
div.copy {
    top             : 658pt;
}
/*--- EndOfFile ---*/
