/*--- Avanquest WebEasy Page Style ---*/

.cc69               { /* Common */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	color           : #400000;
	}
h4#e24              { /* 954 211 422 */
	font            : bold 14pt Helvetica, sans-serif;
	color           : #000000;
	text-align      : center;
	position        : absolute;
	left            :   1.50pt;
	top             : 188.25pt;
	width           : 104.25pt;
	height          :  20.25pt;
	}
img#e11             { /* b-norm2.gif */
	position        : absolute;
	left            : 136.50pt;
	top             : 131.25pt;
	width           :  16.50pt;
	height          :  16.50pt;
	}
div#e10             { /* ESTETICA DENTAL. BLANQUE... */
	position        : absolute;
	left            : 159.00pt;
	top             : 134.25pt;
	width           : 259.50pt;
	height          :  20.25pt;
	}
div#e9              { /* El enfoque de este campo... */
	font            : 11pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	text-align      : center;
	position        : absolute;
	left            : 111.75pt;
	top             : 164.25pt;
	width           : 445.50pt;
	height          : 137.25pt;
	}
span#e8             { /* s2img1.jpg */
	background      : transparent url(../images/s2img1.jpg) no-repeat top left;
	position        : absolute;
	left            : 189.75pt;
	top             : 310.50pt;
	width           : 279.00pt;
	height          : 183.00pt;
	}
div#e7              { /* El sistema de blanqueami... */
	font            : 11pt 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	text-align      : center;
	position        : absolute;
	left            : 113.25pt;
	top             : 501.75pt;
	width           : 445.50pt;
	height          : 111.75pt;
	}


/*--- EndOfFile ---*/
