/*--- Avanquest WebEasy Page Style ---*/

.cc91               { /* Common */
	font            : bold 12pt 'Arial', Helvetica, sans-serif;
	color           : #400000;
	}
img#e12             { /* b-norm2.gif */
	position        : absolute;
	left            : 136.50pt;
	top             : 131.25pt;
	width           :  16.50pt;
	height          :  16.50pt;
	}
div#e11             { /* PERIODONCIA */
	position        : absolute;
	left            : 159.00pt;
	top             : 134.25pt;
	width           : 259.50pt;
	height          :  17.25pt;
	}
div#e10             { /* La PERIODONCIA es una es... */
	top             : 162.75pt;
	height          : 167.25pt;
	}
span#e9             { /* patrodent009003.jpg */
	background      : transparent url(../images/patrodent009003.jpg) no-repeat top left;
	position        : absolute;
	left            : 122.25pt;
	top             : 338.25pt;
	width           : 248.25pt;
	height          : 261.00pt;
	}
span#e8             { /* patrodent009002.jpg */
	background      : transparent url(../images/patrodent009002.jpg) no-repeat top left;
	position        : absolute;
	left            : 381.00pt;
	top             : 341.25pt;
	width           : 165.00pt;
	height          : 123.75pt;
	}
span#e7             { /* patrodent009001.jpg */
	background      : transparent url(../images/patrodent009001.jpg) no-repeat top left;
	position        : absolute;
	left            : 381.00pt;
	top             : 469.50pt;
	width           : 165.00pt;
	height          : 126.75pt;
	}
/*--- EndOfFile ---*/
