<div id="CookielawBanner">
    <div class="cookie-content">
        <div class="cookie-text">
            <p>Utilizamos cookies propias y de terceros para obtener datos estadísticos de la navegación de nuestros usuarios y mejorar nuestros servicios. Si acepta o continúa navegando, consideramos que acepta su uso. Puede obtener más información <a href="{% url 'template_view' 'politica-de-cookies' %}">aquí</a></p>
        </div>
        <div class="cookie-buttons">
             <a class="btn" href="javascript:Cookielaw.createCookielawCookie();">ACEPTAR</a>
        </div>
        <div class="close-cookies"></div>
    </div>
</div>