/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* Global properties ======================================================== */
html {width:100%;}
@font-face {
  font-family: Akzidenz;
  src: url(../fonts/akzidenzgrote/Akzidenz-grotesk-bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Akzidenz;
  src: url(../fonts/akzidenzgrote/Akzidenz-grotesk-be-bold-condensed.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Akzidenz;
  src: url(../fonts/akzidenzgrote/Akzidenz-grotesk-light.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Akzidenz;
  src: url(../fonts/akzidenzgrote/Akzidenz-grotesk-black.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Akzidenz;
  src: url(../fonts/akzidenzgrote/Akzidenz-grotesk-light-italic.ttf);
  font-weight: normal;
  font-style: italic;
}

body { 	 
	font-family: Akzidenz, Arial, Helvetica, sans-serif;
	font-size:100%; 
	color:#727272;
	min-width:960px;
	background:#eceff1;
}

.bg {width:100%; background:url(../images/bg-top.jpg) center 0 no-repeat;}

.main {
	width:960px; 	
	padding:0;
	margin:0 auto;
	font-size:0.875em;
	line-height:1.428em;
}

a {color:#5f5f5f; outline:none;}
a:hover {text-decoration:none;}

.col-1, .col-2, col-3 {float:left;width:180px;position:relative;}

.wrapper {width:100%; overflow:hidden;}
.extra-wrap {overflow:hidden;}
 
p {
    margin-bottom:18px;
    text-align: justify;
}
.p1 {margin-bottom:8px;}
.p2 {margin-bottom:15px;}
.p3 {margin-bottom:30px;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}
.p7 {margin-bottom:70px;}
.p8 {margin-bottom:80px;}

.reg {text-transform:uppercase;}

.fleft {float:left;}
.fright {float:right;}

.alignright {text-align:right;}
.aligncenter {text-align:center;}

.title {margin-bottom:18px;}

.it {font-style:italic;}
.bl {display:block;}
.bo {font-weight:bold;}
.letter {letter-spacing:-1px;}

.color-1 {color:#fff;}
.color-2 {color:#000;}
.color-3 {color:#bcbcbc;}
.color-4 {color:#5f5f5f;}
.vspace {
	margin-top: 1em;
}

figure img {
	max-width: 100%;
}
.whatssap {
	width: 25px;
	color: #32ac9c;
	display: inline-block;
}
.whatssap a {
	width: 25px;
	color: #32ac9c;
}

.whatssap a:hover {
	color: #e65e9e;
}
/*********************************boxes**********************************/
.margin-bot {margin-bottom:10px;}

.spacing {margin-right:35px;}

.center {
    width: 630px;
    margin: 0 auto;
}

.center2 {
    width: 468px;
    margin: 0 auto;
}

.center3 {
	width: 300px;
	margin: 0 auto;
}

.indent {padding:0 0 0px 30px;}
.indent2 {padding-left:50px;}
.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:25px;}
.indent-bot3 {margin-bottom:45px;}
.indent-bot4 {margin-bottom:75px;}
.indent-bot5 {margin-bottom:37px;}

.img-indent-bot {margin-bottom:25px;}
.img-indent {float:left; margin:0 20px 0px 0;}	
.img-indent2 {float:left; margin:6px 20px 0px 0;}	
.img-indent3 {float:left; margin:0px 18px 0px 0;}	
.img-indent-r {float:right; margin:0 0px 0px 40px;}	

.indent-l {padding-left:30px;}
.indent-r {margin-right:20px;}
.prev-indent-bot {margin-bottom:10px;}
.top-pad {padding-top:10px;position:relative;overflow:hidden;}
.bot-pad {padding-bottom:39px;}
.buttons a:hover {cursor:pointer;}

.menu li a,
.list-1 li a,
.list-2 li a,
.link,
.button,
.logo {text-decoration:none;}	

/*********************************header*************************************/
header {	
	width:100%;
	position:relative; 
	z-index:2;
	background: white;
	font-weight: bold;
    /*background-color: #32ac9c;*/
	/*background:url(../images/header-bg.jpg) center 0 no-repeat;*/
	border-bottom:4px solid #32AC9C;
	height:180px;
}

h1 {
	position:relative;
	float:left;
	/*background: url(../images/logo.png) 0px 0 no-repeat;*/
}

h1 a {
	display:block; 
	font-size: 40px;
	line-height:1.211em;
	color:#32ac9c;
	text-decoration:none;
	width: 278px;
    margin-top: 35px;
    text-align: center;
}
header h1 a img {
	width: 100%;
}

.head-right {
	float:right;
	position:relative;
}

.btn-cita {
	color: white;
	text-decoration: none;
	background: #32ac9c;
	border-radius: 0.5em;
	padding: 0.5em 1em;
	margin: 0 0 0.5em 1em;
}
a.btn-cita:hover {
	background: #e65e9e;
}
.contactheader {
	float:right;
	height: 100px;
	margin: 35px 10px 13px;
	color:#32ac9c;
	z-index: 2;
	font-size: 16px;
	line-height:1.222em;
}
.contactheader div {
	line-height: 40px;
}
.socialheader {
	clear: both;
	margin-left: 1em;
	margin-top: 0.3em;
	display: inline-block;
	list-style: none;
}
.socialheader li {
	display: inline-block;
	float: left;
	margin: 0.4em;
}
.socialheader a {
	color: #32ac9c;
}
.socialheader a:hover {
	color: #e65e9e;
}
.socialheader img{
	width: 19px;
}
.contactheader a.phone {
	font-size: 18px;
	color: #32ac9c;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
	padding-left: 35px;
	line-height: 40px;
	/*background: url(../images/phone-bg-green.png) 5px 5px no-repeat;*/
}

.slogon {
	font-size:18px;
	line-height:1.222em;
	color:#32ac9c;
	background:url(../images/slogon-bg.png) right 35px no-repeat;
	padding:32px 43px 28px 0px;
	text-align:right;	
	margin-right:2px;
	position:relative;
	overflow:hidden;
	float:right;
    z-index: 2;
}
.slogon .tel {
	font-size:22px;
	line-height:1.227em;
	color:#32ac9c;
	margin-bottom:5px;
}
.slogon .tel span{
	font-size:26px;
}

.slogon .whats {
    margin: 10px 0;
    color: white;
}
.headerBooking {
	margin-top: 40px;
}

/*********************************menu*************************************/
.menu {
	padding:0 18px 0;
	float:right;
    margin-top: -33px;
}
.menu li {
	float:left; 
	position:relative;
}
.menu li a {
	background:url(../images/menu-bg.png) 0 top repeat-x;
	display:block; 
	font-size:16px; 
	line-height:1.235em;
	color:#32ac9c;
	text-align:center;
	padding:23px 16px 23px 17px;
	position:relative;
	overflow:hidden;
	border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0;
	-webkit-border-radius:10px 10px 0 0;
}
.menu > li > a:hover, .menu > li > a.active, .menu > li.sfHover > a {
	background-position: 0 bottom;
	color: white;
}
.sf-arrows .sf-with-ul:after {
	border-top-color: #32ac9c;
}

.menu li ul a {
	color: white;
}

.menu ul {
	position:		absolute;
	padding:		13px 0 9px 4px;
	width:			135px;
	background:#32AC9C;
	border-radius:0 10px 10px 10px;
	-moz-border-radius:0 10px 10px 10px;
	-webkit-border-radius:0 10px 10px 10px;
}
.menu ul li {width:	100%;}
.menu li li {padding:0px 0 10px; background:none;}
.menu li li a {
	display:inline-block;
	padding:		0 0 0 10px;
	font-size:		14px;
	line-height:	1.214em;
	text-align:		left;
}
.menu li li a:hover, .menu li li.sfHover > a {
    color:#C8FFFF;
}

.menu ul ul {
	width:142px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
.menu li li li {padding-left:7px;}
.menu li:hover ul, .menu li.sfHover ul {
	left:			0px;
	top:			65px;
	z-index:		999;
}
ul.menu li:hover li ul, ul.menu li.sfHover li ul {
	top:			-999em;
}
ul.menu li li:hover ul, ul.menu li li.sfHover ul {
	left:			136px;
	top:			-13px;
	z-index:		9999;
}
ul.menu li li:hover li ul, ul.menu li li.sfHover li ul {
	top:			-999em;
}

/*********************************slider*************************************/
.slider-wrapper {
    height:372px;
    width:490px;
    position:relative;
    z-index:1;
    border:1px solid #e0e0e0;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding:14px 14px 14px 16px;
}

.items {
	display:none;
}

.pagination {
	position:absolute;
	left:207px;
	top:397px;
	z-index:99;
}
.pagination li {
	float:left;
	margin-left:3px;
}
	.pagination li a {
		display:block;
		width:15px;
		height:15px;
		text-indent:-5000px;
		background:url(../images/pagination-bg.gif) 0 bottom no-repeat;
	}
	.pagination li.current a,
	.pagination li a:hover {
		background-position:0 top;
	}

	.pagination li.current a {cursor:default;}
	
.slider-bottom {
	background:url(../images/slider-bottom.png) center bottom no-repeat;
	padding:29px 00px 22px 0px;
	position:relative;
}

/*********************************content*************************************/
#content {
	width:100%; 
	padding:0;
	position:relative;
	z-index:1;
	background:url(../images/content-bg.gif) 0 0 repeat-x #fff;
}

.content-inner {
	background:#FFF;
	border-radius:10px 10px 0 0;
	-moz-border-radius:10px 10px 0 0 ;
	-webkit-border-radius:10px 10px 0 0;
	padding: 25px 0 30px;
}
#page1 .content-inner {padding:0 0 80px;}
#page3 .content-inner {padding-bottom:70px;}
#page4 .content-inner {padding-top:29px;}
#page5 .content-inner, #page6 .content-inner {padding-bottom:85px;}

h4 {
    font-size:24px; 
    line-height:1.208em; 
    color:#657181;
    font-weight:normal;
    letter-spacing:-1px;
}
h4 span {
    display:block;
    margin-top:-3px;
}
h2 {
    font-size: 30px;
    line-height: 1.222em;
    color: #32AC9C;
    font-weight: 800;
    letter-spacing:-1px;
    padding:0px 0px 19px;
    border-bottom:1px solid #e2e8eb;
    margin-bottom:18px;
}
h2 span {
    margin-top:-8px;
    display:inline-block;
}
h5 {
    font-size:15px;
    line-height:1.222em;
    color:#32AC9C;
    text-transform:uppercase;
    font-weight:normal;
}
h3 {
    font-size: 36px;
    line-height:1.208em; 
    color:#32ac9c;
    font-weight:normal;
    letter-spacing:-1px;
}


a .sign, .sign {
    font-size:26px;
    line-height:36px;
    color:#727272;
    letter-spacing:-1px;
    text-decoration:none;
    display:inline-block;
}
a.sign:hover{
	color:#32ac9c;
}
blockquote,
blockquote a{
	background:url(../images/quotes.png) left top no-repeat;
	font-style:italic;
	color:#bcbcbc;
	margin-bottom:30px;
	width:100%;
    text-align: justify;
}
.border-1 {
	border-right:1px solid #e0e0e0;
	margin-right:13px;
	padding-right:20px;
}
#page5 .border-1 {
	margin-right:13px;
	padding-right:24px;
}
.border-2 {
	border-bottom:1px solid #e2e8eb;
	padding-bottom:14px;
	margin-bottom:13px;
}
.img-style {
	padding:4px;
	border:1px solid #e0e0e0;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	float:left;
	background:#FFF;
}
.img-style span {
	text-transform:uppercase;
	display:block;
	text-align:center;
	font-size:13px;
	line-height:1.23em;
	padding-top:5px;
}

.box {
	width:190px; 
	background:url(../images/box-bg.gif) 0 bottom repeat-x;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	float:left;
	padding:10px 10px 12px;
	font-size:12px;
	line-height:18px;
	position:relative;
	overflow:hidden;
}

.box-big {
    width:272px;
}

.box:hover {
	background-position: 0 top;
}
.box strong {
	font-size:14px;
	line-height:1.214em;
}
.box .img-style {border-color:#cfd2d4;}
.box a {
	background:url(../images/marker-2.png) 0 2px no-repeat;
	font-size:13px;
	line-height:1.23em;
	font-weight:bold;
	padding:3px 0 3px 24px;
	color:#727272;
	display:inline-block;
	margin-left:3px;
}

#subscribe-form label {
	height:42px;
	display:inline-block;
}
.subscribetext {
	border:0;
	margin:0;
	background:#f2f4f5;
	font-size:11px;
	color:#727272;
	width:190px;
	padding:9px 15px;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	box-shadow: inset 1px 1px 2px #b4b5b6;
	-moz-box-shadow: inset 1px 1px 2px #b4b5b6;
	-webkit-box-shadow: inset 1px 1px 2px #b4b5b6;
	outline:none;
}

.style-2 {
	color:#5f5f5f;
	display:block;
}
.button {
	font-size:24px;
	line-height:1.208em;
	display:inline-block; 
	padding:0 20px 10px;
	color:#32ac9c; 
	background:url(../images/button-tail.gif) 0 0 repeat-x #f1f1f1;
	border:1px solid #d0d0d0;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	letter-spacing:-1px;
}
	
	.button:hover {color:#727272;}

.list-1.columns3 {
  float: left;
  width: 100%; /*Este ancho será el total que ocupen muestras columnas */
  list-style-type: none; /*Eliminamos las viñetas */
}

.list-1.columns3 li {
    padding-bottom:6px;
    display: inline; /*Se declara que las propiedades serán otorgadas a cada linea*/
    float: left;
    width: 33%
}

.list-1 li {
	padding-bottom:6px;
}
.list-1 li.last {padding-bottom:0;}
	.list-1 li a {
		background:url(../images/marker-1.gif) 0 3px no-repeat;
		display:inline-block;
		color:#727272;
		padding-left:25px;
	}
		.list-1 li a:hover {
			background-position:0 bottom;
		}

.important-block {
	padding:30px 0 30px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background:url(../images/important-bg.png) center top no-repeat #32AC9C;
	color:#FFF;
	margin-bottom:20px;
}
.important-block .title { 
	font-size:35px;
	line-height:1.2em;
	margin-bottom:25px;
	
}
.important-block .border {
    background:url(../images/border-1.png) right 0 repeat-y;
    margin-right:14px;
    padding-right:21px;
}

.important-block ul li {
    padding-bottom:6px;
}
.important-block ul li.last {padding-bottom:0;}

.important-block ul li a {
    position: relative;
    display:inline-block;
    color:#fff;
    padding-left:25px;
    font-weight: bold;
    background-image: none;
}
.important-block ul li a i {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 25px;
    height: 25px;
    background:url(../images/marker-3.png) 0 3px no-repeat;
}
.important-block ul li a.active i,
.important-block ul li a:hover i {
    background-position:0 -22px;
}
.important-block ul li a.active,
.important-block ul li a:hover {
    color: #5F5F5F;
}

.date-style {
	font-weight:bold;
	display:block;
	margin-bottom:10px;
	color:#5f5f5f;
}

.datepicker-bg {
	background:#f3f5f6;
	padding:21px 21px 20px 25px;
	box-shadow: inset 1px 1px 2px #ebedee;
	-moz-box-shadow: inset 1px 1px 2px #ebedee;
	-webkit-box-shadow: inset 1px 1px 2px #ebedee;
	overflow:hidden;
}

.datepicker-wrap {
	background-color:#FFF;
	border-radius:12px;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;

}

.link:hover {text-decoration:underline;} 

.link-1 {
	display:inline-block; 
	font-size:14px; 
	padding-right:8px; 
	background:url(../images/marker-3.gif) right 8px no-repeat;
}
.link-1:hover {color:#fff;} 

.text-left-index {
    margin-right: 10px;
}

.text-1 {
	font-size:15px;
	line-height:22px;
	color:#888;
	font-weight: normal;
	margin-bottom:11px;
} 
.text-2 {display:block;margin-bottom:12px;} 

dl span {float:left; width:84px;}
dt {margin-bottom:22px;}

#map_canvas {
	width: 514px;
	height:296px;
	overflow:hidden;
}

#content ol.levels li,
#content ul.levels li {
    padding-left: 15px;
}

#content ol.levels {
    list-style: decimal inside;
}

#content ul.levels {
    list-style: square inside;
}

ul.default {
    list-style: circle;
    margin-bottom: 20px;
}

ul.default li {
    margin-left: 30px;
}

.secondDoctor {
    margin-top: 90px;
}

.map-margin {
    margin-top: 40px;
}

/***** Contact form *****/
form.form {
	position:relative;
	vertical-align:top;
	width:100%;
	z-index:1;
	}
	form.form fieldset {
		border:none;
		padding:0;
		}			
			form.form label {
				display:block;
				min-height:39px;
			}
			form.form label.message{
				height:188px;
				padding-bottom:0;
			}
			form.form input {
				border:0;
				margin:0;
				background:#f2f4f5;
				font-size:11px;
				color:#727272;
				width:200px;
				padding:9px 15px;
				font-family:Arial, Helvetica, sans-serif;
				border-radius:15px;
				-moz-border-radius:15px;
				-webkit-border-radius:15px;
				box-shadow: inset 1px 1px 2px #b4b5b6;
				-moz-box-shadow: inset 1px 1px 2px #b4b5b6;
				-webkit-box-shadow: inset 1px 1px 2px #b4b5b6;
				outline:none;
			}
			form.form .area .error { float:none;}
			form.form textarea {
				border:0;
				margin:0;
				background:#eceff1;
				font-size:11px;
				color:#727272;
				width:190px;
				padding:9px 15px;
				font-family:Arial, Helvetica, sans-serif;
				border-radius:15px;
				-moz-border-radius:15px;
				-webkit-border-radius:15px;
				box-shadow: inset 1px 1px 2px #b4b5b6;
				-moz-box-shadow: inset 1px 1px 2px #b4b5b6;
				-webkit-box-shadow: inset 1px 1px 2px #b4b5b6;
				outline:none;
				height:170px;
				width:270px;
				overflow:auto;
			}
			form.form a {cursor:pointer;}
				form.form .success {display:none; margin-bottom:20px;}
				form.form .error,
				form.form .empty {
					color:#f00;
					font-size:11px;
					line-height:2em;
					display:none;
					overflow:hidden;
				}
		.buttons-wrapper { padding:27px 0px 0 0;}
		.buttons-wrapper a { margin-right:8px;}

.fieldcontainer { float: left; margin:0; padding:0; width:100%; } /* OLD: margin-bottom:3px; also had display:none, which caused bug on form 376500 */
.fieldcontainer div .rowleft, .fieldcontainer div .rowright { display:block; float: left; }

.fieldcontainer .rowleft { width:22%; }
.fieldcontainer .rowright { width: 74%; }
.fieldcontainer .rowup { margin:3px 0.5%; width: 96%; float:left; }
.fieldcontainer .rowdown { margin:3px 0.5%; width:96%; float:left; }
.fieldcontainer .uberfieldlat { margin:3px 1%; }
.class123-separ-row { float:left; width:100%; background-color: transparent; }

form.form .labelinfo {
    width: 325px;
    font-size: 13px;
    color: #BCBCBC;
}


/****************************footer************************/
footer {
	width:100%; 
	padding:44px 0 30px;
	border-top:4px solid #32AC9C;
}
.footer-content {	
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:20px;
	color:#727272;
}

.footer-title {
	font-size:19px;
	line-height:1.21em;
	color:#657181;
	letter-spacing:-1px;
	margin-bottom:30px;
}
footer figure {
	padding:4px;
	border:1px solid #cfd2d4;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	float:left;
	background:#FFF;
	margin-right:5px;
}
footer time {
	background:url(../images/ico1.gif) 0 6px no-repeat;
	padding:4px 0 3px 23px;
	font-size:11px;
	display:inline-block;
}
footer time a {
	color:#32AC9C;
}

footer .style-1 {
	font-size:13px;
	margin-bottom:3px;
}
.jcarousel-wrapper{
	width: 363px;
	margin: 60px auto 20px;
}
.jcarousel {
	width: 360px;
}
.jcarousel i {
	font-size: 16px;
	line-height: 29px;
}
.jcarousel ul.gallery li {
	border: none;
	width: 360px
}

.jcarousel figure {
	display: table;
	width: 349px;
}

.jcarousel a {
	display: table-cell;
	vertical-align: middle;
	width: 349px;
	height: 250px;
}

.jcarousel img {
	margin: 0 auto;
}

.jcarousel	.jcarousel-control-next,
.jcarousel .jcarousel-control-prev {
	  background: #32ac9c;
}

.jcarousel	.jcarousel-control-next:hover,
.jcarousel .jcarousel-control-prev:hover {
	  background: #e65e9e;
}

/*.jcarousel .jcarousel-control-prev {*/
/*    left: 0;*/
/*}*/

/*.jcarousel .jcarousel-control-next {*/
/*	right: 0;*/
/*    background-position: -5px -96px;*/
/*}*/


.contacts {	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:20px;
	color:#727272;
}
footer .contact_info {
    float:right;
}

ul.curriculum li {
    padding-bottom: 10px;
}

.afterAndBeforePage .afterAndBefore {
    float: left;
    width: auto;
}

.afterAndBefore img {
    width: 250px;
    height: 156px;
}

/* ShadowBox */

#sb-info, #sb-info-inner {
    height: 70px;
}

#sb-nav {
    height: 64px;
}

#sb-nav a {
    height: 64px;
    width: 64px;
}

#sb-counter {
    font-size: 24px;
}

#sb-nav #sb-nav-close,
#sb-nav #sb-nav-next {
    margin-left: 40px;
}

/* changes */
nav.responsiveNav,
nav span#pull {
    display: none;
}

form.form .labelinfo {
    width: 100%;
    text-align: left;
    clear: both;
}
.fridaytime {
	margin-left: 60px;
}
.home3colums {
	padding-top: 40px;
}
.home3colums a {
	text-decoration: none;
}
.home3colums > div {
	background: rgba(50, 172, 156, 0.37);
	position: relative;
	padding: 0.3em 0.5em;
	text-align: center;
	height: 200px;
}
.home3colums > div.center {
	margin: 0 2em;
}
.home3colums img {
	margin-top: -49px;
	background: white;
	border-radius: 4em;
	padding: 0.5em;
}
.home3colums h4 {
	margin-top: 0.3em;
}
.home3colums p {
	text-align: center;
}

#footermap {
	max-width: 400px;
	display: inline-block;
}
#footermap iframe {
	width: 100%;
}

.movileContact,
.addressinfo {
	visibility: hidden;
	display: none;
}

@media only screen and (max-width : 1024px) {
	header {
		margin-top: 2.5em;
		height: 190px;
	}
    header  h1.sign {
		display: block;
		width: 100%;
		text-align: center;
		margin-bottom: 1em;
	}
	header	h1.sign a {
		display: inline-block;
		margin: 0 auto;
		width: 400px;
    }
	header .fright {
		visibility: hidden;
		display: none;
	}
	.movileContact {
		display: block;
		visibility: visible;
		clear: both;
		margin-bottom: 0.6em;
		width: 100%;
		color: #32ac9c;
		text-align: center;
	}
	.movileContact > div {
		display: inline-block;
	}
	.movileContact .tel{float: left}
	.movileContact .social {
		float: right;
	}
	.movileContact a.phone {
		color: #32AC9C;
		font-size: 20px;
		text-decoration: none;
	}
	.movileContact .whatssap {
		margin-top: -6px;
	}
	.movileContact > div.cita {
		text-align: center;
	}
	.movileContact > div.cita .btn-cita {
		font-size:16px;
		line-height: 1.2em;
	}
	.movileContact div.social {
		text-align: right;
	}
	.movileContact a {
		text-decoration: None;
	}
	.movileContact .socialheader i {
		font-size: 26px;
		margin-top: -10px
	}
	.addressinfo {
		color: white;
		clear: both;
		display: block;
		visibility: visible;
		padding: 0.2em;
		background: #1c8c7d;
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	.addressinfo span {
		color: white;
		line-height: 1.8em;
		margin: 0 0.3em;
		display: inline-block;
	}
	.addressinfo i {
		line-height: 1.6em;
	}
    nav.responsiveNav {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 100;
        display: block;
        background: #283744;
    }
    nav.responsiveNav a.active,
    .index nav.responsiveNav .index > a,
    .contact nav.responsiveNav .contact > a,
    .services nav.responsiveNav .services > a,
    .beforeAfter nav.responsiveNav .beforeAfter > a,
    .whoWeAre nav.responsiveNav .whoWeAre > a,
    .who nav.responsiveNav .who > a,
    .Place nav.responsiveNav .Place > a{
        color: #246b62;
        text-decoration: underline;
    }
    nav.navigation {
        display: none;
    }
    nav.responsiveNav {
        border-bottom: 0;
    }
    nav.responsiveNav a {
        color: white;
        padding: 0.3em 0.5em;
        text-decoration: none;
    }
    nav.responsiveNav a:hover {
        color: #5f5f5f;
    }
    nav.responsiveNav > ul {
        background: #6ec9c4;
        border-bottom: 4px solid #32AC9C;
        padding: 0.5em 0 1em 0.8em;
    }
    nav.responsiveNav ul {
        display: none;
        height: auto;
    }
    nav.responsiveNav ul li {
        margin-bottom: 0.3em;
    }
    
    nav.responsiveNav ul li ul {
        padding-left: 1em;
        margin-top: 0.3em;
        margin-bottom: 0.5em;
    }
    nav span#pull {
        color: #32ac9c;
        display: block;
        background-color: #32ac9c;
        box-sizing: border-box;
        width: 100%;
        line-height: 2em;
        height: 2.5em;
        position: relative;
    }
    nav span#pull:after {
        content:"";
        background: url('../images/nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
}

@media only screen and (max-width : 980px) {
    body {
        min-width: 100%;
    }
    body div {
        box-sizing: border-box;
    }
    body div.box {
        box-sizing: content-box;
    }

    .border-1 {
        border-right: none;
    }

    header div.main, div.container_24 .grid_24 {
        width: 98%;
		margin: 0 auto;
    }

    .wrapper.bot-pad > div {
        width: 100%;
    }
    .wrapper.bot-pad .slider-wrapper {
        margin: 0 auto;
    }
    div.main,
    div.container_24,
    .container_24 .grid_24 {
        width: auto;
    }
    .important-block {
        max-width: 870px;
        margin: 0 auto 2em;
    }
    .container_24 .wrapper .grid_22 {
        display: block;
        float: none;
        width: auto;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;
    }
    .container_24 .grid_21 {
        width: 75%;
        margin: 0 auto;
        float: none;
        padding: 0;
    }
    .container_24 .wrapper .grid_15 {
        width: 60%;
    }
    .container_24 .wrapper .grid_7 {
        width: 32%;
        padding-right: 0;
    }
    .index section .container_24 .wrapper .alpha,
    .index section .container_24 .wrapper .omega,
    .index section  .container_24 .wrapper .grid_6 {
        width: 96%;
        padding: 0 1em;
    }
	.home3colums > div.center {
		margin: 0;
	}
    .index section  .container_24 .wrapper .list-1.p3 li {
        width: 48%;
        display: inline-block;
        margin-left: 1%;
    }
    .whoWeAre section .container_24 .wrapper .grid_7 {
        width: 40%;
        min-width: 300px;
    }
    .whoWeAre section .container_24 .wrapper .grid_15 {
        width: 55%;
    }
    .Place section .container_24 .grid_9,
    .who section .container_24 .grid_9 {
        padding-left: 8px;
    }
    .Place section .container_24 .grid_13,
    .who section .container_24 .grid_13 {
        max-width: 55%;
        width: auto;
    }
    .beforeAfter section .img-indent {
        margin: 0 10px 0 0;
    }
    .contact section .container_24 .wrapper > div {
        width: 98%;
    }
    .contact section .container_24 .wrapper > div.omega {
        padding-left: 40px;
    }
    .contact section .container_24 .wrapper .img-style {
        width: 98%;
        padding: 0.3em;
        box-sizing: border-box;
        margin-bottom: 1em;
    }
    .contact section .container_24 .wrapper .img-style #map_canvas {
        width: 100%;
    }
    .contact section .container_24 .wrapper  .border-1 {
        border: none;
    }
    .slider-wrapper {
        height: 397px;
        width: 524px;
    }
    .secondDoctor {
        margin-top: 30px;
    }
	footer .contact_info {
		float: none;
	}
}

@media only screen and (max-width : 875px) {
	header h1 a img {
		max-width: 100%;
	}
    header .slogon {
        padding-left: 0;
        font-size: 22px;
        margin-top: 1.25em;
    }
    header .slogon .tel{ 
        font-size: 28px;
    }
    footer .footer-content {
        padding: 1em;
    }
    footer .container_24 .alpha.grid_13 {
        margin-bottom: 1em;
    }
    footer .container_24 .contact_info.grid_6 {
        float: none;
        width: auto;
        clear: both;
        display: block;
    }
	.home3colums > div,
	.home3colums > div.center{
		margin: 0 5px 50px;
	}
	.home3colums > div:last-child {
		margin-bottom: 10px;
	}
    .whoWeAre section .container_24 .wrapper .grid_7 {
        width: 100%;
    }
    .who section .container_24 .grid_9 .border-1,
    .whoWeAre section .container_24 .wrapper .grid_7 .border-1 {
        border: none;
        padding: 0;
    }
    .whoWeAre section .container_24 .wrapper .grid_15 {
        width: 100%;
        padding-left: 20px;
    }
    .Place section .container_24 .grid_9,
    .who section .container_24 .grid_9 {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        text-align: center;
    }
    .Place section .container_24 .grid_13,
    .who section .container_24 .grid_13 {
        max-width: 100%;
        width: 100%;
        padding-left: 20px;
    }
    .who section .container_24 .grid_9 {
        text-align: center;
    }
    .Place section .container_24 .grid_9 h4,
    .who section .container_24 .grid_9 h4 {
        text-align: left;
    }
    .Place section .container_24 .img-style,
    .who section .container_24 .img-style {
        float: none;
        margin: 0 auto 1em;
        display: inline-block;
    }
    section .list-1.columns3 li {
        width: 50%;
    }
    .container_24 .grid_23 {
        width: auto;
    }
    .beforeAfter section .img-indent {
        margin: 0 25px 0 0;
    }
    section .container_24 .wrapper .grid_7,
    section .container_24 .wrapper .grid_15 {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .imgswrapper .wrapper {
        width: auto;
        display: inline-block;
    }
    .imgswrapper {
        display: block;
        width: 100%;
        text-align: center;
    }
    .imgswrapper div figure div {
        position: relative;
    }
    .imgswrapper div figure div img {
        left: 0;
    }
    .imgswrapper .img-style {
        float: none;
        display: inline-block;
    }
    .afterAndBeforePage .imgswrapper .afterAndBefore {
        float: none;
        display: inline-block;
    }
    .beforeAfter .content-inner {
        padding: 1em;
    }
	.jcarousel-wrapper{
		width: 350px;
	}
	.jcarousel {
		width: 329px;
	}
}

@media only screen and (max-width : 867px) {
	header {
		height: 200px;
	}
}

@media only screen and (max-width : 830px) {
	.contactheader {
		max-width: 361px;
		margin-top: 28px;
	}
}

@media only screen and (max-width : 800px) {
	#footermap {
		max-width: 260px;
	}
}

@media only screen and (max-width : 760px) {
	footer .contact_info {
		width: 100%!important;
		display: block;
		clear: both;
	}
	#footermap {
		max-width: none;
		width: 100%;
	}
	footer .container_24 .grid_12 {
		width: 100%;
		padding-left: 0;
	}
	.jcarousel-wrapper {
		margin: 0 auto 20px;
	}
}

@media only screen and (max-width : 720px) {
	/*header h1.sign {*/
	/*	display: block;*/
	/*	margin: 0 auto;*/
	/*	width: 100%;*/
	/*	line-height: 0.5em;*/
	/*}*/
	/*header h1.sign a {*/
	/*	display: block;*/
	/*	width: 324px;*/
	/*	margin: 0 auto;*/
	/*	background: white;*/
	/*	line-height: 1em;*/
	/*}*/
	/*header .grid_24 > .fright {*/
	/*	float: none;*/
	/*	width: 100%;*/
	/*	margin: 0 auto;*/
	/*	clear: both;*/
	/*}*/
	/*header .contactheader {*/
	/*	font-size: 14px;*/
	/*}*/
	/*header .contactheader i.fas.fa-phone-alt {*/
	/*	font-size: 26px!important;*/
	/*}*/
	/*.contactheader {*/
	/*	max-width: None;*/
	/*	margin-top: 28px;*/
	/*	float: left;*/
	/*}*/
}
@media only screen and (max-width : 700px) {
    header .slogon .tel{
        font-size: 22px;
    }
    header .slogon {
        font-size: 16px;
    }
}

@media only screen and (max-width : 610px) {
    header .slogon {
        position: absolute;
        top: 0;
        right: 0;
    }
    .box-big,
    .box {
        width: 185px;
    }
    .center {
        width: 468px;
    }
    img,
    iframe {
        max-width: 100%;
    }
    section .list-1.columns3 li {
        width: 100%;
    }
    section .important-block {
        background-image: none;
    }
    section .container_24 .wrapper .grid_7 .wrapper.indent-bot2 {
        display: inline-block;
        width: auto;
    }
    section .container_24 .wrapper .grid_7 .wrapper.indent-bot2 .img-indent {
        margin: 0 10px 0 0;
    }
    .index .slider-container {
        z-index:1;
        border:1px solid #e0e0e0;
        border-radius:10px;
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
        padding:14px 14px 14px 16px;
        width: 500px;
        height: 380px;
    }
}

@media only screen and (max-width : 585px) {
	header h1 sign a{
		margin-bottom: 0.3em;
	}
    .index section .container_24 .wrapper .list-1.p3 li {
        width: 100%;
    }
	.headerBooking {
		margin-top: 21px;
	}
	.contactheader {
		max-width: 357px;
		margin-top: 9px;
	}
	.contactheader a.phone {
		font-size: 16px;
	}
}

@media only screen and (max-width : 560px) {
    .slogon .whats {
        margin: 15px 0;
    }
	header .headerBooking {
		right: 320px;
		top: 2.9em;
	}
    h2 {
        font-size: 29px;
    }
    h3 {
        font-size: 26px;
    }
    .index .slider-wrapper {
        zoom: 0.8;
    }
}

@media only screen and (max-width : 520px) {
    .index .slider-wrapper {
        zoom: 0.7;
    }
    .container_24 .grid_13 {
        width: auto;
    }
	/*header .headerBooking {*/
	/*	right: 0px;*/
	/*	top: 1em;*/
	/*}*/
}
@media only screen and (max-width : 513px) {
	header {
		height: 220px;
	}
}
@media only screen and (max-width : 480px) {
    .center,
    .center2 {
        width: 100%;
    }
    .imgwrapper {
        display: block;
        text-align: center;
    }
    .imgwrapper div {
        float: none;
        margin: 0 auto 0.5em;
        width: 185px;
    }
	.hidden-xs {
		display: none;
		visibility: hidden;
	}
	.movileContact a.phone {
		font-size: 16px;
	}
	.movileContact .socialheader i {
		font-size: 18px;
	}
}
@media only screen and (max-width : 415px) {
	header {
		height: 230px;
	}
	.movileContact div.social {
		display: block;
		float: none;
		text-align: left;
		clear: both;
		text-align: left;
		margin-left: 0;
		margin-top: 0.3em;
	}
}
@media only screen and (max-width : 400px) {
    .index .slider-wrapper {
        zoom: 0.6;
    }
}

@media only screen and (max-width : 392px) {
    .index .slider-wrapper {
        zoom: 0.5;
    }
	.contactheader {
		max-width: 218px;
		margin-right: 0px;
	}
}
@media only screen and (max-width : 378px) {
	header h1 a {
		z-index: 10;
	}
	header .contactheader {
		font-size: 13px;
	}
	header .contactheader i.fas.fa-phone-alt {
		font-size: 24px!important;
	}
	.headerBooking {
		margin-top: 0.8em;
	}
    .index .slider-wrapper {
        zoom: 0.5;
    }
	.jcarousel-wrapper {
		width: 300px;
	}
	.jcarousel,
	.jcarousel a,
	.jcarousel ul.gallery li {
		width: 277px;
	}
}

@media only screen and (max-width : 356px) {
	header {height: 270px}
	header h1.sign a {
		max-width: 100%;
	}
}
@media only screen and (max-width : 320px) {
    nav.responsiveNav li {
        display: block;
        float: none;
        width: 100%;
    }
}

@media only screen and (max-width : 300px) {
    .index .slider-wrapper {
        zoom: 0.4;
    }
}