<!DOCTYPE html>
<html lang="es">
<head>
{% block head %}
    <title>{% block title %}{% endblock %}Clínica Dental Patrodent</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link type="image/gif" href="{{ STATIC_URL }}images/favicon.ico" rel="shortcut icon" />
    <meta name="Keywords" content="{% block keywords %}Dentistas en Sevilla, Dentistas, Sevilla, Odontologos Sevilla, Odontologos, Dentistas plaza de armas, Denstistas centro de Sevilla, Clinica Dental Sevilla, Clinica Dental, Ortodoncia Sevilla, Ortodoncia, Odontología Sevilla, Odontologia, ATM, Periodoncia, ATM Sevilla, Periodoncia Sevilla, plaza de armas{% endblock %}">
    <meta name="Description" content="{% block metadescription %}Clínica Dental Patrocinio Gómez Martínez C/ Marques de Paradas nº 22 1 º dcha Sevilla (junto a plaza de armas){% endblock %}">
   {% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/grid.css" type="text/css" media="all">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/animate-flip.css" type="text/css" media="all">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/shadowbox.css" type="text/css" media="all">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/superfish.css" media="all">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="all">
   {% endblock %}
   {% block js %}
    <script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/hoverIntent.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/cufon-yui.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/cufon-replace.js" type="text/javascript"></script> 
    <script src="{{ STATIC_URL }}js/superfish.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/FF-cash.js" type="text/javascript"></script> 
    <script src="{{ STATIC_URL }}js/script.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/Angelina_400.font.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.easing.1.3.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/shadowbox.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.detect-mobile.js"></script>
    <script type="text/javascript">
        (function($){
            $(document).ready(function () {
                var padlock = false;
                if (navigator.userAgent.indexOf("Mobile") === -1) {
                    $(".noLinkWhatsapp a").removeAttr("href", "");
                    $(".hideWhatsapp a").remove();
                }
                $("h1").mouseenter(function() {
                    if (!padlock) {
                        padlock = true;
                        $(this).addClass("animated flip");
                        var that = this;
                        setTimeout(function () {
                                    $(that).removeClass("animated flip");
                                    padlock = false;
                        }, 1500);
                    }
                });
                Shadowbox.init({continuous: true,
                                onChange: function(obj) {
                                    if (jQuery.browser.mobile && obj.content.indexOf("youtube") !== -1) {
                                        Shadowbox.close();
                                        window.location.href = obj.content;
                                    }
                                },
                                onOpen: function(obj) {
                                    if (jQuery.browser.mobile && obj.content.indexOf("youtube") !== -1) {
                                        setTimeout(function () {
                                            Shadowbox.close();
                                            window.location.href = obj.content;
                                        }, 500);
                                    } else {
                                        $("iframe").css("visibility", "hidden");
                                    }
                                },
                                onClose: function() {
                                    $("iframe").css("visibility", "visible");
                                }});
            });
            $(function() {
                var pull        = $('#pull');
                    menu        = $('nav.responsiveNav ul');
                    menuHeight  = menu.height();
            
                $(pull).on('click', function(e) {
                    e.preventDefault();
                    menu.slideToggle();
                });
                $(window).resize(function () {
                    $('ul.menu li').superfish("hide");
                });
            });
          })(jQuery);
    </script>
   {% endblock %}
   {% block iejs %}
    <!--[if IE]>
    <style type="text/css">
        h1 a {
            margin-top: 35px;
        }
    </style>
    <![endif]-->
    <!--[if lt IE 7]>
        <div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0"  alt="" /></a>
        </div>
    <![endif]-->
    <!--[if lt IE 9]>
        <script type="text/javascript" src="{{ STATIC_URL }}js/html5.js"></script>
        <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
    <![endif]-->
   {% endblock %}
   {% block extrahead %}
   {% endblock %}
{% endblock %}
</head>
<body id="page2" class="{% block pageclass %}{% endblock %}">
    <!--==============================header=================================-->
   {% block header %}
   <nav class="responsiveNav">
        <a href="#" id="pull">Menu</a>
        <ul class="responsiveNav">
            <li class="index">
                <a href="{% url template_view "index" %}" class="{% block class-patrodent-link2 %}{% endblock %}">Clínica</a>
                <ul>
                    <li class="whoWeAre"><a href="{% url template_view "quienes_somos" %}">Quienes somos</a></li>
                    <li class="KnowUs"><a href="{% url template_view "conocenos" %}">Conócenos</a></li>
                    <li class="Place"><a href="{% url template_view "instalaciones" %}">Instalaciones</a></li>
                </ul>
            </li>
            <li class="services">
                <a href="{% url template_view "servicios" %}" class="{% block class-servicios-link2 %}{% endblock %}">Servicios</a>
                <ul>
                    {% include "templates/inc.servicios.html" %}
                </ul>
            </li>
            <li class="treatments">
                <a href="{% url template_view "tratamientos" %}" class="{% block class-tratamientos-link2 %}{% endblock %}">Tratamientos</a>
                <ul>
                    {% include "templates/inc.tratamientos.html" %}
                </ul>
            </li>
            <li class="beforeAfter"><a href="{% url template_view "antes_y_despues" %}" class="{% block class-antes-despues-link2 %}{% endblock %}">Antes y despues</a></li>
            <li class="contact">
                <a href="{% url template_view "contacto" %}" class="{% block class-contacto-link2 %}{% endblock %}">Contacto</a>
                <ul>
                    <li class="hideWhatsapp">
                        <a href="https://api.whatsapp.com/send?phone=+34954211422&text=Hola%20quisiera%20hacerle%20una%20consulta" target="_blank">Whatsapp</a>
                    </li>
                    <li>
                        <a href="http://es-es.facebook.com/patrodent.patrodent" target="_blank">Facebook</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <header>
        <div class="main">
            <div class="container_24">
                
                <div class="grid_24">
                    <h1 class="sign">
                        <a href="index.html">
                            Clinica Dental Patrodent
                        </a>
                    </h1>
                    <div class="fright">
                        <div class="slogon">
                            <div class="tel">Llamanos <span><a href="tel:954 21 14 22">954 21 14 22</a></span></div>
                            <div class="whats noLinkWhatsapp">...o escribenos un <span><a href="https://api.whatsapp.com/send?phone=+34954211422&text=Hola%20quisiera%20hacerle%20una%20consulta">Whatsapp</a></span></div>
                            Estamos disponibles de 9 a 21 horas
                        </div>
                        <div class="clear"></div>
                        <nav class="navigation">
                            {% block nav %}
                                <ul class="menu">
                                    <li>
                                        <a href="{% url template_view "index" %}" class="{% block class-patrodent-link %}{% endblock %}">Clínica</a>
                                        <ul>
                                            <li><a href="{% url template_view "quienes_somos" %}">Quienes somos</a></li>
                                            <li class="KnowUs"><a href="{% url template_view "conocenos" %}">Conocenos</a></li>
                                            <li><a href="{% url template_view "instalaciones" %}">Instalaciones</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="{% url template_view "servicios" %}" class="{% block class-servicios-link %}{% endblock %}">Servicios</a>
                                        <ul style="width:250px">
                                            {% include "templates/inc.servicios.html" %}
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="{% url template_view "tratamientos" %}" class="{% block class-tratamientos-link %}{% endblock %}">Tratamientos</a>
                                        <ul style="width:250px">
                                            {% include "templates/inc.tratamientos.html" %}
                                        </ul>
                                    </li>
                                    <li><a href="{% url template_view "antes_y_despues" %}" class="{% block class-antes-despues-link %}{% endblock %}">Antes y despues</a></li>
                                    <li>
                                        <a href="{% url template_view "contacto" %}" class="{% block class-contacto-link %}{% endblock %}">Contacto</a>
                                        <ul>
                                            <li class="hideWhatsapp">
                                                <a href="https://api.whatsapp.com/send?phone=+34954211422&text=Hola%20quisiera%20hacerle%20una%20consulta" target="_blank">Whatsapp</a>
                                            </li>
                                            <li>
                                                <a href="http://es-es.facebook.com/patrodent.patrodent" target="_blank">Facebook</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            {% endblock %}
                        </nav>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </header>
  {% endblock %}
    <!--==============================content================================-->
    <section id="content">
        {% block wrapper-content %}
        <div class="main">
            <div class="container_24">
                <div class="grid_24">
                    <div class="top-pad">
                        <div class="content-inner">
                        {% block content %}
                        {% endblock %}
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                {% block extracontent %}
                {% endblock %}
            </div>
        </div>
        {% endblock %}
    </section>

    <!--==============================footer=================================-->
   <footer>
        <div class="main">
            <div class="container_24">
                <div class="prefix_1 grid_21 suffix_2">
                    <div class="footer-content">
                        <div class="wrapper indent-bot5">
                            <div class="alpha grid_13 suffix_1">
                                <div class="footer-title">Galería de fotografías</div>
                                <div class="wrapper">
                                   {% block footergallery %}
                                    <figure>
                                        <a href="{{ STATIC_URL }}images/patrocinio.jpg" rel="shadowbox[Vacation];" title="My Image">
                                            <img src="{{ STATIC_URL }}images/footer-img1.jpg" alt="" />
                                        </a>
                                    </figure>
                                    <figure>
                                        <a href="{{ STATIC_URL }}images/footer-img2.jpg" rel="shadowbox[Vacation];" title="pepep pep pop">
                                            <img src="{{ STATIC_URL }}images/footer-img2.jpg" alt="" />
                                        </a>
                                    </figure>
                                    <figure>
                                        <a href="{{ STATIC_URL }}images/footer-img3.jpg" rel="shadowbox">
                                            <img src="{{ STATIC_URL }}images/footer-img3.jpg" alt="" />
                                        </a>
                                    </figure>
                                    <figure>
                                        <a href="{{ STATIC_URL }}images/footer-img1.jpg" rel="shadowbox">
                                            <img src="{{ STATIC_URL }}images/footer-img1.jpg" alt="" />
                                        </a>
                                    </figure>
                                    <figure>
                                        <a href="{{ STATIC_URL }}images/footer-img2.jpg" rel="shadowbox">
                                            <img src="{{ STATIC_URL }}images/footer-img2.jpg" alt="" />
                                        </a>
                                    </figure>
                                   {% endblock %}
                                </div>
                            </div>
                            <div class="grid_6 omega contact_info">
                                <div class="footer-title">Información de contacto</div>
                                <dl class="contacts">
                                    <dt>Marqués de Paradas 22 1 º dcha<br/>41001 Sevilla</dt>
                                    <dd><span>E-mail:</span><a class="link" href="mailto:info@patrodent.com">info@patrodent.com</a></dd>
                                    <dd><span>Teléfono:</span><a class="link" href="tel:954 21 14 22">954 21 14 22</a></dd>
                                    <dd class="noLinkWhatsapp"><span>WhatsApp:</span><a class="link" href="https://api.whatsapp.com/send?phone=+34954211422&text=Hola%20quisiera%20hacerle%20una%20consulta" target="_blank">954 21 14 22</a></dd>
                                    <dd><span>Facebook:</span><a class="link" href="http://es-es.facebook.com/patrodent.patrodent" target="_blank">patrodent.patrodent</a></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>        
        </div>
    </footer>
    {% block footerjs %}
        <script type="text/javascript"> Cufon.now(); </script>
    {% endblock %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27507431-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
