<form action="https://www.123formbuilder.com/form-283841/Patrodent" class="form" enctype="multipart/form-data" id="mainform123" method="post" onsubmit="RefreshFrameHeight(1); return true;">
    <input name="action" type="hidden" value="verify"/>
    <input id="special_autoresponder" name="special_autoresponder" type="hidden" value=""/>
    <input name="language" type="hidden" value="en"/>
    <input name="languageChanged" type="hidden" value="no"/>
    <div class="class123_maintable maintable_centered" style="min-width: 250px; ">
        <!-- Form headline begins -->
        <div class="optionscontainer headline">
            <div>
                <h2 style="font-size:31px">
                    Formulario de Contacto
                </h2>
            </div>
        </div>
        <!-- Form headline ends -->
        <!-- fieldcontainer -->
        <div class="fieldcontainer currentPage1 currentPageActive  fieldwidth100 " style=" ">
            <div class="currentPage1 currentPageActive" id="row1">
                <div class="rowleft" style="text-align:left; ">
                    <label class="class123-label class123-fieldname fontbold  requiredfield " for="id123-control1735479" id="id123-title1735479">
                        Nombre:
                    </label>
                </div>
                <div align="left" class="rowright" style="">
                    <input id="errorflagrow1" type="hidden" value=""/>
                    <input id="id123-control1735479" name="control1735479" onchange="InputRules(1735479); ;  " style="width:280px; max-width:96% !important;" type="text" value=""/>
                </div>
            </div>
             <label class="class123-labelinfo labelinfo" id="id123-titlemic1735479">Escribe tu nombre completo</label>
        </div>
        <!-- fieldcontainer ends -->
        <!-- fieldcontainer -->
        <div class="fieldcontainer currentPage1 currentPageActive  fieldwidth100 " style=" ">
            <div class="currentPage1 currentPageActive" id="row2">
                <div class="rowleft" style="text-align:left; ">
                    <label class="class123-label class123-fieldname fontbold " for="id123-control2725345" id="id123-title2725345">
                        Teléfono
                    </label>
                </div>
                <div align="left" class="rowright" style="">
                    <input id="errorflagrow2" type="hidden" value=""/>
                    <input id="id123-control2725345" name="control2725345" onchange="InputRules(2725345); ;  " onclick="InputActions(this,'row2');" onkeyup="InputActions(this,'row2'); " style="width:280px; max-width:96% !important;" type="text" value=""/>
                </div>
                <label class="class123-labelinfo labelinfo" id="id123-titlemic2725345">
                        Escribe tu teléfono para poder contactar contigo
                </label>
            </div>
        </div>
        <!-- fieldcontainer ends -->
        <!-- fieldcontainer -->
        <div class="fieldcontainer currentPage1 currentPageActive  fieldwidth100 " style=" ">
            <div class="currentPage1 currentPageActive" id="row2">
                <div class="rowleft" style="text-align:left; ">
                    <label class="class123-label class123-fieldname fontbold  requiredfield " for="id123-control1735480" id="id123-title1735480">
                        Email:
                    </label>
                </div>
                <div align="left" class="rowright" style="">
                    <input id="errorflagrow2" type="hidden" value=""/>
                    <input id="id123-control1735480" name="control1735480" onchange="InputRules(1735480); ;  " style="width:280px; max-width:96% !important;" type="text" value=""/>
                </div>
                <label class="class123-labelinfo labelinfo" id="id123-titlemic1735480">
                        Escribe tu email para poder contactar contigo
                </label>
            </div>
        </div>
        <!-- fieldcontainer ends -->
        <!-- fieldcontainer -->
        <div class="fieldcontainer currentPage1 currentPageActive  fieldwidth100 " style=" ">
            <div class="currentPage1 currentPageActive" id="row3">
                <div class="rowleft" style="text-align:left; ">
                    <label class="class123-label class123-fieldname fontbold  requiredfield " for="id123-control1735481" id="id123-title1735481">
                        Consulta:
                    </label>
                </div>
                <div align="left" class="rowright" style="">
                    <input id="errorflagrow3" type="hidden" value=""/>
                    <textarea id="id123-control1735481" name="control1735481" onchange="InputRules(1735481); ;  " rows="4" style="width:280px; max-width:96% !important;"></textarea>
                </div>
                <label class="class123-labelinfo labelinfo" id="id123-titlemic1735481">
                    ¿Cual es tu consulta? Te atenderemos lo antes posible
                </label>
            </div>
        </div>
        <!-- fieldcontainer   -->
        <!-- Buttons begin here -->
        <div class="fieldcontainer thebuttons">
            <div class="currentPage1 currentPageActive">
                <div class="buttons-wrapper">
                    <a class="button" data-type="submit">Contacta con nosotros</a>
                </div>
            </div>
        </div>
        <!-- fieldcontainer ends -->
        <!-- Buttons end here -->
    </div>
    <div style="height:1px; display: none; visibility: hidden;">
        <input name="email" type="text"/>
    </div>
    <input id="hiddenfields" name="hiddenfields" type="hidden" value=""/>
    <input id="hiddenfields_pages" name="hiddenfields_pages" type="hidden" value=""/>
    <input id="activepage" name="activepage" type="hidden" value="1"/>
    <input id="totalpages" name="totalpages" type="hidden" value="1"/>
    <input id="nextpagenr" name="nextpagenr" type="hidden" value="2"/>
    <input id="prevpagenr" name="prevpagenr" type="hidden" value="0"/>
    <script type="text/javascript">
        InputRules('firsttime');
    </script>
    <input name="usage" type="hidden" value="e"/>
</form>

<script type="text/javascript">multiPageTotal=1;</script>

<!-- 123ContactForm.com script ends here -->
