{% url 'template_view' "sedacion-consciente" as sedacion_url %}
{% url 'template_view' "financiacion" as financiacion_url %}
{% url 'template_view' "plan-salud" as plan_salud_url %}
{% url 'template_view' "radiologia" as radiologia_url %}
{% url 'template_view' "software-diseno" as software_diseno_url %}
{% url 'template_view' "software-ortodoncia" as software_ortodoncia_url %}
{% url 'template_view' "analisis-anatomopatologico-muestras-orales" as analisis_url %}
<li><a href="{{ sedacion_url }}" {% ifequal sedacion_url full_path %} class="active"{% endifequal %}><i></i>Sedación Consciente</a></li>
<li><a href="{{ financiacion_url }}" {% ifequal financiacion_url full_path %} class="active"{% endifequal %}><i></i>Financiación a tu medida</a></li>
{#<li><a href="{{ plan_salud_url }}" {% ifequal plan_salud_url full_path %} class="active"{% endifequal %}><i></i>Plan de Salud Bucodental</a></li>#}
<li><a href="{{ radiologia_url }}" {% ifequal radiologia_url full_path %} class="active"{% endifequal %}><i></i>Radiología digital 2D y 3D&nbsp;&nbsp;</a></li>
<li><a href="{{ software_diseno_url }}" {% ifequal software_diseno_url full_path %} class="active"{% endifequal %}><i></i>Diseño de sonrisa digital&nbsp;&nbsp;</a></li>
{#<li><a href="{{ software_ortodoncia_url }}" {% ifequal software_ortodoncia_url full_path %} class="active"{% endifequal %}><i></i>Software digital de ortodoncia</a></li>#}
<li><a href="{{ analisis_url }}" {% ifequal analisis_url full_path %} class="active"{% endifequal %}><i></i>Análisis Anatomopatológico&nbsp;&nbsp;</a></li>
