{% extends "templates/base.html" %}

{% load static %}

{% block class-tratamientos-link %} active{% endblock %}

{% block footerjs %}
    {{ block.super }}
    {% block js-after-before %}
        <script type="text/javascript" src="{% static 'js/jquery.swap-images.js' %}"></script>
        <script type="text/javascript">
            (function($){
                $(document).ready(function () {
                    setTimeout(function() {
                        $(".after").swapImages({before: "antes", after: "despues"});
                    }, 1000);
                });
            })(jQuery);
        </script>
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="alpha prefix_1 grid_22 suffix_1 omega">
            <div class="important-block">
                <div class="wrapper">
                    <div class="alpha grid_23">
                        <div class="indent-l">
                            <div>
                                <div class="title"><a href="{% url 'template_view' "tratamientos" %}">Tratamientos</a></div>
                                <ul class="list-1 columns3">
                                    {% include "templates/inc.tratamientos.html" %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block content-body-wrapper %}
        <div class="alpha prefix_1 grid_15">
            <div class="border-1">
                <h2 class="p3">{% block content-title %}{% endblock %}</h2>
                {% block content-body %}{% endblock %}
            </div>
        </div>
        {% endblock %}
        {% block before-after-title-wrapper %}
        <div class="grid_7 suffix_1 omega">
            {% block before-after-title %}
                <h4 class="margin-bot">Antes y después</h4>
                <p> Pulsa en las imágenes para ver el <strong>antes</strong> de cada caso.</p>
            {% endblock %}
            <div class="imgswrapper">
                {% block before-after %}
                    <div class="wrapper indent-bot2">
                        <figure class="img-style img-indent">
                            <img src="{% static 'images/limpieza-despues.jpg' %}" class="after" />
                            <span class="afterBeforeText">Después</span>
                        </figure>
                        <figure class="img-style"><img src="{% static 'images/periodoncia_despues2.jpg' %}" alt="" class="after" />
                            <span class="afterBeforeText">Después</span>
                        </figure>
                    </div>
                    <div class="wrapper indent-bot2">
                        <figure class="img-style img-indent"><img src="{% static 'images/limpieza-despues.jpg' %}" alt="" class="after" />
                            <span class="afterBeforeText">Después</span>
                        </figure>
                        <figure class="img-style"><img src="{% static 'images/periodoncia_despues2.jpg' %}" alt="" class="after" />
                            <span class="afterBeforeText">Después</span>
                        </figure>
                    </div>
                {% endblock %}
           </div>
        </div>
        {% endblock %}
    </div>
{% endblock %}
