<div class="wrapper indent-bot2 afterAndBefore">
    <figure class="img-style img-indent"><img src="{{ STATIC_URL }}images/periodoncia_despues.jpg" alt="Caso real periodoncia" title="Caso real periodoncia" class="after" />
        <span class="afterBeforeText">Después</span>
    </figure>
</div>
<div class="wrapper indent-bot2 afterAndBefore">
    <figure class="img-style img-indent"><img src="{{ STATIC_URL }}images/periodoncia_despues2.jpg" alt="Caso real periodoncia" title="Caso real periodoncia" class="after" />
        <span class="afterBeforeText">Después</span>
    </figure>
</div>
<div class="wrapper indent-bot2 afterAndBefore">
    <figure class="img-style img-indent"><img src="{{ STATIC_URL }}images/periodoncia_despues4.jpg" alt="Caso real periodoncia" title="Caso real periodoncia" class="after" />
        <span class="afterBeforeText">Después</span>
    </figure>
</div>
