{% load static %}
<div class="wrapper indent-bot2 afterAndBefore">
    <figure class="img-style img-indent"><img src="{% static 'images/protesis_despues_1.jpg' %}" alt="Caso real protesis" title="Caso real protesis" class="after" />
        <span class="afterBeforeText">Después</span>
    </figure>
</div>
<div class="wrapper indent-bot2 afterAndBefore">
    <figure class="img-style img-indent"><img src="{% static 'images/protesis_despues_2.jpg' %}" alt="Caso real protesis" title="Caso real protesis" class="after" />
        <span class="afterBeforeText">Después</span>
    </figure>
</div>