{% load static %}
<div class="wrapper indent-bot2 afterAndBefore">
    <figure class="img-style img-indent"><img src="{% static 'images/estetica_despues_1.jpg' %}" alt="Caso real odontología conservadora" title="Caso real odontología conservadora" class="after" />
        <span class="afterBeforeText">Después</span>
    </figure>
</div>
{% if all %}
<div class="wrapper indent-bot2 afterAndBefore">
    <figure class="img-style img-indent"><img src="{% static 'images/estetica_despues_2.jpg' %}" alt="Caso real odontología conservadora" title="Caso real odontología conservadora" class="after" />
        <span class="afterBeforeText">Después</span>
    </figure>
</div>
{% endif %}