<div class="wrapper indent-bot2 afterAndBefore">
    <figure class="img-style img-indent"><img src="{{ STATIC_URL }}images/periodoncia_despues.jpg" alt="XXX" title="XXX" class="after" />
        <span class="afterBeforeText">Después</span>
    </figure>
</div>
<div class="wrapper indent-bot2 afterAndBefore">
    <figure class="img-style img-indent"><img src="{{ STATIC_URL }}images/periodoncia_despues2.jpg" alt="XXX" title="XXX" class="after" />
        <span class="afterBeforeText">Después</span>
    </figure>
</div>
<div class="wrapper indent-bot2 afterAndBefore">
    <figure class="img-style img-indent"><img src="{{ STATIC_URL }}images/no-image.jpg" alt="XXX" title="XXX" class="after" />
        <span class="afterBeforeText">Después</span>
    </figure>
</div>
