<div class="wrapper indent-bot2 afterAndBefore">
    <figure class="img-style img-indent"><img src="{{ STATIC_URL }}images/ortodoncia_despues_4.jpg" alt="Caso real ortodoncia" title="Caso real ortodoncia" class="after" />
        <span class="afterBeforeText">Después</span>
    </figure>
</div>
<div class="wrapper indent-bot2 afterAndBefore">
    <figure class="img-style img-indent"><img src="{{ STATIC_URL }}images/ortodoncia_despues_1.jpg" alt="Caso real ortodoncia" title="Caso real ortodoncia" class="after" />
        <span class="afterBeforeText">Después</span>
    </figure>
</div>
{% if all %}
<div class="wrapper indent-bot2 afterAndBefore">
    <figure class="img-style img-indent"><img src="{{ STATIC_URL }}images/ortodoncia_despues_3.jpg" alt="Caso real ortodoncia" title="Caso real ortodoncia" class="after" />
        <span class="afterBeforeText">Después</span>
    </figure>
</div>
{% endif %}